vendor/cache/*
tmp/cache/*
log/development.log
log/test.log
tmp/**/*
tmp/*
db/development.sqlite3
db/test.sqlite3
db/*.sqlite3
doc/api
doc/app
*.swp
*~
.DS_Store
public/system/*
log/*
dump.rdb
nohup.out
config/environments/personal/private.rb
