*.rbc
*.sassc
.sass-cache
capybara-*.html
.rspec
.rvmrc
.bundle
vendor/bundle
public/system/*
coverage/
spec/tmp/*
**.orig
rerun.txt
pickle-email-*.html
.project

vendor/cache/*
tmp/cache/*
log/*
tmp/**/*
tmp/*
db/*.sqlite3
doc/api
doc/app
*.swp
*~
.DS_Store
**/.DS_Store
public/system/*
dump.rdb
nohup.out
config/environments/personal/private.rb

.bundle/
/solr/data
/solr/pids
public/uploads/*