vendor/cache/*
tmp/cache/*
log/*
tmp/**/*
tmp/*
db/*.sqlite3
doc/api
doc/app
*.swp
*~
.DS_Store
**/.DS_Store
public/system/*
dump.rdb
nohup.out
config/environments/personal/private.rb

db/test.sqlite3

.bundle/
