<div id="facebook-search-results">
<div class="loading load-facebook">
<h3>Loading...</h3>
	<i class="icon-refresh"></i><br/>
	...please wait while we search Facebook for "<%= @search %>".
</div>
<div class="clear"></div>
</div> 
