<div id="facebook-search-results">
	FACEBOOK AJAX LOADER GOES HERE
	<div class="clear"></div>
</div> 
<script>
<% content_for :fb_js do %>
FB.api("search/?q=<%= CGI::escape(@search) %>&fields=id,picture,description,name,bio,genre,likes,record_label,category&type=page&limit=10",function(pages){
  $('#facebook-search-results').html("");
  $.each(pages['data'],function(){
    if(this['category'] != "Musician/band") return true;
    if(this['bio'] == null) var bio = this['description'];
    else var bio = this['bio'];
    $('#facebook-search-results').append("<%=j render 'artists/fb_search_js' %>");
    $('.facebook-result-single:last .fb-row')
      .find('.fb-artist-image').css('background-image','url('+this['picture']+')')
      .parent().find('.fb-artist-info .likes').html(this['likes']+' Likes')
      .parent().find('.name').html("<a href=\"http://facebook.com/"+this['id']+"\">"+this['name']+'</a>')
      .parent().find('.genre').html(this['genre'])
      .parent().find('.record_label').html(this['record_label']);
    $('.facebook-result-single:last .fb-add').data('fb-id',this['id']);
    });
  $('.facebook-result-single .fb-add').click(function(){
    $('#facebook-search-results').fadeOut(300,function(){$('#facebook-search-results').html("AJAXY BUSINESS HERE TOO PLEASE. Please wait while we import that artist, you'll be taken to their profile once they are imported!")}).fadeIn();
    $.ajax({ url: '/artists/import/'+$(this).data('fb-id')+'/'+FB.getAuthResponse()['accessToken']+'.js'});
  });
});
<% end %>
</script>