<div class="facebook-result-single">
  <div class="fb-row">
    <div class="fb-artist-image" style="background-repeat:no-repeat;background-position:center;">
    </div>
    <div class="fb-artist-info">
      <h2 class="instruct-font font-15 name">
        
      </h2>
      <span class="orange-txt likes">
        
      </span><br/>
      <span class="genre">
        
      </span><br/>
      <span class="record_label">
        
      </span>
    </div>
    <i class="icon-bookmark"></i>
    <i class="icon-facebook"></i>
  </div>
  <div class="fb-add o-button id"><i class="icon-plus">
  </div>
</div>