<% content_for :content_class, 'content-pad-187-bottom' %>
<div id="manage-form">
<h2 class="signika-txt top-header font-35 add-release-header">Edit <%= @artist.name %>'s details</h2>	
<%= render 'artists/form' %>
</div>
