<% content_for :title do %>Sorry we found no results for "<%= @search %>"<% end %>
<div class="content content-pad-160-bottom">
	<div class="content-top">
		<h2 class="signika-txt top-header font-35">Sorry, we couldn’t find  what you’re looking for...</h2>
		<div class="content-top-right">
			<h3>
			<div class="font-13">
				<strong>Sorry we found no results for “<%= @search %>”..</strong>
				<br/>
				<br/>
			</div></h3>
			Please make sure the artist name is spelt correctly.
			<br/>
			<br/>
			If you are not sure which artists to track, then take a look at some recommended artists below.
		</div>
	</div>
	<div class="clear"></div>
	<div class="recommended-artists-outer other-recommend-nudge">
		<div class="recommended-artists">
			<ul>				
				<%= render :partial => 'shared/artist_suggestion', :collection => @artists[0, 6] %>
			</ul>
		</div>
	</div>
