<% content_for :title do %>Sorry we found no results for "<%= @search %>"<% end %>
<% content_for :description do %>Sorry we couldn't find what you are looking for. Please make sure the artist name is spelt correctly.<% end %>
<div class="content content-pad-160-bottom">
	<div class="content-top">
		<h2 class="signika-txt top-header font-35">Sorry, we couldn’t find  what you’re looking for...</h2>
		<div class="content-top-right">
			<h3>
  			<div class="font-13">
  				<strong>Sorry we found no results for “<%= @search %>”..</strong>
  				<br/>
  				<br/>
  			</div>
			</h3>
			Please make sure the artist name is spelt correctly.
			<br/>
			<br/>
			Here are some results we found on Facebook, but they aren't in the SNGTRKR databse yet. If they're what you were looking for, feel free to add them!
      </div>
  </div>
  <div class="clear"></div>
  	<div id="facebook-search-results">
    	FACEBOOK AJAX LOADER GOES HERE
    	<div class="clear"></div>
  	</div> 
    <script>
    <% content_for :fb_js do %>
    FB.api("search/?q=<%= CGI::escape(@search) %>&fields=id,picture,description,name,bio,genre,likes,record_label,category&type=page&limit=10",function(pages){
      $('#facebook-search-results').html("");
      $.each(pages['data'],function(){
        if(this['category'] != "Musician/band") return true;
        if(this['bio'] == null) var bio = this['description'];
        else var bio = this['bio'];
        $('#facebook-search-results').append("<div class=\"facebook-result-single\"><div class=\"fb-row\"><div class=\"fb-artist-image\" style=\"background-image:url("+this['picture']+");background-repeat:no-repeat;background-position:center;\"></div><div class=\"fb-artist-info\"><span class=\"instruct-font font-15\" data-fb-id=\""+this['id']+"\">"+this['name']+"</span><br/><span class=\"orange-txt\">"+this['likes']+" likes</span><br/>"+this['genre']+"<br/>"+this['record_label']+"</div><i class=\"icon-bookmark\"></i><i class=\"icon-facebook\"></i></div><div class=\"fb-add o-button\"><i class=\"icon-plus\"></div></div>");  
      });
      $('.facebook-result-single .fb-add').click(function(){
        $('#facebook-search-results').fadeOut(300,function(){$('#facebook-search-results').html("AJAXY BUSINESS HERE TOO PLEASE. Please wait while we import that artist, you'll be taken to their profile once they are imported!")}).fadeIn();
        $.ajax({ url: '/artists/import/'+$(this).data('fb-id')+'/'+ FB.getAuthResponse()['accessToken']+'.js'});
      });
    });
    <% end %>
    </script>
    <%= render 'shared/fb_async' %>
<!-- <div class="facebook-result-single">
<div class="fb-row">
<div class="fb-artist-image"></div>
<div class="fb-artist-info"></div>
<div class="fb-add"></div>
</div>
</div>

<img class=\"picture\" src=\""+this['picture']+"\"><div class=\"name\" data-fb-id=\""+this['id']+"\">"+this['name']+"</div><div class=\"genre\">"+this['genre']+" / "+this['record_label']+" / "+this['likes']+" Likes</div><div class=\"bio\">"+bio+"</div><div class=\"clear\"></div> -->