<html style="width: 100%; margin-top: 0px !important; padding-top: 0px !important;">
<head>
<style type="text/css">
    html, body {
        width: 100%;
        margin-top: 0px !important;
        padding-top: 0px !important;
    }

    body {
        background-color: #FFFFFF;
        margin-top: 0px !important;
        padding-top: 0px !important;
        font-family: sans-serif;
    }

    table {
        margin-top: 0px !important;
        padding-top: 0px !important;
    }

    h1, h2 {
        font-weight: normal;
    }

    body, {
        letter-spacing: normal;
        word-spacing: 0px;
        margin-top: 0;
        padding-top: 0;
        margin-right: 0;
        padding-right: 0;
        margin-bottom: 0;
        padding-bottom: 0;
        margin-left: 0;
        padding-left: 0;
        text-shadow: none;
        color: #333333 !important;
        font-size: 13px;
        line-height: 22px;
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    }

    a, a {
        letter-spacing: normal;
        word-spacing: 0px;
        margin-top: 0;
        padding-top: 0;
        margin-right: 0;
        padding-right: 0;
        margin-bottom: 0;
        padding-bottom: 0;
        margin-left: 0;
        padding-left: 0;
        text-shadow: none;
        color: #000000 !important;
        font-size: px;
        line-height: px;
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    }

    h1, h1 {
        letter-spacing: normal;
        word-spacing: 0px;
        margin-top: 0;
        padding-top: 0;
        margin-right: 0;
        padding-right: 0;
        margin-bottom: 0;
        padding-bottom: 0;
        margin-left: 0;
        padding-left: 0;
        text-shadow: none;
        color: #45a1c6 !important;
        font-size: 20px;
        line-height: 26px;
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    }

    p, p {
        letter-spacing: normal;
        word-spacing: 0px;
        margin-top: 0;
        padding-top: 0;
        margin-right: 0;
        padding-right: 0;
        margin-bottom: 0;
        padding-bottom: 0;
        margin-left: 0;
        padding-left: 0;
        text-shadow: none;
        color: #333333 !important;
        font-size: 13px;
        line-height: 13px;
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    }

    h2, h2 {
        letter-spacing: normal;
        word-spacing: 0px;
        margin-top: 0;
        padding-top: 0;
        margin-right: 0;
        padding-right: 0;
        margin-bottom: 0;
        padding-bottom: 0;
        margin-left: 0;
        padding-left: 0;
        text-shadow: none;
        color: #333333 !important;
        font-size: 12px;
        line-height: 18px;
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    }

    .wysiwyg-text-align-right {
        text-align: right;
    }

    .wysiwyg-text-align-center {
        text-align: center;
    }

    .wysiwyg-text-align-left {
        text-align: left;
    }

    .wysiwyg-color-footer_text {
        color: #666666 !important;
        font-size: 10px !important;

        font-family: inherit;
    }

    .wysiwyg-color-footer_text_2 {
        color: #9e9e9e !important;
        font-size: 10px !important;

        font-family: inherit;
    }

    h1, h2 {
        font-weight: normal;
    }

    .block_623981 td body, .block_623981 td {
        letter-spacing: normal;
        word-spacing: 0px;
        margin-top: 0;
        padding-top: 0;
        margin-right: 0;
        padding-right: 0;
        margin-bottom: 0;
        padding-bottom: 0;
        margin-left: 0;
        padding-left: 0;
        text-shadow: none;
        color: #333333 !important;
        font-size: 13px;
        line-height: 22px;
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    }

    .block_623981 td a, .block_623981 td a {
        letter-spacing: normal;
        word-spacing: 0px;
        margin-top: 0;
        padding-top: 0;
        margin-right: 0;
        padding-right: 0;
        margin-bottom: 0;
        padding-bottom: 0;
        margin-left: 0;
        padding-left: 0;
        text-shadow: none;
        color: #000000 !important;
        font-size: px;
        line-height: px;
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    }

    .block_623981 td h1, .block_623981 td h1 {
        letter-spacing: normal;
        word-spacing: 0px;
        margin-top: 0;
        padding-top: 0;
        margin-right: 0;
        padding-right: 0;
        margin-bottom: 0;
        padding-bottom: 0;
        margin-left: 0;
        padding-left: 0;
        text-shadow: none;
        color: #45a1c6 !important;
        font-size: 20px;
        line-height: 26px;
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    }

    .block_623981 td p, .block_623981 td p {
        letter-spacing: normal;
        word-spacing: 0px;
        margin-top: 0;
        padding-top: 0;
        margin-right: 0;
        padding-right: 0;
        margin-bottom: 0;
        padding-bottom: 0;
        margin-left: 0;
        padding-left: 0;
        text-shadow: none;
        color: #333333 !important;
        font-size: 13px;
        line-height: 13px;
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    }

    .block_623981 td h2, .block_623981 td h2 {
        letter-spacing: normal;
        word-spacing: 0px;
        margin-top: 0;
        padding-top: 0;
        margin-right: 0;
        padding-right: 0;
        margin-bottom: 0;
        padding-bottom: 0;
        margin-left: 0;
        padding-left: 0;
        text-shadow: none;
        color: #333333 !important;
        font-size: 12px;
        line-height: 18px;
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    }

    .wysiwyg-text-align-right {
        text-align: right;
    }

    .wysiwyg-text-align-center {
        text-align: center;
    }

    .wysiwyg-text-align-left {
        text-align: left;
    }

    .wysiwyg-color-footer_text {
        color: #666666 !important;
        font-size: 10px !important;

        font-family: inherit;
    }

    .wysiwyg-color-footer_text_2 {
        color: #9e9e9e !important;
        font-size: 10px !important;

        font-family: inherit;
    }

    h1, h2 {
        font-weight: normal;
    }

    .block_623983 td body, .block_623983 td {
        letter-spacing: normal;
        word-spacing: 0px;
        margin-top: 0;
        padding-top: 0;
        margin-right: 0;
        padding-right: 0;
        margin-bottom: 0;
        padding-bottom: 0;
        margin-left: 0;
        padding-left: 0;
        text-shadow: none;
        color: #333333 !important;
        font-size: 13px;
        line-height: 22px;
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    }

    .block_623983 td a, .block_623983 td a {
        letter-spacing: normal;
        word-spacing: 0px;
        margin-top: 0;
        padding-top: 0;
        margin-right: 0;
        padding-right: 0;
        margin-bottom: 0;
        padding-bottom: 0;
        margin-left: 0;
        padding-left: 0;
        text-shadow: none;
        color: #000000 !important;
        font-size: px;
        line-height: px;
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    }

    .block_623983 td h1, .block_623983 td h1 {
        letter-spacing: normal;
        word-spacing: 0px;
        margin-top: 0;
        padding-top: 0;
        margin-right: 0;
        padding-right: 0;
        margin-bottom: 0;
        padding-bottom: 0;
        margin-left: 0;
        padding-left: 0;
        text-shadow: none;
        color: #45a1c6 !important;
        font-size: 20px;
        line-height: 26px;
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    }

    .block_623983 td p, .block_623983 td p {
        letter-spacing: normal;
        word-spacing: 0px;
        margin-top: 0;
        padding-top: 0;
        margin-right: 0;
        padding-right: 0;
        margin-bottom: 0;
        padding-bottom: 0;
        margin-left: 0;
        padding-left: 0;
        text-shadow: none;
        color: #333333 !important;
        font-size: 13px;
        line-height: 13px;
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    }

    .block_623983 td h2, .block_623983 td h2 {
        letter-spacing: normal;
        word-spacing: 0px;
        margin-top: 0;
        padding-top: 0;
        margin-right: 0;
        padding-right: 0;
        margin-bottom: 0;
        padding-bottom: 0;
        margin-left: 0;
        padding-left: 0;
        text-shadow: none;
        color: #333333 !important;
        font-size: 12px;
        line-height: 18px;
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    }

    .wysiwyg-text-align-right {
        text-align: right;
    }

    .wysiwyg-text-align-center {
        text-align: center;
    }

    .wysiwyg-text-align-left {
        text-align: left;
    }

    .wysiwyg-color-footer_text {
        color: #666666 !important;
        font-size: 10px !important;

        font-family: inherit;
    }

    .wysiwyg-color-footer_text_2 {
        color: #9e9e9e !important;
        font-size: 10px !important;

        font-family: inherit;
    }

    h1, h2 {
        font-weight: normal;
    }

    .block_623985 td body, .block_623985 td {
        letter-spacing: normal;
        word-spacing: 0px;
        margin-top: 0;
        padding-top: 0;
        margin-right: 0;
        padding-right: 0;
        margin-bottom: 0;
        padding-bottom: 0;
        margin-left: 0;
        padding-left: 0;
        text-shadow: none;
        color: #333333 !important;
        font-size: 13px;
        line-height: 22px;
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    }

    .block_623985 td a, .block_623985 td a {
        letter-spacing: normal;
        word-spacing: 0px;
        margin-top: 0;
        padding-top: 0;
        margin-right: 0;
        padding-right: 0;
        margin-bottom: 0;
        padding-bottom: 0;
        margin-left: 0;
        padding-left: 0;
        text-shadow: none;
        color: #000000 !important;
        font-size: px;
        line-height: px;
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    }

    .block_623985 td h1, .block_623985 td h1 {
        letter-spacing: normal;
        word-spacing: 0px;
        margin-top: 0;
        padding-top: 0;
        margin-right: 0;
        padding-right: 0;
        margin-bottom: 0;
        padding-bottom: 0;
        margin-left: 0;
        padding-left: 0;
        text-shadow: none;
        color: #45a1c6 !important;
        font-size: 20px;
        line-height: 26px;
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    }

    .block_623985 td p, .block_623985 td p {
        letter-spacing: normal;
        word-spacing: 0px;
        margin-top: 0;
        padding-top: 0;
        margin-right: 0;
        padding-right: 0;
        margin-bottom: 0;
        padding-bottom: 0;
        margin-left: 0;
        padding-left: 0;
        text-shadow: none;
        color: #333333 !important;
        font-size: 13px;
        line-height: 13px;
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    }

    .block_623985 td h2, .block_623985 td h2 {
        letter-spacing: normal;
        word-spacing: 0px;
        margin-top: 0;
        padding-top: 0;
        margin-right: 0;
        padding-right: 0;
        margin-bottom: 0;
        padding-bottom: 0;
        margin-left: 0;
        padding-left: 0;
        text-shadow: none;
        color: #333333 !important;
        font-size: 12px;
        line-height: 18px;
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    }

    .wysiwyg-text-align-right {
        text-align: right;
    }

    .wysiwyg-text-align-center {
        text-align: center;
    }

    .wysiwyg-text-align-left {
        text-align: left;
    }

    .wysiwyg-color-footer_text {
        color: #666666 !important;
        font-size: 10px !important;

        font-family: inherit;
    }

    .wysiwyg-color-footer_text_2 {
        color: #9e9e9e !important;
        font-size: 10px !important;

        font-family: inherit;
    }

    h1, h2 {
        font-weight: normal;
    }

    .block_623974 td body, .block_623974 td {
        letter-spacing: normal;
        word-spacing: 0px;
        margin-top: 0;
        padding-top: 0;
        margin-right: 0;
        padding-right: 0;
        margin-bottom: 0;
        padding-bottom: 0;
        margin-left: 0;
        padding-left: 0;
        text-shadow: none;
        color: #333333 !important;
        font-size: 13px;
        line-height: 22px;
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    }

    .block_623974 td a, .block_623974 td a {
        letter-spacing: normal;
        word-spacing: 0px;
        margin-top: 0;
        padding-top: 0;
        margin-right: 0;
        padding-right: 0;
        margin-bottom: 0;
        padding-bottom: 0;
        margin-left: 0;
        padding-left: 0;
        text-shadow: none;
        color: #000000 !important;
        font-size: px;
        line-height: px;
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    }

    .block_623974 td h1, .block_623974 td h1 {
        letter-spacing: normal;
        word-spacing: 0px;
        margin-top: 0;
        padding-top: 0;
        margin-right: 0;
        padding-right: 0;
        margin-bottom: 0;
        padding-bottom: 0;
        margin-left: 0;
        padding-left: 0;
        text-shadow: none;
        color: #45a1c6 !important;
        font-size: 20px;
        line-height: 26px;
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    }

    .block_623974 td p, .block_623974 td p {
        letter-spacing: normal;
        word-spacing: 0px;
        margin-top: 0;
        padding-top: 0;
        margin-right: 0;
        padding-right: 0;
        margin-bottom: 0;
        padding-bottom: 0;
        margin-left: 0;
        padding-left: 0;
        text-shadow: none;
        color: #333333 !important;
        font-size: 13px;
        line-height: 13px;
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    }

    .block_623974 td h2, .block_623974 td h2 {
        letter-spacing: normal;
        word-spacing: 0px;
        margin-top: 0;
        padding-top: 0;
        margin-right: 0;
        padding-right: 0;
        margin-bottom: 0;
        padding-bottom: 0;
        margin-left: 0;
        padding-left: 0;
        text-shadow: none;
        color: #333333 !important;
        font-size: 12px;
        line-height: 18px;
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    }

    .wysiwyg-text-align-right {
        text-align: right;
    }

    .wysiwyg-text-align-center {
        text-align: center;
    }

    .wysiwyg-text-align-left {
        text-align: left;
    }

    .wysiwyg-color-footer_text {
        color: #666666 !important;
        font-size: 10px !important;

        font-family: inherit;
    }

    .wysiwyg-color-footer_text_2 {
        color: #9e9e9e !important;
        font-size: 10px !important;

        font-family: inherit;
    }

    h1, h2 {
        font-weight: normal;
    }

    .block_623945 td body, .block_623945 td {
        letter-spacing: normal;
        word-spacing: 0px;
        margin-top: 0;
        padding-top: 0;
        margin-right: 0;
        padding-right: 0;
        margin-bottom: 0;
        padding-bottom: 0;
        margin-left: 0;
        padding-left: 0;
        text-shadow: none;
        color: #333333 !important;
        font-size: 13px;
        line-height: 22px;
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    }

    .block_623945 td a, .block_623945 td a {
        letter-spacing: normal;
        word-spacing: 0px;
        margin-top: 0;
        padding-top: 0;
        margin-right: 0;
        padding-right: 0;
        margin-bottom: 0;
        padding-bottom: 0;
        margin-left: 0;
        padding-left: 0;
        text-shadow: none;
        color: #000000 !important;
        font-size: px;
        line-height: px;
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    }

    .block_623945 td h1, .block_623945 td h1 {
        letter-spacing: normal;
        word-spacing: 0px;
        margin-top: 0;
        padding-top: 0;
        margin-right: 0;
        padding-right: 0;
        margin-bottom: 0;
        padding-bottom: 0;
        margin-left: 0;
        padding-left: 0;
        text-shadow: none;
        color: #45a1c6 !important;
        font-size: 20px;
        line-height: 26px;
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    }

    .block_623945 td p, .block_623945 td p {
        letter-spacing: normal;
        word-spacing: 0px;
        margin-top: 0;
        padding-top: 0;
        margin-right: 0;
        padding-right: 0;
        margin-bottom: 0;
        padding-bottom: 0;
        margin-left: 0;
        padding-left: 0;
        text-shadow: none;
        color: #333333 !important;
        font-size: 13px;
        line-height: 13px;
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    }

    .block_623945 td h2, .block_623945 td h2 {
        letter-spacing: normal;
        word-spacing: 0px;
        margin-top: 0;
        padding-top: 0;
        margin-right: 0;
        padding-right: 0;
        margin-bottom: 0;
        padding-bottom: 0;
        margin-left: 0;
        padding-left: 0;
        text-shadow: none;
        color: #333333 !important;
        font-size: 12px;
        line-height: 18px;
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    }

    .wysiwyg-text-align-right {
        text-align: right;
    }

    .wysiwyg-text-align-center {
        text-align: center;
    }

    .wysiwyg-text-align-left {
        text-align: left;
    }

    .wysiwyg-color-footer_text {
        color: #666666 !important;
        font-size: 10px !important;

        font-family: inherit;
    }

    .wysiwyg-color-footer_text_2 {
        color: #9e9e9e !important;
        font-size: 10px !important;

        font-family: inherit;
    }

    h1, h2 {
        font-weight: normal;
    }

    .block_623953 td body, .block_623953 td {
        letter-spacing: normal;
        word-spacing: 0px;
        margin-top: 0;
        padding-top: 0;
        margin-right: 0;
        padding-right: 0;
        margin-bottom: 0;
        padding-bottom: 0;
        margin-left: 0;
        padding-left: 0;
        text-shadow: none;
        color: #333333 !important;
        font-size: 13px;
        line-height: 22px;
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    }

    .block_623953 td a, .block_623953 td a {
        letter-spacing: normal;
        word-spacing: 0px;
        margin-top: 0;
        padding-top: 0;
        margin-right: 0;
        padding-right: 0;
        margin-bottom: 0;
        padding-bottom: 0;
        margin-left: 0;
        padding-left: 0;
        text-shadow: none;
        color: #000000 !important;
        font-size: px;
        line-height: px;
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    }

    .block_623953 td h1, .block_623953 td h1 {
        letter-spacing: normal;
        word-spacing: 0px;
        margin-top: 0;
        padding-top: 0;
        margin-right: 0;
        padding-right: 0;
        margin-bottom: 0;
        padding-bottom: 0;
        margin-left: 0;
        padding-left: 0;
        text-shadow: none;
        color: #45a1c6 !important;
        font-size: 20px;
        line-height: 26px;
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    }

    .block_623953 td p, .block_623953 td p {
        letter-spacing: normal;
        word-spacing: 0px;
        margin-top: 0;
        padding-top: 0;
        margin-right: 0;
        padding-right: 0;
        margin-bottom: 0;
        padding-bottom: 0;
        margin-left: 0;
        padding-left: 0;
        text-shadow: none;
        color: #333333 !important;
        font-size: 13px;
        line-height: 13px;
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    }

    .block_623953 td h2, .block_623953 td h2 {
        letter-spacing: normal;
        word-spacing: 0px;
        margin-top: 0;
        padding-top: 0;
        margin-right: 0;
        padding-right: 0;
        margin-bottom: 0;
        padding-bottom: 0;
        margin-left: 0;
        padding-left: 0;
        text-shadow: none;
        color: #333333 !important;
        font-size: 12px;
        line-height: 18px;
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    }

    .wysiwyg-text-align-right {
        text-align: right;
    }

    .wysiwyg-text-align-center {
        text-align: center;
    }

    .wysiwyg-text-align-left {
        text-align: left;
    }

    .wysiwyg-color-footer_text {
        color: #666666 !important;
        font-size: 10px !important;

        font-family: inherit;
    }

    .wysiwyg-color-footer_text_2 {
        color: #9e9e9e !important;
        font-size: 10px !important;

        font-family: inherit;
    }

    .btn {
        display: inline-block;
        *display: inline;
        /* IE7 inline-block hack */

        *zoom: 1;
        padding: 4px 12px;
        margin-bottom: 0;
        font-size: 14px;
        line-height: 20px;
        text-align: center;
        vertical-align: middle;
        cursor: pointer;
        color: #333333;
        text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
        background-color: #f5f5f5;
        background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
        background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
        background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
        background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
        background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
        background-repeat: repeat-x;
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
        border-color: #e6e6e6 #e6e6e6 #bfbfbf;
        border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
        *background-color: #e6e6e6;
        /* Darken IE7 buttons by default so they stand out more given they won't have borders */

        filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
        border: 1px solid #cccccc;
        *border: 0;
        border-bottom-color: #b3b3b3;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        *margin-left: .3em;
        -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .2), 0 1px 2px rgba(0, 0, 0, .05);
        -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .2), 0 1px 2px rgba(0, 0, 0, .05);
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, .2), 0 1px 2px rgba(0, 0, 0, .05);
    }

    .btn:hover,
    .btn:focus,
    .btn:active,
    .btn.active,
    .btn.disabled,
    .btn[disabled] {
        color: #333333;
        background-color: #e6e6e6;
        *background-color: #d9d9d9;
    }

    .btn:active,
    .btn.active {
        background-color: #cccccc  \9;
    }

    .btn:first-child {
        *margin-left: 0;
    }

    .btn:hover,
    .btn:focus {
        color: #333333;
        text-decoration: none;
        background-position: 0 -15px;
        -webkit-transition: background-position 0.1s linear;
        -moz-transition: background-position 0.1s linear;
        -o-transition: background-position 0.1s linear;
        transition: background-position 0.1s linear;
    }

    .btn:focus {
        outline: thin dotted #333;
        outline: 5px auto -webkit-focus-ring-color;
        outline-offset: -2px;
    }

    .btn-small {
        padding: 2px 10px;
        font-size: 11.9px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
    }

    .btn-primary.active,
    .btn-warning.active,
    .btn-danger.active,
    .btn-success.active,
    .btn-info.active,
    .btn-inverse.active {
        color: rgba(255, 255, 255, 0.75);
    }

    .btn-primary {
        color: #ffffff;
        text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
        background-color: #006dcc;
        background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
        background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
        background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
        background-image: -o-linear-gradient(top, #0088cc, #0044cc);
        background-image: linear-gradient(to bottom, #0088cc, #0044cc);
        background-repeat: repeat-x;
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);
        border-color: #0044cc #0044cc #002a80;
        border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
        *background-color: #0044cc;
        /* Darken IE7 buttons by default so they stand out more given they won't have borders */

        filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
        margin: 15px 0 0 15px;
    }

    .btn-primary:hover,
    .btn-primary:focus,
    .btn-primary:active,
    .btn-primary.active,
    .btn-primary.disabled,
    .btn-primary[disabled] {
        color: #ffffff;
        background-color: #0044cc;
        *background-color: #003bb3;
    }

    .btn-primary:active,
    .btn-primary.active {
        background-color: #003399  \9;
    }

    .btn-buy {
        margin-top: 7px;
        padding: 0 20px !important;
    }
</style>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Weekly digest of releases</title>
</head>
<body style="width: 100%; font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; letter-spacing: normal; word-spacing: 0px; text-shadow: none; color: #333333 !important; font-size: 13px; line-height: 22px; background-color: #FFFFFF; margin: 0px 0 0 0px; padding: 0px 0 0;" bgcolor="#FFFFFF">
<table align="center" cellpadding="0" cellspacing="0" width="100%" style="border-collapse: collapse; border-spacing: 0; background-color: #FFFFFF; margin: 0px 0 0; padding: 0px 0 0; border: 0;" bgcolor="#FFFFFF">
<tr align="center" style="border-collapse: collapse; border-spacing: 0; border: 0;">
<td align="center" valign="top" style="border-collapse: collapse; border-spacing: 0; border: 0;">
<table width="600" align="center" cellspacing="0" cellpadding="0" border="0" style="border-collapse: collapse; border-spacing: 0; margin: 0px 0 0; padding: 0px 0 0; border: 0;">
<tbody>
<tr align="left" style="border-collapse: collapse; border-spacing: 0; border: 0;">
  <td width="600">
    <table width="600" cellspacing="0" cellpadding="0" border="0" style="border-collapse: collapse; border-spacing: 0; margin-top: 0px !important; padding-top: 0px !important; border: 0;">
      <tbody>
      <tr style="border-collapse: collapse; border-spacing: 0; border: 0;">
        <td width="600" align="left" valign="top" style="background-color: #EEEEEE;" height="21" bgcolor="#EEEEEE">
          <img alt="" height="21" src="http://dev.sngtrkr.com:3000/images/email/clear.gif" style="display: block; line-height: 1; opacity: 0; padding: 0; border: 0;" width="600"/>
        </td>
      </tr>
      </tbody>
    </table>
  </td>
</tr>
<tr align="left" style="border-collapse: collapse; border-spacing: 0; border: 0;">
  <td width="600">
    <table width="600" cellspacing="0" cellpadding="0" border="0" style="border-collapse: collapse; border-spacing: 0; margin-top: 0px !important; padding-top: 0px !important; border: 0;">
      <tbody>
      <tr style="border-collapse: collapse; border-spacing: 0; border: 0;">
        <td width="600" align="left" valign="top">
          <table width="600" align="center" cellspacing="0" cellpadding="0" border="0" style="border-collapse: collapse; border-spacing: 0; margin: 0px 0 0; padding: 0px 0 0; border: 0;">
            <tbody>
            <tr align="left" style="border-collapse: collapse; border-spacing: 0; border: 0;">
              <td width="600">
                <table width="600" cellspacing="0" cellpadding="0" border="0" style="border-collapse: collapse; border-spacing: 0; margin-top: 0px !important; padding-top: 0px !important; border: 0; ">
                  <tbody>
                  <tr style="border-collapse: collapse; border-spacing: 0; border: 0;">
                    <td width="17" align="left" valign="top" style="background-color: #EEEEEE;" height="50" bgcolor="#EEEEEE">
                      <img alt="" height="50" src="http://dev.sngtrkr.com:3000/images/email/clear.gif" style="display: block; line-height: 1; opacity: 0; padding: 0; border: 0;" width="17"/>
                    </td>
                    <td background="http://dev.sngtrkr.com:3000/images/email/image-314077-623952.jpg" width="63" height="50" align="left" valign="top" style="background-color: #FEFEFE; background-image: url('http://dev.sngtrkr.com:3000/images/email/image-314077-623952.jpg'); background-repeat: repeat;" bgcolor="#FEFEFE">

                      <a href="http://www.sngtrkr.com" target="_blank" style="display: block; height: 50px; text-decoration: none; font-size: 10px; letter-spacing: normal; word-spacing: 0px; text-shadow: none; color: #000000 !important; line-height: px; font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;  margin-top:0; padding-top:0; margin-right:0; padding-right:0; margin-bottom:0; padding-bottom:0; margin-left:0; padding-left:0;  border: none;">

                        <img alt="SNGTRKR" height="50" src="http://dev.sngtrkr.com:3000/images/email/image-314077-623952.jpg" style="display: block; line-height: 1; padding: 0; border: 0;" width="63"/>
                      </a>
                    </td>

                    <td width="448" align="left" valign="top" style="background-color: #EEEEEE;" height="50" bgcolor="#EEEEEE">
                      <h2 style="font-weight: normal; letter-spacing: normal; word-spacing: 0px; text-shadow: none; color: #333333 !important; font-size: 12px; line-height: 18px; font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; margin: 8px 0 0; padding: 0;">
                        <b>Billy Dallimore</b></h2>

                      <p style="letter-spacing: normal; word-spacing: 0px; text-shadow: none; color: #333333 !important; font-size: 13px; line-height: 13px; font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;  margin-top:0; padding-top:0; margin-right:0; padding-right:0; margin-bottom:0; padding-bottom:0; margin-left:0; padding-left:0; ">Here
                        is your weekly digest of releases</p>
                    </td>
                    <td width="50" align="left" valign="top" style="vertical-align: top; text-align: left;" height="50">
                      <img src="http://placehold.it/50x50"/></td>
                    <td width="22" align="left" valign="top" style="background-color: #EEEEEE;" height="50" bgcolor="#EEEEEE">
                      <img alt="" height="50" src="http://dev.sngtrkr.com:3000/images/email/clear.gif" style="display: block; line-height: 1; opacity: 0; padding: 0; border: 0;" width="22"/>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </td>
            </tr>

            </tbody>
          </table>
        </td>
      </tr>
      </tbody>
    </table>
  </td>
</tr>
<tr align="left" style="border-collapse: collapse; border-spacing: 0; border: 0;border-bottom:1px #cccccc solid;">
  <td width="600">
    <table width="600" cellspacing="0" cellpadding="0" border="0" style="border-collapse: collapse; border-spacing: 0; margin-top: 0px !important; padding-top: 0px !important; border: 0;">
      <tbody>
      <tr style="border-collapse: collapse; border-spacing: 0; border: 0;">
        <td width="600" align="left" valign="top" style="background-color: #EEEEEE;" height="23" bgcolor="#EEEEEE">
          <img alt="" height="23" src="http://dev.sngtrkr.com:3000/images/email/clear.gif" style="display: block; line-height: 1; opacity: 0; padding: 0; border: 0;" width="600"/>
        </td>
      </tr>
      </tbody>
    </table>
  </td>
</tr>
<tr align="left" style="border-collapse: collapse; border-spacing: 0; border: 0;">
  <td width="600">
    <table width="600" cellspacing="0" cellpadding="0" border="0" style="border-collapse: collapse; border-spacing: 0; margin-top: 0px !important; padding-top: 0px !important; border: 0;">
      <tbody>
      <tr style="border-collapse: collapse; border-spacing: 0; border: 0;">
        <td width="49" align="left" valign="top" height="36">
          <img alt="" height="36" src="http://dev.sngtrkr.com:3000/images/email/clear.gif" style="display: block; opacity: 0;  margin-top:0; padding-top:0; margin-right:0; padding-right:0; margin-bottom:0; padding-bottom:0; margin-left:0; padding-left:0;  border: 0;" width="1"/>
        </td>
        <td width="551" align="left" valign="top" height="36">
          <img alt="" height="36" src="http://dev.sngtrkr.com:3000/images/email/clear.gif" style="display: block; opacity: 0;  margin-top:0; padding-top:0; margin-right:0; padding-right:0; margin-bottom:0; padding-bottom:0; margin-left:0; padding-left:0;  border: 0;" width="1"/>
        </td>
      </tr>
      </tbody>
    </table>
  </td>
</tr>
<!-- release 1 start -->
<tr align="left" style="border-collapse: collapse; border-spacing: 0; border: 0;">
  <td width="600">
    <table width="600" cellspacing="0" cellpadding="0" border="0" style="border-collapse: collapse; border-spacing: 0; margin-top: 0px !important; padding-top: 0px !important; border: 0;">
      <tbody>
      <tr style="border-collapse: collapse; border-spacing: 0; border: 0;">
        <td width="49" align="left" valign="top" height="99">
          <img alt="" height="99" src="http://dev.sngtrkr.com:3000/images/email/clear.gif" style="display: block; opacity: 0;  margin-top:0; padding-top:0; margin-right:0; padding-right:0; margin-bottom:0; padding-bottom:0; margin-left:0; padding-left:0;  border: 0;" width="1"/>
        </td>
        <td width="101" align="center" valign="top" style="vertical-align: top; text-align: center;" height="99">
          <img src="http://placehold.it/100x100"/></td>
        <td width="16" align="left" valign="top" height="99">
          <img alt="" height="99" src="http://dev.sngtrkr.com:3000/images/email/clear.gif" style="display: block; opacity: 0;  margin-top:0; padding-top:0; margin-right:0; padding-right:0; margin-bottom:0; padding-bottom:0; margin-left:0; padding-left:0;  border: 0;" width="1"/>
        </td>
        <td width="382" align="left" valign="top">
          <table width="382" align="center" cellspacing="0" cellpadding="0" border="0" style="border-collapse: collapse; border-spacing: 0; margin: 0px 0 0; padding: 0px 0 0; border: 0;">
            <tbody>
            <tr align="left" style="border-collapse: collapse; border-spacing: 0; border: 0;">
              <td width="382">
                <table width="382" cellspacing="0" cellpadding="0" border="0" style="border-collapse: collapse; border-spacing: 0; margin-top: 0px !important; padding-top: 0px !important; border: 0;">
                  <tbody>
                  <tr style="border-collapse: collapse; border-spacing: 0; border: 0;">
                    <td width="382" align="left" valign="top" style="" height="21">
                      <h1 style="font-weight: normal; letter-spacing: normal; word-spacing: 0px; text-shadow: none; color: #45a1c6 !important; font-size: 20px; line-height: 26px; font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;  margin-top:0; padding-top:0; margin-right:0; padding-right:0; margin-bottom:0; padding-bottom:0; margin-left:0; padding-left:0; ">Fever
                        Ft. Elisabeth Troy</h1>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </td>
            </tr>
            <tr align="left" style="border-collapse: collapse; border-spacing: 0; border: 0;">
              <td width="382">
                <table width="382" cellspacing="0" cellpadding="0" border="0" style="border-collapse: collapse; border-spacing: 0; margin-top: 0px !important; padding-top: 0px !important; border: 0;">
                  <tbody>
                  <tr style="border-collapse: collapse; border-spacing: 0; border: 0;">
                    <td width="25" height="22" align="left" valign="top" style="">


                      <img height="22" src="http://dev.sngtrkr.com:3000/images/email/image-314093-623982.jpg" style="display: block; line-height: 1; padding: 0; border: 0;" width="25"/>

                    </td>

                    <td width="357" align="left" valign="top" style="" height="22">
                      <p style="line-height: 22px; letter-spacing: normal; word-spacing: 0px; text-shadow: none; color: #333333 !important; font-size: 13px; font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; margin: 0 0 0 10px; padding: 0;">B.Traits</p>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </td>
            </tr>
            <tr align="left" style="border-collapse: collapse; border-spacing: 0; border: 0;">
              <td width="382">
                <table width="382" cellspacing="0" cellpadding="0" border="0" style="border-collapse: collapse; border-spacing: 0; margin-top: 0px !important; padding-top: 0px !important; border: 0;">
                  <tbody>
                  <tr style="border-collapse: collapse; border-spacing: 0; border: 0;">
                    <td width="25" height="22" align="left" valign="top" style="">


                      <img height="22" src="http://dev.sngtrkr.com:3000/images/email/image-314094-623984.jpg" style="display: block; line-height: 1; padding: 0; border: 0;" width="25"/>

                    </td>

                    <td width="357" align="left" valign="top" style="" height="22">
                      <p style="line-height: 22px; letter-spacing: normal; word-spacing: 0px; text-shadow: none; color: #333333 !important; font-size: 13px; font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; margin: 0 0 0 10px; padding: 0;">24th
                        September 2013</p>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </td>
            </tr>
            <tr align="left" style="border-collapse: collapse; border-spacing: 0; border: 0;">
              <td width="382">
                <table width="382" cellspacing="0" cellpadding="0" border="0" style="border-collapse: collapse; border-spacing: 0; margin-top: 0px !important; padding-top: 0px !important; border: 0;">
                  <tbody>
                  <tr style="border-collapse: collapse; border-spacing: 0; border: 0;">
                    <td width="382" align="left" valign="top" height="34">
                      <div class="btn btn-small btn-buy">Buy</div>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </td>
            </tr>

            </tbody>
          </table>
        </td>
        <td width="52" align="left" valign="top">
          <table width="52" align="center" cellspacing="0" cellpadding="0" border="0" style="border-collapse: collapse; border-spacing: 0; margin: 0px 0 0; padding: 0px 0 0; border: 0;">
            <tbody>
            <tr align="left" style="border-collapse: collapse; border-spacing: 0; border: 0;">
              <td width="52">
                <table width="52" cellspacing="0" cellpadding="0" border="0" style="border-collapse: collapse; border-spacing: 0; margin-top: 0px !important; padding-top: 0px !important; border: 0;">
                  <tbody>
                  <tr style="border-collapse: collapse; border-spacing: 0; border: 0;">
                    <td width="52" align="left" valign="top" height="21">
                      <img alt="" height="21" src="http://dev.sngtrkr.com:3000/images/email/clear.gif" style="display: block; opacity: 0;  margin-top:0; padding-top:0; margin-right:0; padding-right:0; margin-bottom:0; padding-bottom:0; margin-left:0; padding-left:0;  border: 0;" width="1"/>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </td>
            </tr>
            <tr align="left" style="border-collapse: collapse; border-spacing: 0; border: 0;">
              <td width="52">
                <table width="52" cellspacing="0" cellpadding="0" border="0" style="border-collapse: collapse; border-spacing: 0; margin-top: 0px !important; padding-top: 0px !important; border: 0;">
                  <tbody>
                  <tr style="border-collapse: collapse; border-spacing: 0; border: 0;">
                    <td width="52" align="left" valign="top" height="22">
                      <img alt="" height="22" src="http://dev.sngtrkr.com:3000/images/email/clear.gif" style="display: block; opacity: 0;  margin-top:0; padding-top:0; margin-right:0; padding-right:0; margin-bottom:0; padding-bottom:0; margin-left:0; padding-left:0;  border: 0;" width="1"/>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </td>
            </tr>
            <tr align="left" style="border-collapse: collapse; border-spacing: 0; border: 0;">
              <td width="52">
                <table width="52" cellspacing="0" cellpadding="0" border="0" style="border-collapse: collapse; border-spacing: 0; margin-top: 0px !important; padding-top: 0px !important; border: 0;">
                  <tbody>
                  <tr style="border-collapse: collapse; border-spacing: 0; border: 0;">
                    <td width="52" align="left" valign="top" height="22">
                      <img alt="" height="22" src="http://dev.sngtrkr.com:3000/images/email/clear.gif" style="display: block; opacity: 0;  margin-top:0; padding-top:0; margin-right:0; padding-right:0; margin-bottom:0; padding-bottom:0; margin-left:0; padding-left:0;  border: 0;" width="1"/>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </td>
            </tr>
            <tr align="left" style="border-collapse: collapse; border-spacing: 0; border: 0;">
              <td width="52">
                <table width="52" cellspacing="0" cellpadding="0" border="0" style="border-collapse: collapse; border-spacing: 0; margin-top: 0px !important; padding-top: 0px !important; border: 0;">
                  <tbody>
                  <tr style="border-collapse: collapse; border-spacing: 0; border: 0;">
                    <td width="52" align="left" valign="top" height="34">
                      <img alt="" height="34" src="http://dev.sngtrkr.com:3000/images/email/clear.gif" style="display: block; opacity: 0;  margin-top:0; padding-top:0; margin-right:0; padding-right:0; margin-bottom:0; padding-bottom:0; margin-left:0; padding-left:0;  border: 0;" width="1"/>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </td>
            </tr>

            </tbody>
          </table>
        </td>
      </tr>
      </tbody>
    </table>
  </td>
</tr>
<tr align="left" style="border-collapse: collapse; border-spacing: 0; border: 0;">
  <td width="600">
    <table width="600" cellspacing="0" cellpadding="0" border="0" style="border-collapse: collapse; border-spacing: 0; margin-top: 0px !important; padding-top: 0px !important; border: 0;">
      <tbody>
      <tr style="border-collapse: collapse; border-spacing: 0; border: 0;">
        <td width="49" align="left" valign="top" height="15">
          <img alt="" height="15" src="http://dev.sngtrkr.com:3000/images/email/clear.gif" style="display: block; opacity: 0;  margin-top:0; padding-top:0; margin-right:0; padding-right:0; margin-bottom:0; padding-bottom:0; margin-left:0; padding-left:0;  border: 0;" width="1"/>
        </td>
        <td width="499" align="left" valign="top" height="15">
          <img alt="" height="15" src="http://dev.sngtrkr.com:3000/images/email/clear.gif" style="display: block; opacity: 0;  margin-top:0; padding-top:0; margin-right:0; padding-right:0; margin-bottom:0; padding-bottom:0; margin-left:0; padding-left:0;  border: 0;" width="1"/>
        </td>
        <td width="52" align="left" valign="top" height="15">
          <img alt="" height="15" src="http://dev.sngtrkr.com:3000/images/email/clear.gif" style="display: block; opacity: 0;  margin-top:0; padding-top:0; margin-right:0; padding-right:0; margin-bottom:0; padding-bottom:0; margin-left:0; padding-left:0;  border: 0;" width="1"/>
        </td>
      </tr>
      </tbody>
    </table>
  </td>
</tr>
<tr align="left" style="border-collapse: collapse; border-spacing: 0; border: 0;">
  <td width="600">
    <table width="600" cellspacing="0" cellpadding="0" border="0" style="border-collapse: collapse; border-spacing: 0; margin-top: 0px !important; padding-top: 0px !important; border: 0;">
      <tbody>
      <tr style="border-collapse: collapse; border-spacing: 0; border: 0;">
        <td width="49" align="left" valign="top" height="15">
          <img alt="" height="15" src="http://dev.sngtrkr.com:3000/images/email/clear.gif" style="display: block; opacity: 0;  margin-top:0; padding-top:0; margin-right:0; padding-right:0; margin-bottom:0; padding-bottom:0; margin-left:0; padding-left:0;  border: 0;" width="1"/>
        </td>
        <td width="499" align="left" valign="top" height="15" style="border-top:1px #d1d1d1 solid;">
          <img alt="" height="15" src="http://dev.sngtrkr.com:3000/images/email/clear.gif" style="display: block; opacity: 0;  margin-top:0; padding-top:0; margin-right:0; padding-right:0; margin-bottom:0; padding-bottom:0; margin-left:0; padding-left:0;  border: 0;" width="1"/>
        </td>
        <td width="52" align="left" valign="top" height="15">
          <img alt="" height="15" src="http://dev.sngtrkr.com:3000/images/email/clear.gif" style="display: block; opacity: 0;  margin-top:0; padding-top:0; margin-right:0; padding-right:0; margin-bottom:0; padding-bottom:0; margin-left:0; padding-left:0;  border: 0;" width="1"/>
        </td>
      </tr>
      </tbody>
    </table>
  </td>
</tr>
<!-- release 1 end -->
<!-- release 2 start -->
<tr align="left" style="border-collapse: collapse; border-spacing: 0; border: 0;">
  <td width="600">
    <table width="600" cellspacing="0" cellpadding="0" border="0" style="border-collapse: collapse; border-spacing: 0; margin-top: 0px !important; padding-top: 0px !important; border: 0;">
      <tbody>
      <tr style="border-collapse: collapse; border-spacing: 0; border: 0;">
        <td width="49" align="left" valign="top" height="99">
          <img alt="" height="99" src="http://dev.sngtrkr.com:3000/images/email/clear.gif" style="display: block; opacity: 0;  margin-top:0; padding-top:0; margin-right:0; padding-right:0; margin-bottom:0; padding-bottom:0; margin-left:0; padding-left:0;  border: 0;" width="1"/>
        </td>
        <td width="101" align="center" valign="top" style="vertical-align: top; text-align: center;" height="99">
          <img src="http://placehold.it/100x100"/></td>
        <td width="16" align="left" valign="top" height="99">
          <img alt="" height="99" src="http://dev.sngtrkr.com:3000/images/email/clear.gif" style="display: block; opacity: 0;  margin-top:0; padding-top:0; margin-right:0; padding-right:0; margin-bottom:0; padding-bottom:0; margin-left:0; padding-left:0;  border: 0;" width="1"/>
        </td>
        <td width="382" align="left" valign="top">
          <table width="382" align="center" cellspacing="0" cellpadding="0" border="0" style="border-collapse: collapse; border-spacing: 0; margin: 0px 0 0; padding: 0px 0 0; border: 0;">
            <tbody>
            <tr align="left" style="border-collapse: collapse; border-spacing: 0; border: 0;">
              <td width="382">
                <table width="382" cellspacing="0" cellpadding="0" border="0" style="border-collapse: collapse; border-spacing: 0; margin-top: 0px !important; padding-top: 0px !important; border: 0;">
                  <tbody>
                  <tr style="border-collapse: collapse; border-spacing: 0; border: 0;">
                    <td width="382" align="left" valign="top" style="" height="21">
                      <h1 style="font-weight: normal; letter-spacing: normal; word-spacing: 0px; text-shadow: none; color: #45a1c6 !important; font-size: 20px; line-height: 26px; font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;  margin-top:0; padding-top:0; margin-right:0; padding-right:0; margin-bottom:0; padding-bottom:0; margin-left:0; padding-left:0; ">Fever
                        Ft. Elisabeth Troy</h1>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </td>
            </tr>
            <tr align="left" style="border-collapse: collapse; border-spacing: 0; border: 0;">
              <td width="382">
                <table width="382" cellspacing="0" cellpadding="0" border="0" style="border-collapse: collapse; border-spacing: 0; margin-top: 0px !important; padding-top: 0px !important; border: 0;">
                  <tbody>
                  <tr style="border-collapse: collapse; border-spacing: 0; border: 0;">
                    <td width="25" height="22" align="left" valign="top" style="">


                      <img height="22" src="http://dev.sngtrkr.com:3000/images/email/image-314093-623982.jpg" style="display: block; line-height: 1; padding: 0; border: 0;" width="25"/>

                    </td>

                    <td width="357" align="left" valign="top" style="" height="22">
                      <p style="line-height: 22px; letter-spacing: normal; word-spacing: 0px; text-shadow: none; color: #333333 !important; font-size: 13px; font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; margin: 0 0 0 10px; padding: 0;">B.Traits</p>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </td>
            </tr>
            <tr align="left" style="border-collapse: collapse; border-spacing: 0; border: 0;">
              <td width="382">
                <table width="382" cellspacing="0" cellpadding="0" border="0" style="border-collapse: collapse; border-spacing: 0; margin-top: 0px !important; padding-top: 0px !important; border: 0;">
                  <tbody>
                  <tr style="border-collapse: collapse; border-spacing: 0; border: 0;">
                    <td width="25" height="22" align="left" valign="top" style="">


                      <img height="22" src="http://dev.sngtrkr.com:3000/images/email/image-314094-623984.jpg" style="display: block; line-height: 1; padding: 0; border: 0;" width="25"/>

                    </td>

                    <td width="357" align="left" valign="top" style="" height="22">
                      <p style="line-height: 22px; letter-spacing: normal; word-spacing: 0px; text-shadow: none; color: #333333 !important; font-size: 13px; font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; margin: 0 0 0 10px; padding: 0;">24th
                        September 2013</p>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </td>
            </tr>
            <tr align="left" style="border-collapse: collapse; border-spacing: 0; border: 0;">
              <td width="382">
                <table width="382" cellspacing="0" cellpadding="0" border="0" style="border-collapse: collapse; border-spacing: 0; margin-top: 0px !important; padding-top: 0px !important; border: 0;">
                  <tbody>
                  <tr style="border-collapse: collapse; border-spacing: 0; border: 0;">
                    <td width="382" align="left" valign="top" height="34">
                      <div class="btn btn-small btn-buy">Buy</div>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </td>
            </tr>

            </tbody>
          </table>
        </td>
        <td width="52" align="left" valign="top">
          <table width="52" align="center" cellspacing="0" cellpadding="0" border="0" style="border-collapse: collapse; border-spacing: 0; margin: 0px 0 0; padding: 0px 0 0; border: 0;">
            <tbody>
            <tr align="left" style="border-collapse: collapse; border-spacing: 0; border: 0;">
              <td width="52">
                <table width="52" cellspacing="0" cellpadding="0" border="0" style="border-collapse: collapse; border-spacing: 0; margin-top: 0px !important; padding-top: 0px !important; border: 0;">
                  <tbody>
                  <tr style="border-collapse: collapse; border-spacing: 0; border: 0;">
                    <td width="52" align="left" valign="top" height="21">
                      <img alt="" height="21" src="http://dev.sngtrkr.com:3000/images/email/clear.gif" style="display: block; opacity: 0;  margin-top:0; padding-top:0; margin-right:0; padding-right:0; margin-bottom:0; padding-bottom:0; margin-left:0; padding-left:0;  border: 0;" width="1"/>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </td>
            </tr>
            <tr align="left" style="border-collapse: collapse; border-spacing: 0; border: 0;">
              <td width="52">
                <table width="52" cellspacing="0" cellpadding="0" border="0" style="border-collapse: collapse; border-spacing: 0; margin-top: 0px !important; padding-top: 0px !important; border: 0;">
                  <tbody>
                  <tr style="border-collapse: collapse; border-spacing: 0; border: 0;">
                    <td width="52" align="left" valign="top" height="22">
                      <img alt="" height="22" src="http://dev.sngtrkr.com:3000/images/email/clear.gif" style="display: block; opacity: 0;  margin-top:0; padding-top:0; margin-right:0; padding-right:0; margin-bottom:0; padding-bottom:0; margin-left:0; padding-left:0;  border: 0;" width="1"/>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </td>
            </tr>
            <tr align="left" style="border-collapse: collapse; border-spacing: 0; border: 0;">
              <td width="52">
                <table width="52" cellspacing="0" cellpadding="0" border="0" style="border-collapse: collapse; border-spacing: 0; margin-top: 0px !important; padding-top: 0px !important; border: 0;">
                  <tbody>
                  <tr style="border-collapse: collapse; border-spacing: 0; border: 0;">
                    <td width="52" align="left" valign="top" height="22">
                      <img alt="" height="22" src="http://dev.sngtrkr.com:3000/images/email/clear.gif" style="display: block; opacity: 0;  margin-top:0; padding-top:0; margin-right:0; padding-right:0; margin-bottom:0; padding-bottom:0; margin-left:0; padding-left:0;  border: 0;" width="1"/>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </td>
            </tr>
            <tr align="left" style="border-collapse: collapse; border-spacing: 0; border: 0;">
              <td width="52">
                <table width="52" cellspacing="0" cellpadding="0" border="0" style="border-collapse: collapse; border-spacing: 0; margin-top: 0px !important; padding-top: 0px !important; border: 0;">
                  <tbody>
                  <tr style="border-collapse: collapse; border-spacing: 0; border: 0;">
                    <td width="52" align="left" valign="top" height="34">
                      <img alt="" height="34" src="http://dev.sngtrkr.com:3000/images/email/clear.gif" style="display: block; opacity: 0;  margin-top:0; padding-top:0; margin-right:0; padding-right:0; margin-bottom:0; padding-bottom:0; margin-left:0; padding-left:0;  border: 0;" width="1"/>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </td>
            </tr>

            </tbody>
          </table>
        </td>
      </tr>
      </tbody>
    </table>
  </td>
</tr>
<tr align="left" style="border-collapse: collapse; border-spacing: 0; border: 0;">
  <td width="600">
    <table width="600" cellspacing="0" cellpadding="0" border="0" style="border-collapse: collapse; border-spacing: 0; margin-top: 0px !important; padding-top: 0px !important; border: 0;">
      <tbody>
      <tr style="border-collapse: collapse; border-spacing: 0; border: 0;">
        <td width="49" align="left" valign="top" height="15">
          <img alt="" height="15" src="http://dev.sngtrkr.com:3000/images/email/clear.gif" style="display: block; opacity: 0;  margin-top:0; padding-top:0; margin-right:0; padding-right:0; margin-bottom:0; padding-bottom:0; margin-left:0; padding-left:0;  border: 0;" width="1"/>
        </td>
        <td width="499" align="left" valign="top" height="15">
          <img alt="" height="15" src="http://dev.sngtrkr.com:3000/images/email/clear.gif" style="display: block; opacity: 0;  margin-top:0; padding-top:0; margin-right:0; padding-right:0; margin-bottom:0; padding-bottom:0; margin-left:0; padding-left:0;  border: 0;" width="1"/>
        </td>
        <td width="52" align="left" valign="top" height="15">
          <img alt="" height="15" src="http://dev.sngtrkr.com:3000/images/email/clear.gif" style="display: block; opacity: 0;  margin-top:0; padding-top:0; margin-right:0; padding-right:0; margin-bottom:0; padding-bottom:0; margin-left:0; padding-left:0;  border: 0;" width="1"/>
        </td>
      </tr>
      </tbody>
    </table>
  </td>
</tr>
<tr align="left" style="border-collapse: collapse; border-spacing: 0; border: 0;">
  <td width="600">
    <table width="600" cellspacing="0" cellpadding="0" border="0" style="border-collapse: collapse; border-spacing: 0; margin-top: 0px !important; padding-top: 0px !important; border: 0;">
      <tbody>
      <tr style="border-collapse: collapse; border-spacing: 0; border: 0;">
        <td width="49" align="left" valign="top" height="15">
          <img alt="" height="15" src="http://dev.sngtrkr.com:3000/images/email/clear.gif" style="display: block; opacity: 0;  margin-top:0; padding-top:0; margin-right:0; padding-right:0; margin-bottom:0; padding-bottom:0; margin-left:0; padding-left:0;  border: 0;" width="1"/>
        </td>
        <td width="499" align="left" valign="top" height="15" style="border-top:1px #d1d1d1 solid;">
          <img alt="" height="15" src="http://dev.sngtrkr.com:3000/images/email/clear.gif" style="display: block; opacity: 0;  margin-top:0; padding-top:0; margin-right:0; padding-right:0; margin-bottom:0; padding-bottom:0; margin-left:0; padding-left:0;  border: 0;" width="1"/>
        </td>
        <td width="52" align="left" valign="top" height="15">
          <img alt="" height="15" src="http://dev.sngtrkr.com:3000/images/email/clear.gif" style="display: block; opacity: 0;  margin-top:0; padding-top:0; margin-right:0; padding-right:0; margin-bottom:0; padding-bottom:0; margin-left:0; padding-left:0;  border: 0;" width="1"/>
        </td>
      </tr>
      </tbody>
    </table>
  </td>
</tr>
<!-- release 2 end -->
<tr align="left" style="border-collapse: collapse; border-spacing: 0; border: 0;">
  <td width="600">
    <table width="600" cellspacing="0" cellpadding="0" border="0" style="border-collapse: collapse; border-spacing: 0; margin-top: 0px !important; padding-top: 0px !important; border: 0;">
      <tbody>
      <tr style="border-collapse: collapse; border-spacing: 0; border: 0;">
        <td width="48" align="left" valign="top" height="58">
          <img alt="" height="58" src="http://dev.sngtrkr.com:3000/images/email/clear.gif" style="display: block; opacity: 0;  margin-top:0; padding-top:0; margin-right:0; padding-right:0; margin-bottom:0; padding-bottom:0; margin-left:0; padding-left:0;  border: 0;" width="1"/>
        </td>
        <td width="349" align="left" valign="top" style="" height="58">
          <p style="line-height: 58px; letter-spacing: normal; word-spacing: 0px; text-shadow: none; color: #333333 !important; font-size: 13px; font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;  margin-top:0; padding-top:0; margin-right:0; padding-right:0; margin-bottom:0; padding-bottom:0; margin-left:0; padding-left:0; ">Check
            out your timeline for more releases</p>
        </td>
        <td width="160" align="left" valign="top" height="58">
          <div class="btn btn-primary btn-small">Browse your timeline</div>
        </td>
        <td width="43" align="left" valign="top" height="58">
          <img alt="" height="58" src="http://dev.sngtrkr.com:3000/images/email/clear.gif" style="display: block; opacity: 0;  margin-top:0; padding-top:0; margin-right:0; padding-right:0; margin-bottom:0; padding-bottom:0; margin-left:0; padding-left:0;  border: 0;" width="1"/>
        </td>
      </tr>
      </tbody>
    </table>
  </td>
</tr>
<tr align="left" style="border-collapse: collapse; border-spacing: 0; border: 0;border-top:1px #cccccc solid;">
  <td width="600">
    <table width="600" cellspacing="0" cellpadding="0" border="0" style="border-collapse: collapse; border-spacing: 0; margin-top: 0px !important; padding-top: 0px !important; border: 0;">
      <tbody>
      <tr style="border-collapse: collapse; border-spacing: 0; border: 0;">
        <td width="48" align="left" valign="top" style="background-color: #EEEEEE;" height="96" bgcolor="#EEEEEE">
          <img alt="" height="96" src="http://dev.sngtrkr.com:3000/images/email/clear.gif" style="display: block; line-height: 1; opacity: 0; padding: 0; border: 0;" width="48"/>
        </td>
        <td width="395" align="left" valign="top" style="background-color: #EEEEEE;" height="96" bgcolor="#EEEEEE">
          <p style="letter-spacing: normal; word-spacing: 0px; text-shadow: none; color: #333333 !important; font-size: 13px; line-height: 13px; font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; margin: 31px 0 0; padding: 0;">
            <span class="wysiwyg-color-footer_text" style="color: #666666 !important; font-size: 10px !important; font-family: inherit;">Please do not reply to this message; it was sent from an unmonitored email address.</span>
          </p>

          <p style="letter-spacing: normal; word-spacing: 0px; text-shadow: none; color: #333333 !important; font-size: 13px; line-height: 13px; font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;  margin-top:0; padding-top:0; margin-right:0; padding-right:0; margin-bottom:0; padding-bottom:0; margin-left:0; padding-left:0; ">
            <span class="wysiwyg-color-footer_text" style="color: #666666 !important; font-size: 10px !important; font-family: inherit;">This message is a service email related to your use of SNGTRKR.</span>
          </p>

          <p style="letter-spacing: normal; word-spacing: 0px; text-shadow: none; color: #333333 !important; font-size: 13px; line-height: 13px; font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;  margin-top:0; padding-top:0; margin-right:0; padding-right:0; margin-bottom:0; padding-bottom:0; margin-left:0; padding-left:0; ">
            <span class="wysiwyg-color-footer_text_2" style="color: #9e9e9e !important; font-size: 10px !important; font-family: inherit;">Copyright 2012 SNGTRKR. All rights reserved.</span>
          </p>
        </td>
        <td width="16" align="left" valign="top" style="background-color: #EEEEEE;" height="96" bgcolor="#EEEEEE">
          <img alt="" height="96" src="http://dev.sngtrkr.com:3000/images/email/clear.gif" style="display: block; line-height: 1; opacity: 0; padding: 0; border: 0;" width="16"/>
        </td>
        <td width="33" align="left" valign="top">
          <table width="33" align="center" cellspacing="0" cellpadding="0" border="0" style="border-collapse: collapse; border-spacing: 0; margin: 0px 0 0; padding: 0px 0 0; border: 0;">
            <tbody>
            <tr align="left" style="border-collapse: collapse; border-spacing: 0; border: 0;">
              <td width="33">
                <table width="33" cellspacing="0" cellpadding="0" border="0" style="border-collapse: collapse; border-spacing: 0; margin-top: 0px !important; padding-top: 0px !important; border: 0;">
                  <tbody>
                  <tr style="border-collapse: collapse; border-spacing: 0; border: 0;">
                    <td width="33" align="left" valign="top" style="background-color: #EEEEEE;" height="30" bgcolor="#EEEEEE">
                      <img alt="" height="30" src="http://dev.sngtrkr.com:3000/images/email/clear.gif" style="display: block; line-height: 1; opacity: 0; padding: 0; border: 0;" width="33"/>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </td>
            </tr>
            <tr align="left" style="border-collapse: collapse; border-spacing: 0; border: 0;">
              <td width="33">
                <table width="33" cellspacing="0" cellpadding="0" border="0" style="border-collapse: collapse; border-spacing: 0; margin-top: 0px !important; padding-top: 0px !important; border: 0;">
                  <tbody>
                  <tr style="border-collapse: collapse; border-spacing: 0; border: 0;">
                    <td width="33" height="37" align="left" valign="top" style="">

                      <a href="https://www.facebook.com/sngtrkr" target="_blank" style="display: block; height: 37px; text-decoration: none; font-size: 10px; letter-spacing: normal; word-spacing: 0px; text-shadow: none; color: #000000 !important; line-height: px; font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;  margin-top:0; padding-top:0; margin-right:0; padding-right:0; margin-bottom:0; padding-bottom:0; margin-left:0; padding-left:0;  border: none;">

                        <img alt="Facebook" height="37" src="http://dev.sngtrkr.com:3000/images/email/image-314079-623958.jpg" style="display: block; line-height: 1; padding: 0; border: 0;" width="33"/>
                      </a>
                    </td>

                  </tr>
                  </tbody>
                </table>
              </td>
            </tr>
            <tr align="left" style="border-collapse: collapse; border-spacing: 0; border: 0;">
              <td width="33">
                <table width="33" cellspacing="0" cellpadding="0" border="0" style="border-collapse: collapse; border-spacing: 0; margin-top: 0px !important; padding-top: 0px !important; border: 0;">
                  <tbody>
                  <tr style="border-collapse: collapse; border-spacing: 0; border: 0;">
                    <td width="33" align="left" valign="top" style="background-color: #EEEEEE;" height="29" bgcolor="#EEEEEE">
                      <img alt="" height="29" src="http://dev.sngtrkr.com:3000/images/email/clear.gif" style="display: block; line-height: 1; opacity: 0; padding: 0; border: 0;" width="33"/>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </td>
            </tr>

            </tbody>
          </table>
        </td>
        <td width="31" align="left" valign="top">
          <table width="31" align="center" cellspacing="0" cellpadding="0" border="0" style="border-collapse: collapse; border-spacing: 0; margin: 0px 0 0; padding: 0px 0 0; border: 0;">
            <tbody>
            <tr align="left" style="border-collapse: collapse; border-spacing: 0; border: 0;">
              <td width="31">
                <table width="31" cellspacing="0" cellpadding="0" border="0" style="border-collapse: collapse; border-spacing: 0; margin-top: 0px !important; padding-top: 0px !important; border: 0;">
                  <tbody>
                  <tr style="border-collapse: collapse; border-spacing: 0; border: 0;">
                    <td width="31" align="left" valign="top" style="background-color: #EEEEEE;" height="30" bgcolor="#EEEEEE">
                      <img alt="" height="30" src="http://dev.sngtrkr.com:3000/images/email/clear.gif" style="display: block; line-height: 1; opacity: 0; padding: 0; border: 0;" width="31"/>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </td>
            </tr>
            <tr align="left" style="border-collapse: collapse; border-spacing: 0; border: 0;">
              <td width="31">
                <table width="31" cellspacing="0" cellpadding="0" border="0" style="border-collapse: collapse; border-spacing: 0; margin-top: 0px !important; padding-top: 0px !important; border: 0;">
                  <tbody>
                  <tr style="border-collapse: collapse; border-spacing: 0; border: 0;">
                    <td width="31" height="37" align="left" valign="top" style="">

                      <a href="https://twitter.com/sngtrkr" target="_blank" style="display: block; height: 37px; text-decoration: none; font-size: 10px; letter-spacing: normal; word-spacing: 0px; text-shadow: none; color: #000000 !important; line-height: px; font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;  margin-top:0; padding-top:0; margin-right:0; padding-right:0; margin-bottom:0; padding-bottom:0; margin-left:0; padding-left:0;  border: none;">

                        <img alt="Twitter" height="37" src="http://dev.sngtrkr.com:3000/images/email/image-314082-623961.jpg" style="display: block; line-height: 1; padding: 0; border: 0;" width="31"/>
                      </a>
                    </td>

                  </tr>
                  </tbody>
                </table>
              </td>
            </tr>
            <tr align="left" style="border-collapse: collapse; border-spacing: 0; border: 0;">
              <td width="31">
                <table width="31" cellspacing="0" cellpadding="0" border="0" style="border-collapse: collapse; border-spacing: 0; margin-top: 0px !important; padding-top: 0px !important; border: 0;">
                  <tbody>
                  <tr style="border-collapse: collapse; border-spacing: 0; border: 0;">
                    <td width="31" align="left" valign="top" style="background-color: #EEEEEE;" height="29" bgcolor="#EEEEEE">
                      <img alt="" height="29" src="http://dev.sngtrkr.com:3000/images/email/clear.gif" style="display: block; line-height: 1; opacity: 0; padding: 0; border: 0;" width="31"/>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </td>
            </tr>

            </tbody>
          </table>
        </td>
        <td width="34" align="left" valign="top">
          <table width="34" align="center" cellspacing="0" cellpadding="0" border="0" style="border-collapse: collapse; border-spacing: 0; margin: 0px 0 0; padding: 0px 0 0; border: 0;">
            <tbody>
            <tr align="left" style="border-collapse: collapse; border-spacing: 0; border: 0;">
              <td width="34">
                <table width="34" cellspacing="0" cellpadding="0" border="0" style="border-collapse: collapse; border-spacing: 0; margin-top: 0px !important; padding-top: 0px !important; border: 0;">
                  <tbody>
                  <tr style="border-collapse: collapse; border-spacing: 0; border: 0;">
                    <td width="34" align="left" valign="top" style="background-color: #EEEEEE;" height="30" bgcolor="#EEEEEE">
                      <img alt="" height="30" src="http://dev.sngtrkr.com:3000/images/email/clear.gif" style="display: block; line-height: 1; opacity: 0; padding: 0; border: 0;" width="34"/>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </td>
            </tr>
            <tr align="left" style="border-collapse: collapse; border-spacing: 0; border: 0;">
              <td width="34">
                <table width="34" cellspacing="0" cellpadding="0" border="0" style="border-collapse: collapse; border-spacing: 0; margin-top: 0px !important; padding-top: 0px !important; border: 0;">
                  <tbody>
                  <tr style="border-collapse: collapse; border-spacing: 0; border: 0;">
                    <td width="34" height="37" align="left" valign="top" style="">

                      <a href="https://plus.google.com/111951759053908858363" target="_blank" style="display: block; height: 37px; text-decoration: none; font-size: 10px; letter-spacing: normal; word-spacing: 0px; text-shadow: none; color: #000000 !important; line-height: px; font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;  margin-top:0; padding-top:0; margin-right:0; padding-right:0; margin-bottom:0; padding-bottom:0; margin-left:0; padding-left:0;  border: none;">

                        <img alt="Googleplus" height="37" src="http://dev.sngtrkr.com:3000/images/email/image-314085-623964.jpg" style="display: block; line-height: 1; padding: 0; border: 0;" width="34"/>
                      </a>
                    </td>

                  </tr>
                  </tbody>
                </table>
              </td>
            </tr>
            <tr align="left" style="border-collapse: collapse; border-spacing: 0; border: 0;">
              <td width="34">
                <table width="34" cellspacing="0" cellpadding="0" border="0" style="border-collapse: collapse; border-spacing: 0; margin-top: 0px !important; padding-top: 0px !important; border: 0;">
                  <tbody>
                  <tr style="border-collapse: collapse; border-spacing: 0; border: 0;">
                    <td width="34" align="left" valign="top" style="background-color: #EEEEEE;" height="29" bgcolor="#EEEEEE">
                      <img alt="" height="29" src="http://dev.sngtrkr.com:3000/images/email/clear.gif" style="display: block; line-height: 1; opacity: 0; padding: 0; border: 0;" width="34"/>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </td>
            </tr>

            </tbody>
          </table>
        </td>
        <td width="43" align="left" valign="top" style="background-color: #EEEEEE;" height="96" bgcolor="#EEEEEE">
          <img alt="" height="96" src="http://dev.sngtrkr.com:3000/images/email/clear.gif" style="display: block; line-height: 1; opacity: 0; padding: 0; border: 0;" width="43"/>
        </td>
      </tr>
      </tbody>
    </table>
  </td>
</tr>

</tbody>
</table>
</td>
</tr>
</table>

<style type="text/css">
    body {
        width: 100% !important;
        margin-top: 0px !important;
        padding-top: 0px !important;
    }

    body {
        background-color: #FFFFFF !important;
        margin-top: 0px !important;
        padding-top: 0px !important;
        font-family: sans-serif !important;
    }

    body {
        letter-spacing: normal !important;
        word-spacing: 0px !important;
        margin-top: 0 !important;
        padding-top: 0 !important;
        margin-right: 0 !important;
        padding-right: 0 !important;
        margin-bottom: 0 !important;
        padding-bottom: 0 !important;
        margin-left: 0 !important;
        padding-left: 0 !important;
        text-shadow: none !important;
        color: #333333 !important;
        font-size: 13px !important;
        line-height: 22px !important;
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif !important;
    }
</style>
</body>
</html>