      <img height="292" src="<%= @domain %>/images/email/image-110630-215410.jpg" style="display:block; padding:0; line-height:1; border:0;" width="517" />
<br />
<span style="font-weight:bold;font-size:24px;">Welcome to SNGTRKR!</span><br />
<br />
You can now log into <a href="http://www.sngtrkr.com" style="color: #F15A24;font-weight: normal;text-decoration: underline;" target="_blank">www.sngtrkr.com</a> using your facebook account, ensuring that you will never again miss another release! <br />
<br />
Once logged in you will see your timeline; this is where your tracked artists will appear showing your history and giving you quick and easy access to their releases and much more. Sngtrkr will have a few artist suggestions based on your facebook likes just to get you started, from here you can:<br />
<b><ul>
<li>Follow our initial recommendations based on your ‘likes’</li>
<li>Search and add new artists to your timeline</li>
<li>Listen to and buy new music from your tracked collection</li>
<li>Manage and update your profile using the top icons</li></ul>
Your Profile:</b><br />
<br />
Your profile is the control centre of your Sngtrkr experience, from here you can; <br />
<b><ul>
<li>Add and manage friends, and see what they are tracking.</li>
<li>Manage any artist pages you control</li>
<li>Change your profile settings and adjust the notifications you receive from Sngtrkr</li></ul></b>
That should be enough to get you started.<br />
<br />
If you have any feedback or suggestions, just hit the ‘speech bubble’ icon at the top of the page and submit it directly, or if you would like more information about us or about Sngtrkr please feel free to see the <a href="http://www.sngtrkr.com/help" style="color: #F15A24;font-weight: normal;text-decoration: underline;" target="_blank">Help</a> or <a href="http://www.sngtrkr.com/about" style="color: #F15A24;font-weight: normal;text-decoration: underline;" target="_blank">About Us</a> section, alternatively send us an email at <a href="mailto:info@sngtrkr.com" target="_blank" style="color: #F15A24;font-weight: normal;text-decoration: underline;">info@sngtrkr.com</a>.<br />
<br />
Regards<br />
<strong>The SNGTRKR Team</strong><br />
<br />
