html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}body{line-height:1}ol,ul{list-style:none}table{border-collapse:collapse;border-spacing:0}caption,th,td{text-align:left;font-weight:normal;vertical-align:middle}q,blockquote{quotes:none}q:before,q:after,blockquote:before,blockquote:after{content:"";content:none}a img{border:none}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary{display:block}a:link{text-decoration:none}*{margin:0;padding:0}html,body{width:100%;height:100%}@font-face{font-family:"Instruction";src:url("/assets/font/instruction.otf");src:local("?"),url("/assets/font/instruction.otf") format("opentype")}body{font-family:'helvetica neue', helvetica, sans-serif;font-size:75%;font-weight:400;line-height:1.4em;background:url(/assets/images/b-bk.png) no-repeat center center fixed;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover}.italic{font-style:italic}.tab-indent{padding-left:2em}.clear{clear:both}.orange-txt{color:#f15a24}.font-13{font-size:1.1em}.font-15{font-size:1.3em}.font-18{font-size:1.6em}.font-20{font-size:1.8em}.font-25{font-size:2.3em}.font-35{font-size:2.8em}.font-100{font-size:9.2em}.instruct-font{font-family:"Instruction", Helvetica, Arial, sans-serif}.signika-font{font-family:'Signika Negative', sans-serif}.line-height-1-25{line-height:1.25em}strong{font-weight:bold}table{margin:1em 0em}table td{padding:0.3em;background-color:white}table th{font-weight:bold;padding:0.3em;background-color:#f15a24;color:#333}.right{float:right}.left{float:left}.fb-login-nudge{margin-top:28px}.form-text{width:158px;border:1px solid #999;-webkit-border-radius:3px;-khtml-border-radius:3px;-moz-border-radius:3px;border-radius:3px;margin:0;padding:5px;background:#fff;background:-webkit-gradient(linear, left top, left 25, from(#fff), color-stop(6%, #eee), to(#fff));background:-moz-linear-gradient(top, #fff, #eee 2px, #fff 25px);box-shadow:rgba(0,0,0,0.1) 0px 0px 8px;-moz-box-shadow:rgba(0,0,0,0.1) 0px 0px 8px;-webkit-box-shadow:rgba(0,0,0,0.1) 0px 0px 8px}.form-text:hover,.itext:focus{border-color:#333;background:#fff}a.dp-choose-date{float:left;width:16px;height:16px;padding:0;margin:5px 3px 0;display:block;text-indent:-2000px;overflow:hidden;background:url(/assets/datepicker/calendar.png) no-repeat}a.dp-choose-date.dp-disabled{background-position:0 -20px;cursor:default}input.dp-applied{width:140px;float:left}#big-search input{background:transparent;border:none;padding:0.2em;padding-left:1em;font-size:1.8em;width:22em}#big-search input:focus{outline:none}.o-button{background-image:url(/assets/images/header-bk-left-2.png);display:block;height:37px;background-repeat:no-repeat;position:relative;white-space:nowrap;z-index:10;color:#fff;font-size:1.208em}.o-button *{color:white}.o-button span{background-image:url(/assets/images/header-bk-right-2.png);display:block;float:left;height:37px;padding:0 5px 5px 0;position:absolute;right:-16px;background-repeat:no-repeat;top:0px;width:11px}.o-pad{margin:33px 16px 0 5px;line-height:37px;padding:1px 3px 5px 18px}.profile-menu-o-pad{line-height:37px;padding:1px 3px 5px 20px}.new-release-o-pad{margin:-4px 0px 0 6px;line-height:37px;padding:2px 3px 5px 20px}.artist-add-o-pad{margin:33px 16px 0 3px;line-height:32px;padding:1px 3px 5px 21px}.artist-remove-o-pad{margin:33px 16px 0 -10px;line-height:32px;padding:1px 3px 5px 21px}.artist-login-o-pad{margin:33px 16px 0 -13px;line-height:32px;padding:1px 3px 5px 21px}#artist_search_results{width:60em;margin:3em auto;font-size:1.1em}#artist_search_results td,#artist_search_results th{padding:0.5em}.header-height-big{height:170px}.header-height-small{height:105px}.header{padding:0px 42px 0px 42px}.header #p-head{float:right;position:relative;margin:33px 0 0 11px}.header #mini-search{float:right;margin:39px 0px 0 0;height:25px;width:158px;background:rgba(255,255,255,0.75);-webkit-border-radius:8px;-moz-border-radius:8px;-ms-border-radius:8px;-o-border-radius:8px;border-radius:8px;-moz-box-shadow:0px 0px 7px rgba(0,0,0,0.6);-webkit-box-shadow:0px 0px 7px rgba(0,0,0,0.6);box-shadow:0px 0px 7px rgba(0,0,0,0.6)}.header #mini-search input{background:transparent;padding:0.6em;border:none;width:10em}.header #mini-search input:focus{outline:none}.header #mini-search-2{float:right;margin:39px 11px 0 0;height:25px;width:158px;background:rgba(255,255,255,0.75);-webkit-border-radius:8px;-moz-border-radius:8px;-ms-border-radius:8px;-o-border-radius:8px;border-radius:8px;-moz-box-shadow:0px 0px 7px rgba(0,0,0,0.6);-webkit-box-shadow:0px 0px 7px rgba(0,0,0,0.6);box-shadow:0px 0px 7px rgba(0,0,0,0.6)}.header #mini-search-2 input{background:transparent;padding:0.6em;border:none;width:10em}.header #mini-search-2 input:focus{outline:none}.header .search-25{float:right;width:25px;height:25px;margin-right:5px}.header .big-logo-home{position:relative;left:218px;height:120px;width:470px;top:11px}.header .small-logo-home{position:relative;bottom:51px;width:202px;height:55px}#footer{background-image:url(/assets/images/footer.png);position:relative;margin-top:-166px;height:166px;clear:both}#footer *{color:white}body:before{content:"";height:100%;float:left;width:0;margin-top:-32767px}#fcontainer{position:relative;width:980px;margin:0 auto;padding:20px 0 0 0;text-align:center}#fcontainer .footer-menu{list-style-type:none;position:relative;top:20px}#fcontainer .footer-menu li{font-size:1.1em;padding:0 30px 0 0;display:inline}#fcontainer #footer-txt{font-size:0.9em;position:relative;top:105px}#wrapper{min-height:100%}.wrapper2{width:980px;margin:0 auto;min-height:100%}.content{padding:0px 73px 0px 73px}.content .signika-txt{color:#fff;-moz-text-shadow:0px 2.83px 8px rgba(0,0,0,0.28);-webkit-text-shadow:0px 2.83px 8px rgba(0,0,0,0.28);text-shadow:0px 2.83px 8px rgba(0,0,0,0.28);font-family:'Signika Negative', sans-serif;font-weight:400;line-height:1.3em}.content .artist-name{position:relative;width:200px;display:block;text-transform:uppercase;margin-top:-2px;padding:0 0 14px 0}.content .splash-white-header{position:relative;text-align:center;left:2px;top:26px}.content .splash-email{position:relative;text-align:center;top:55px}.content .splash-email *{color:#000}.content .home-white-header{position:relative;width:540px;text-align:center;left:147px;top:56px}.content #big-search{position:relative;top:95px;left:139px;height:35px;width:555px;background:rgba(255,255,255,0.75);-webkit-border-radius:8px;-moz-border-radius:8px;-ms-border-radius:8px;-o-border-radius:8px;border-radius:8px;-moz-box-shadow:0px 0px 8px rgba(0,0,0,0.6);-webkit-box-shadow:0px 0px 8px rgba(0,0,0,0.6);box-shadow:0px 0px 8px rgba(0,0,0,0.6)}.content #search-35{float:right;height:35px;width:35px;margin-right:5px}.content .how-to-box{position:relative;width:834px;left:1px;top:147px;height:353px}.content .how-to-box .each-box{width:254px;height:175px;float:left;background:rgba(255,255,255,0.75);-webkit-border-radius:8px;-moz-border-radius:8px;-ms-border-radius:8px;-o-border-radius:8px;border-radius:8px;-moz-box-shadow:0px 0px 8px rgba(0,0,0,0.6);-webkit-box-shadow:0px 0px 8px rgba(0,0,0,0.6);box-shadow:0px 0px 8px rgba(0,0,0,0.6);color:#00;font-size:1.208em;text-align:center;line-height:1.4em;font-weight:500}.content .how-to-box .each-box .how-to-txt{padding:15px 35px 15px 35px}.content .how-to-box .each-box .how-image-nudge{position:relative;bottom:5px}.content .how-to-box .box-pad{margin:0 35px 0 0}.content #content-artist{position:relative;width:597px;height:460px;margin-top:5px}.content #content-artist #artist-image{float:left;width:219px;height:251px;-webkit-border-radius:8px;-moz-border-radius:8px;-ms-border-radius:8px;-o-border-radius:8px;border-radius:8px;-moz-box-shadow:0px 0px 8px rgba(0,0,0,0.6);-webkit-box-shadow:0px 0px 8px rgba(0,0,0,0.6);box-shadow:0px 0px 8px rgba(0,0,0,0.6)}.content #content-artist #artist-image #outer-button{position:absolute;top:0px;left:0px;width:100%;width:219px;height:252px}.content #content-artist #artist-image #outer-button .inner-button{position:relative;width:50%;margin:0px auto;top:199px}.content #content-artist #artist-info{float:right;width:365px;height:264px;margin-right:-7px}.content #content-artist #artist-info #genre-nudge{position:relative;left:20px}.content #content-artist #artist-info .genre-logo-nudge{position:relative;left:3px;bottom:9px}.content #content-artist #artist-info #artist-bio{position:relative;padding:7px 0 0 0}.content #content-artist ul{position:absolute;width:370px;top:221px;left:234px;list-style-type:none}.content #content-artist ul li{height:47px;width:48px;display:inline}.content #content-artist ul .social-spacing{margin-right:-5px}.content .content-top{position:relative;width:659px;height:128px}.content .content-top .top-header{float:left;width:340px}.content .content-top .content-top-right{float:right;width:302px;margin-top:9px}.content #content-profile-top{position:relative;width:660px;height:114px}.content #content-profile-top .profile-menu{float:left;width:147px;margin-right:9px}.content #content-profile-top .profile-menu .menu-width{display:block;width:121px;text-align:center}.content #content-profile-top .profile-menu .profile-menu-button-nudge{margin-left:-5px}.content #content-profile-top .profile-menu .profile-menu-button-nudge-2{margin-left:-6px}.content #content-profile-top .profile-menu #trkrs-button{position:relative;height:80px;width:159px;background-image:url(/assets/images/trkrs-button.png);margin-bottom:4px}.content #content-profile-top .profile-menu #trkrs-button #trkrs-button-txt{position:relative;text-align:center;color:#fff;top:23px}.content #content-profile-top .profile-welcome{float:right;width:489px;margin-top:4px;margin-left:14px}.content #content-profile-top .artist-text-nudge{margin-top:3px}.content #tracked-artists{position:relative;top:23px;width:640px;height:186px;background:rgba(255,255,255,0.75);-webkit-border-radius:8px;-moz-border-radius:8px;-ms-border-radius:8px;-o-border-radius:8px;border-radius:8px;-moz-box-shadow:0px 0px 8px rgba(0,0,0,0.6);-webkit-box-shadow:0px 0px 8px rgba(0,0,0,0.6);box-shadow:0px 0px 8px rgba(0,0,0,0.6);padding:20px 0 0 20px}.content .recommend-text-nudge{top:46px}.content #recommended-artists-outer{position:relative;height:515px}.content #recommended-artists-outer .recommended-artists{position:relative;top:73px;width:660px;height:410px;background:rgba(255,255,255,0.75);-webkit-border-radius:8px;-moz-border-radius:8px;-ms-border-radius:8px;-o-border-radius:8px;border-radius:8px;-moz-box-shadow:0px 0px 8px rgba(0,0,0,0.6);-webkit-box-shadow:0px 0px 8px rgba(0,0,0,0.6);box-shadow:0px 0px 8px rgba(0,0,0,0.6)}.content #delete-account{position:relative;top:111px;height:221px;width:660px;font-size:1.1em}.content #delete-account #delete-submit-pad{position:absolute;top:58px;left:-4px}.content #content-release-left{float:left;width:341px;height:552px}.content #content-release-left #release-points-box{position:relative;background:rgba(255,255,255,0.75);-webkit-border-radius:8px;-moz-border-radius:8px;-ms-border-radius:8px;-o-border-radius:8px;border-radius:8px;-moz-box-shadow:0px 0px 8px rgba(0,0,0,0.6);-webkit-box-shadow:0px 0px 8px rgba(0,0,0,0.6);box-shadow:0px 0px 8px rgba(0,0,0,0.6);width:341px;height:363px;top:29px}.content #content-release-left #release-points-box .each-point{width:239px;height:45px;float:left;padding:20px 50px 0 45px}.content #content-release-left #release-points-box .each-point .point-txt{margin-top:8px;float:right;width:158px;height:45px}.content #content-release-left .release-header{position:relative;width:340px}.content #content-release-right{float:right;width:284px;margin-top:12px}.content #content-release-right .rform{position:relative;width:284px;height:320px;top:27px}.content #content-release-right .rform label{width:110px;display:block;float:left;margin-top:6px}.content #content-release-right .rform li{padding:0 0 18px 0}.content #content-release-right .rform input[type=submit]{margin:5px 0 0 0;background:none;border:0;color:#fff;font-size:1.1em}.content #content-release-right .rform #submit-pad{margin-right:14px;margin-top:2px}.content #content-release-right .rform #file_browser{position:relative;bottom:16px;left:109px}.content #content-release-right .rform #type_dropdown{position:relative;top:4px}.content #change-email{position:relative}.content #change-email .cheform{position:relative;width:284px;height:73px}.content #change-email .cheform label{width:110px;display:block;float:left;margin-top:6px}.content #change-email .cheform li{padding:0 0 18px 0}.content #change-email .cheform input[type=submit]{margin:5px 0 0 0;background:none;border:0;color:#fff;font-size:1.1em}.content #change-email .cheform #change-email-submit-pad{margin-right:168px;margin-top:1px}.content #email-notify{position:relative;top:38px}.content #email-notify .enform{position:relative;width:667px;height:64px;top:0px}.content #email-notify .enform label{width:110px;display:block;position:relative;bottom:13px;left:30px}.content #email-notify .enform li{float:left;display:block;width:90px}.content #email-notify .enform .radio-pad{padding:0 52px 0 0}.content #email-notify .enform .radio{float:left}.content #email-notify .enform input[type=submit]{margin:5px 0 0 0;background:none;border:0;color:#fff;font-size:1.1em}.content #email-notify .enform #save-settings-submit-pad{margin-right:511px;margin-top:6px}.content #change-password{position:relative;top:76px}.content #change-password .chpform{position:relative;width:284px;height:184px}.content #change-password .chpform label{width:110px;display:block;float:left;margin-top:6px}.content #change-password .chpform li{padding:0 0 18px 0}.content #change-password .chpform input[type=submit]{margin:5px 0 0 0;background:none;border:0;color:#fff;font-size:1.1em}.content #change-password .chpform #change-password-submit-pad{margin-right:141px;margin-top:1px}.content #content-404{position:relative;width:526px;height:323px}.content #content-404 #content-404-left{float:left;width:258px}.content #content-404 #content-404-right{float:right;width:267px}.content #warning-sign{position:relative;left:50px;bottom:7px}.content #manage-artist-txt{position:relative;width:450px;font-weight:bold;left:173px;bottom:99px}.content #about-txt{position:relative;top:7px}.content #terms-txt{position:relative;top:7px;padding:0 0 18px 0}.content #terms-txt ul{list-style-type:disc;margin-left:20px;margin-bottom:16px}.content #terms-txt ol{list-style-type:decimal;margin-left:20px;margin-bottom:16px}.content #terms-txt a{color:#F15A24}.content #terms-txt a:hover{color:#000}.content #terms-txt a:active{color:#F15A24}.content #terms-txt a:visited{color:#F15A24}.content #terms-txt p{margin-bottom:16px}.content #social-media-about{position:relative;width:394px;top:36px;height:151px;left:133px}.content #social-media-about .sm-pad{margin-right:66px}.content #social-media-about .fbp,.content #social-media-about .twitp,.content #social-media-about .goop{display:none}.content #privacy-txt{position:relative;top:7px;padding:0 0 18px 0}.content #privacy-txt ul{list-style-type:disc;margin-left:20px;margin-bottom:16px}.content #privacy-txt a{color:#F15A24}.content #privacy-txt a:hover{color:#000}.content #privacy-txt a:active{color:#F15A24}.content #privacy-txt a:visited{color:#F15A24}.content #privacy-txt p{margin-bottom:16px}.content #team-txt{position:relative;top:7px}.content #team-txt a{color:#F15A24}.content #team-txt a:hover{color:#000}.content #team-txt a:active{color:#F15A24}.content #team-txt a:visited{color:#F15A24}.content #team-txt p{margin-bottom:16px}.content #team{position:relative;padding:0 0 22px 0}.content #team .team-members{position:relative;width:668px;padding:20px 0 0 0}.content #team .team-members .team-pic-left{width:168px;height:153px;margin-left:-10px}.content #team .team-members .team-pic-right{width:168px;height:153px;margin-right:-2px}.content #team .team-members .team-desc{width:490px;height:133px;padding:13px 0 0 0}.content #team .team-members .desc-align{text-align:right}.content #artist-search{margin:20px 0 0 0}.content #artist-search .artist-search-row{width:554px;height:53px;padding:11px 25px 11px 25px;margin:0 0 17px 0;background:rgba(255,255,255,0.75);-webkit-border-radius:8px;-moz-border-radius:8px;-ms-border-radius:8px;-o-border-radius:8px;border-radius:8px;-moz-box-shadow:0px 0px 8px rgba(0,0,0,0.6);-webkit-box-shadow:0px 0px 8px rgba(0,0,0,0.6);box-shadow:0px 0px 8px rgba(0,0,0,0.6)}.content #artist-search .artist-search-row .artist-name a{color:#000}.content #artist-search .artist-search-row .artist-name a:hover{color:#F15A24}.content #artist-search .artist-search-row .artist-name a:active{color:#000}.content #artist-search .artist-search-row .artist-name a:visited{color:#000}.content-pad-bottom{padding-bottom:166px}.content-pad-160{padding:4px 160px 0 160px}.content-pad-191{padding:4px 191px 0 191px}.content-pad-160-bottom{padding:4px 160px 166px 160px}.content-pad-191-bottom{padding:4px 191px 166px 191px}.content-splash-pad-262-bottom{padding:4px 262px 166px 262px}.delete-confirm{display:none;width:431px;height:286px;background:url(/assets/fancybox/box-bk-431.png) no-repeat;-webkit-border-radius:8px;-moz-border-radius:8px;-ms-border-radius:8px;-o-border-radius:8px;border-radius:8px}.delete-confirm #goodbye{font-size:2.8em;color:#fff;-moz-text-shadow:0px 2.83px 8px rgba(0,0,0,0.28);-webkit-text-shadow:0px 2.83px 8px rgba(0,0,0,0.28);text-shadow:0px 2.83px 8px rgba(0,0,0,0.28);font-family:'Signika Negative', sans-serif;font-weight:400;line-height:1.3em;position:relative;top:28px;left:101px;width:260px}.delete-confirm #delete-txt-1{position:relative;text-align:center;width:237px;display:block;left:97px;top:34px}.delete-confirm #delete-txt-2{position:relative;text-align:center;width:237px;display:block;left:97px;top:97px}.delete-confirm #delete-account-button{position:absolute;left:108px;top:227px;font-size:1.1em}.delete-confirm #delete-account-cancel{position:absolute;left:247px;top:226px;font-size:1.1em}.change-email-confirm{width:431px;height:286px;background:url(/assets/fancybox/box-bk-431.png) no-repeat}.email-notify-confirm{width:431px;height:286px;background:url(/assets/fancybox/box-bk-431.png) no-repeat}.change-password-confirm{width:431px;height:286px;background:url(/assets/fancybox/box-bk-431.png) no-repeat}.notify-logo-70{position:relative;left:101px;top:41px}.notify-yes{position:relative;left:185px;top:74px}.notify-confirm-txt{position:relative;font-size:1.3em;width:233px;text-align:center;left:99px;top:52px;line-height:1.25em}#manage-confirm{display:none;width:431px;height:286px;background:url(/assets/fancybox/box-bk-431.png) no-repeat;-webkit-border-radius:8px;-moz-border-radius:8px;-ms-border-radius:8px;-o-border-radius:8px;border-radius:8px}#manage-confirm .mcform{position:relative;width:284px;height:73px}#manage-confirm .mcform label{width:110px;display:block;float:left;margin-top:6px}#manage-confirm .mcform li{padding:0 0 18px 0}#manage-confirm .mcform input[type=submit]{margin:5px 0 0 0;background:none;border:0;color:#fff;font-size:1.1em}#manage-confirm .mcform #manage-confirm-submit-pad{margin-left:157px;margin-top:50px}#manage-confirm #manage-confirm-logo-70{position:relative;left:101px;top:32px}#manage-confirm .manage-confirm-txt-1{position:relative;text-align:center;width:233px;left:99px;top:42px}#manage-confirm .manage-confirm-txt-2{position:relative;text-align:center;width:233px;left:99px;top:59px}#manage-confirm .manage-confirm-input{position:relative;top:59px;left:137px}#manage-confirm #manage-confirm-no{position:relative;bottom:18px;right:23px;font-size:1.1em}.button{background:#f15a24;width:7em;-webkit-border-radius:5px;-moz-border-radius:5px;-ms-border-radius:5px;-o-border-radius:5px;border-radius:5px;-webkit-box-shadow:0px 0px 5px #333;-moz-box-shadow:0px 0px 5px #333;box-shadow:0px 0px 5px #333;text-align:center;margin:0.5em;padding:0.5em}.button a{color:white;text-decoration:none}.tl-button{margin-top:-5em;position:relative;z-index:30}.back{float:left}.forward{float:right}#timeline{background-color:rgba(255,255,255,0.75);overflow:auto;padding-top:0.5em;padding-bottom:1.5em;margin-bottom:2em;margin-top:1.5em;border:4px solid #333;border-width:3px 0px;position:relative;z-index:0}#timeline #timeline_centerer #timeline_release{width:40000px;height:300px;border-bottom:0.4em solid #f15a24;margin-bottom:0.4em}#timeline #timeline_centerer #timeline_release #empty{float:none;margin:auto;margin-top:2em;text-align:center;width:200px;height:auto;overflow:hidden;background-color:#f15a24}#timeline #timeline_centerer #timeline_release #empty *{background-color:none;color:white}#timeline #timeline_centerer #timeline_release .small{width:200px;height:250px}#timeline #timeline_centerer #timeline_release .big{width:500px;height:250px}#timeline #timeline_centerer #timeline_release .big div .line{left:250px}#timeline #timeline_centerer #timeline_release .youtube_video{float:right}#timeline #timeline_centerer #timeline_release li{position:relative;float:left;border:0.2em solid #333;background-color:white;margin:0.3em;-webkit-border-radius:0.7em;-moz-border-radius:0.7em;-ms-border-radius:0.7em;-o-border-radius:0.7em;border-radius:0.7em;z-index:30}#timeline #timeline_centerer #timeline_release li p{width:100%;background-color:#333;padding:0.4em}#timeline #timeline_centerer #timeline_release li p a{color:white;text-decoration:none}#timeline #timeline_centerer #timeline_release li p a:hover{text-decoration:underline}#timeline #timeline_centerer #timeline_release li p .cat-number{font-size:80%}#timeline #timeline_centerer #timeline_release li .release_name{font-size:1.4em}#timeline #timeline_centerer #timeline_release li .label_name{font-size:1.1em;color:#DDD;position:relative;bottom:0px}#timeline #timeline_centerer #timeline_release li .date{color:white;text-align:center;z-index:50;position:relative;margin:auto;width:7em;margin-top:0.8em;padding:0.3em;background-color:#f15a24;-webkit-border-radius:0.5em;-moz-border-radius:0.5em;-ms-border-radius:0.5em;-o-border-radius:0.5em;border-radius:0.5em;border:2px solid #333;font-size:1.2em}#timeline #timeline_centerer #timeline_release li .hide{-webkit-border-radius:0.3em;-moz-border-radius:0.3em;-ms-border-radius:0.3em;-o-border-radius:0.3em;border-radius:0.3em;overflow:hidden}#timeline #timeline_centerer #timeline_release li .line{z-index:10;width:0.3em;height:45px;clear:both;float:left;border:none;background-color:#f15a24;position:absolute;bottom:-46px;left:100px}#timeline #timeline_centerer #timeline_release li .artwork{margin:auto;display:block}.timeline_buttons{pointer-events:none}.lastfm_img{position:relative;max-width:219px;max-height:254px}
/*
 * FancyBox - jQuery Plugin
 * Simple and fancy lightbox alternative
 *
 * Examples and documentation at: http://fancybox.net
 * 
 * Copyright (c) 2008 - 2010 Janis Skarnelis
 * That said, it is hardly a one-person project. Many people have submitted bugs, code, and offered their advice freely. Their support is greatly appreciated.
 * 
 * Version: 1.3.4 (11/11/2010)
 * Requires: jQuery v1.3+
 *
 * Dual licensed under the MIT and GPL licenses:
 *   http://www.opensource.org/licenses/mit-license.php
 *   http://www.gnu.org/licenses/gpl.html
 */

#fancybox-loading {
	position: fixed;
	top: 50%;
	left: 50%;
	width: 40px;
	height: 40px;
	margin-top: -20px;
	margin-left: -20px;
	cursor: pointer;
	overflow: hidden;
	z-index: 1104;
	display: none;
}

#fancybox-loading div {
	position: absolute;
	top: 0;
	left: 0;
	width: 40px;
	height: 480px;
	background-image: url(/assets/fancybox-52c2493f5df928c3e0d1ad27628009d7.png);
}

#fancybox-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1100;
	display: none;
}

#fancybox-tmp {
	padding: 0;
	margin: 0;
	border: 0;
	overflow: auto;
	display: none;
}

#fancybox-wrap {
	position: absolute;
	top: 0;
	left: 0;
	padding: 20px;
	z-index: 1101;
	outline: none;
	display: none;
}

#fancybox-outer {
	position: relative;
	width: 100%;
	height: 100%;
	background: #fff;
}

#fancybox-content {
	width: 0;
	height: 0;
	padding: 0;
	outline: none;
	position: relative;
	overflow: hidden;
	z-index: 1102;
	border: 0px solid #fff;
}

#fancybox-hide-sel-frame {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: transparent;
	z-index: 1101;
}

#fancybox-close {
	position: absolute;
	top: -15px;
	right: -15px;
	width: 30px;
	height: 30px;
	background: transparent url(/assets/fancybox-52c2493f5df928c3e0d1ad27628009d7.png) -40px 0px;
	cursor: pointer;
	z-index: 1103;
	display: none;
}

#fancybox-error {
	color: #444;
	font: normal 12px/20px Arial;
	padding: 14px;
	margin: 0;
}

#fancybox-img {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	border: none;
	outline: none;
	line-height: 0;
	vertical-align: top;
}

#fancybox-frame {
	width: 100%;
	height: 100%;
	border: none;
	display: block;
}

#fancybox-left, #fancybox-right {
	position: absolute;
	bottom: 0px;
	height: 100%;
	width: 35%;
	cursor: pointer;
	outline: none;
	background: transparent url(/assets/blank-75c65513c681388365ed93c0abfdc098.gif);
	z-index: 1102;
	display: none;
}

#fancybox-left {
	left: 0px;
}

#fancybox-right {
	right: 0px;
}

#fancybox-left-ico, #fancybox-right-ico {
	position: absolute;
	top: 50%;
	left: -9999px;
	width: 30px;
	height: 30px;
	margin-top: -15px;
	cursor: pointer;
	z-index: 1102;
	display: block;
}

#fancybox-left-ico {
	background-image: url(/assets/fancybox-52c2493f5df928c3e0d1ad27628009d7.png);
	background-position: -40px -30px;
}

#fancybox-right-ico {
	background-image: url(/assets/fancybox-52c2493f5df928c3e0d1ad27628009d7.png);
	background-position: -40px -60px;
}

#fancybox-left:hover, #fancybox-right:hover {
	visibility: visible; /* IE6 */
}

#fancybox-left:hover span {
	left: 20px;
}

#fancybox-right:hover span {
	left: auto;
	right: 20px;
}

.fancybox-bg {
	position: absolute;
	padding: 0;
	margin: 0;
	border: 0;
	width: 20px;
	height: 20px;
	z-index: 1001;
}

#fancybox-bg-n {
	top: -20px;
	left: 0;
	width: 100%;
	background-image: url(/assets/fancybox-x-233be381d8b55baaf5cb5fa3ce84cd61.png);
}

#fancybox-bg-ne {
	top: -20px;
	right: -20px;
	background-image: url(/assets/fancybox-52c2493f5df928c3e0d1ad27628009d7.png);
	background-position: -40px -162px;
}

#fancybox-bg-e {
	top: 0;
	right: -20px;
	height: 100%;
	background-image: url(/assets/fancybox-y-1e7690119c4c05c3f38584ee239c7c83.png);
	background-position: -20px 0px;
}

#fancybox-bg-se {
	bottom: -20px;
	right: -20px;
	background-image: url(/assets/fancybox-52c2493f5df928c3e0d1ad27628009d7.png);
	background-position: -40px -182px; 
}

#fancybox-bg-s {
	bottom: -20px;
	left: 0;
	width: 100%;
	background-image: url(/assets/fancybox-x-233be381d8b55baaf5cb5fa3ce84cd61.png);
	background-position: 0px -20px;
}

#fancybox-bg-sw {
	bottom: -20px;
	left: -20px;
	background-image: url(/assets/fancybox-52c2493f5df928c3e0d1ad27628009d7.png);
	background-position: -40px -142px;
}

#fancybox-bg-w {
	top: 0;
	left: -20px;
	height: 100%;
	background-image: url(/assets/fancybox-y-1e7690119c4c05c3f38584ee239c7c83.png);
}

#fancybox-bg-nw {
	top: -20px;
	left: -20px;
	background-image: url(/assets/fancybox-52c2493f5df928c3e0d1ad27628009d7.png);
	background-position: -40px -122px;
}

#fancybox-title {
	font-family: Helvetica;
	font-size: 12px;
	z-index: 1102;
}

.fancybox-title-inside {
	padding-bottom: 10px;
	text-align: center;
	color: #333;
	background: #fff;
	position: relative;
}

.fancybox-title-outside {
	padding-top: 10px;
	color: #fff;
}

.fancybox-title-over {
	position: absolute;
	bottom: 0;
	left: 0;
	color: #FFF;
	text-align: left;
}

#fancybox-title-over {
	padding: 10px;
	background-image: url(/assets/fancy_title_over-6b9ae7f2ad03a280dc7ebf09b9654846.png);
	display: block;
}

.fancybox-title-float {
	position: absolute;
	left: 0;
	bottom: -20px;
	height: 32px;
}

#fancybox-title-float-wrap {
	border: none;
	border-collapse: collapse;
	width: auto;
}

#fancybox-title-float-wrap td {
	border: none;
	white-space: nowrap;
}

#fancybox-title-float-left {
	padding: 0 0 0 15px;
	background: url(/assets/fancybox-52c2493f5df928c3e0d1ad27628009d7.png) -40px -90px no-repeat;
}

#fancybox-title-float-main {
	color: #FFF;
	line-height: 29px;
	font-weight: bold;
	padding: 0 0 3px 0;
	background: url(/assets/fancybox-x-233be381d8b55baaf5cb5fa3ce84cd61.png) 0px -40px;
}

#fancybox-title-float-right {
	padding: 0 0 0 15px;
	background: url(/assets/fancybox-52c2493f5df928c3e0d1ad27628009d7.png) -55px -90px no-repeat;
}

/* IE6 */

.fancybox-ie6 #fancybox-close { background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/assets/fancy_close-9e864c00ecc13eb859c274b03682477b.png", sizingMethod='scale'); }

.fancybox-ie6 #fancybox-left-ico { background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/assets/fancy_nav_left-4c91d0c7708de109ccba04dacfca1a26.png", sizingMethod='scale'); }
.fancybox-ie6 #fancybox-right-ico { background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/assets/fancy_nav_right-aeac702176e812d34098f2e72cc7e019.png", sizingMethod='scale'); }

.fancybox-ie6 #fancybox-title-over { background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/assets/fancy_title_over-6b9ae7f2ad03a280dc7ebf09b9654846.png", sizingMethod='scale'); zoom: 1; }
.fancybox-ie6 #fancybox-title-float-left { background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/assets/fancy_title_left-79a868a6cc9049a37a3b38da4fbdb6f1.png", sizingMethod='scale'); }
.fancybox-ie6 #fancybox-title-float-main { background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/assets/fancy_title_main-ce938fa740405e3602b5cb23acb53215.png", sizingMethod='scale'); }
.fancybox-ie6 #fancybox-title-float-right { background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/assets/fancy_title_right-b0d1f5440a8a1b814d305446558c3c82.png", sizingMethod='scale'); }

.fancybox-ie6 #fancybox-bg-w, .fancybox-ie6 #fancybox-bg-e, .fancybox-ie6 #fancybox-left, .fancybox-ie6 #fancybox-right, #fancybox-hide-sel-frame {
	height: expression(this.parentNode.clientHeight + "px");
}

#fancybox-loading.fancybox-ie6 {
	position: absolute; margin-top: 0;
	top: expression( (-20 + (document.documentElement.clientHeight ? document.documentElement.clientHeight/2 : document.body.clientHeight/2 ) + ( ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop )) + 'px');
}

#fancybox-loading.fancybox-ie6 div	{ background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/assets/fancy_loading-082f176f486823271f054f772de67b7e.png", sizingMethod='scale'); }

/* IE6, IE7, IE8 */

.fancybox-ie .fancybox-bg { background: transparent !important; }

.fancybox-ie #fancybox-bg-n { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/assets/fancy_shadow_n-d99516417b7d8558fe3dac4fb84fd4f8.png", sizingMethod='scale'); }
.fancybox-ie #fancybox-bg-ne { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/assets/fancy_shadow_ne-25eb8d30b67bd0c60b531d0c880170d3.png", sizingMethod='scale'); }
.fancybox-ie #fancybox-bg-e { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/assets/fancy_shadow_e-20854e9070da6c6e8e0ce07c393883fa.png", sizingMethod='scale'); }
.fancybox-ie #fancybox-bg-se { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/assets/fancy_shadow_se-9a89b594e777953d6c710cc645e22ef0.png", sizingMethod='scale'); }
.fancybox-ie #fancybox-bg-s { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/assets/fancy_shadow_s-190245523991b71b30e36a44b09c7820.png", sizingMethod='scale'); }
.fancybox-ie #fancybox-bg-sw { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/assets/fancy_shadow_sw-acdca2201f7ae1a1224c09fe176de0a3.png", sizingMethod='scale'); }
.fancybox-ie #fancybox-bg-w { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/assets/fancy_shadow_w-6894f5d99a92b8c21945ca8b6c9e0874.png", sizingMethod='scale'); }
.fancybox-ie #fancybox-bg-nw { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/assets/fancy_shadow_nw-37eace26deff9de4a46ad5e7427c74dc.png", sizingMethod='scale'); }
/*

 */

