<div class="modal-header">
<h3>Is this goodbye?</h3>
</div>
<div class="modal-body">
<p>We are sad to see you leave us, please take a few minutes to say why<br/> you’re leaving.</p>
    <%= form_for(@user, :url => { :action => :destroy_with_reason }, :method => :post) do |f| %>
	<%= select_tag(:leave_reason, options_for_select([['Please select an option',0],['Too complicated', 1], ['Not enough information', 2], ['Too many emails', 3], 									['Inaccurate information', 4], 
	['Website is malfunctioning', 5], ['Privacy worries', 6] ])) %>
	<p><strong>Are you sure you want to delete your account?</strong> The artists you are tracking and your profile will be gone forever!</p>
</div>
<div class="modal-footer">
<%= f.submit 'Delete'%>
<div class="cancel" data-dismiss="modal">Cancel</div>
<% end %>
</div>