<div class="delete-confirm">
	<div class="goodbye signika-txt">
		Is this goodbye?
	</div>
  <%= form_for(@user) do |f| %>
	<div id="delete-txt-1">
		We are sad to see you leave us, please take a few minutes to say why you’re leaving.
		<%= select_tag(:leave_reason, options_for_select([['Please select an option',0],['Too complicated', 1], ['Not enough information', 2], ['Too many emails', 3], ['Inaccurate information', 4], 
		  ['Website is malfunctioning', 5], ['Privacy worries', 6] ])) %>
	</div>
	<div id="delete-txt-2">
		<strong>Are you sure you want to delete your account?</strong> The artists you are tracking and your profile will be gone forever!
	</div>
	<div class="delete-account-button font-13">
		<div class="o-button norm-o-pad left signika-font">
			<%= link_to 'Delete Account', user_path(current_user), :method => :delete %>
		</div>
	</div>
	<div class="delete-account-cancel font-13">
		<div class="o-button norm-o-pad right signika-font">
			<a href="javascript:$.fancybox.close();">Cancel</a></div>
	</div>
	<% end %>
</div>