<% content_for :title do %><%= @user.first_name %>'s friends on SNGTRKR<% end %>
<div class="content content-pad-160-bottom">
	<h2 class="signika-txt top-header font-35">Friends ()</h2>
<div id="friends-list">
	<div class="friends-search"><input type="text" id="filter"/><img class="white-search-25 right" src="/assets/images/white-search.png"/></div>
	<ul>
		<% @app_friends.each do |friend| %>
		<li class="left"><div class="friends-image"></div><div class="friends-info"><strong><%= link_to(friend) do %><span class="font-13 name"><%= friend.first_name + " " + friend.last_name %></span><% end %></strong><br/>Bristol, UK<br/><span class="orange-txt instruct-font"><%= @user.following.count %> TRKINGS</span></div></li>
		<li class="left"><div class="friends-image"></div><div class="friends-info"><strong><span class="font-13 name">Jessica Jane Moffatt</span></strong><br/>Bristol, UK<br/><span class="orange-txt instruct-font">83 TRKINGS</span></div></li>
		<li class="left"><div class="friends-image"></div><div class="friends-info"><strong><span class="font-13 name">Jerry Charlston</span></strong><br/>Bristol, UK<br/><span class="orange-txt instruct-font">239 TRKINGS</span></div></li>
		<li class="left"><div class="friends-image"></div><div class="friends-info"><strong><span class="font-13 name">Celena Gomez</span></strong><br/>Bristol, UK<br/><span class="orange-txt instruct-font">12 TRKINGS</span></div></li>
		<li class="left"><div class="friends-image"></div><div class="friends-info"><strong><span class="font-13 name">Harry Tubor</span></strong><br/>Bristol, UK<br/><span class="orange-txt instruct-font">93 TRKINGS</span></div></li>
		<li class="left"><div class="friends-image"></div><div class="friends-info"><strong><span class="font-13 name">Sam Hartwright</span></strong><br/>Bristol, UK<br/><span class="orange-txt instruct-font">834 TRKINGS</span></div></li>
</ul> 

	</div>
<% end %>
