<% content_for :title do %>Manage an artist<% end %>
<div class="content content-manage-pad-191-bottom">
	<h2 class="signika-txt top-header font-35">Manage an Artist</h2>
	<div id="manage-form">
                <div id="steps">
                    <form id="formElem" name="formElem" action="" method="post">
                        <fieldset class="step manage-arist-stage">
                        	<div class="step-back">
 					<label for="cutline">Cutline</label>
                                <input  type="radio" id="cutline" name="artist-pick" />
                                <label for="aname">Skream</label>
                                <input  type="radio" id=""cutline"skream" name="artist-pick" />
                                <label for="aname">Benga</label>
                                <input  type="radio" id="benga" name="artist-pick" /><br/>
                                Please select the artist you wish to manage on SNGTRKR. We will then attempt to grab as much information from your Facebook fan page as possible.<br/><br/>
                                <strong>At least one field is required.</strong>
                               </div>
                        </fieldset>
                        <fieldset class="step manage-details-step">
                        	<div class="step-back">                      
							 <p><label for="aname">Artist Name*</label>
                                <input id="aname" name="aname" type="text"/>
                            </p>
                            <p>
                                <label for="genre">Genre*</label>
                                <input id="genre" name="genre" type="text"/>
                            </p>
                            <p>
                                <label for="label">Label*</label>
                                <input id="label" name="label" type="text" />
                            </p>
                            <p>
                                <label for="bio">Bio*</label>
                                <textarea name="bio" id="bio" rows="8" cols="40"></textarea>
                            </p>
                            <p>
                                <label for="website">Website</label>
                                <input id="website" name="website" type="text" />
                            </p>
                            <p>
                                <label for="twitter">Twitter</label>
                                <input id="twitter" name="twitter" type="text" />
                            </p>
                            <p>
                                <label for="soundcloud">Soundcloud</label>
                                <input id="soundcloud" name="soundcloud" type="text" />
                            </p>
                            <p>
                                <label for="youtube">Youtube</label>
                                <input id="youtube" name="youtube" type="text" />
                            </p>
                           </div>
                        </fieldset>
                        <fieldset class="step manage-picture-step">
                        	<div class="step-back">
                            <p>
                            <label for="file-browser">Picture</label>
							<input type="file" id="file-browser" name="file-browser"/> 
							</p>
							</div>
                        </fieldset>
                        <fieldset class="step manage-summary-step">
                            <div class="step-back">
                        	<p>
								Everything in the form was correctly filled 
								if all the steps have a green checkmark icon.
								A red checkmark icon indicates that some field 
								is missing or filled out with invalid data. In this
								last step the user can confirm the submission of
								the form.
							</p>
                            <p class="submit">
                                <button id="registerButton" type="submit">Register</button>
                            </p>
                            </div>
                        </fieldset>
                    </form>
                </div>
                <div id="navigation" style="display:none;">
                    <ul>
                        <li class="selected">
                            <a href="#" class="manage-artist">1. Artist</a>
                        </li>
                        <li>
                            <a href="#" class="manage-details">2. Details</a>
                        </li>
                        <li>
                            <a href="#" class="manage-picture">3. Picture</a>
                        </li>
                        <li>
                            <a href="#" class="manage-summary">4. Summary</a>
                        </li>
                    </ul>
                </div>
                                <div id="progress-bar">
                	<div id="progress">
                		<div id="percent">
                			25%
                		</div>
                	</div>
                </div><br/>
            </div>

	<!--		<% @manageable.each do |artist| %>
			<%= "//graph.facebook.com/"+artist.fbid+"/picture?type=large" %>

						<%= (link_to 'Manage', manage_artist_path(artist)) rescue (debug artist) %>
			<% end %>
			<% @managing.each do |artist| %>
				Stop managing <%= link_to artist["name"], unmanage_artist_path(artist) %>
			<% end %> -->
