<% content_for :title do %>Artist recommendations<% end %>
<% content_for :description do %>We noticed you’ve already liked a few artists on Facebook, so decided to recommend some you might want to track. With one simple click, it’s easy to add and remove artists to your tracking timeline.<% end %>
<div class="content content-pad-160-bottom">
<div class="content-top">
<h2 class="signika-txt top-header font-35">Here are a few artists you already like, just to get you started...</h2>	
<div class="content-top-right">
We noticed you’ve already liked a few artists on Facebook, so decided to recommend some you might want to TRK. 
With one simple click, it’s easy to add and remove artists to your TRKing timeline.<br/><br/>Continue to the home page, 
where you will able to view your personalized timeline of releases, new and old...
</div>	
</div>
<div class="clear"></div>
	<div class="recommended-artists-outer other-recommend-nudge">
		<div class="recommended-artists">
			<ul>
				<%= render :partial => 'shared/artist_suggestion', :collection => @user.suggested[0, 6] %>
				</ul>
		</div></div>
<div class="recommend-continue"><div class="o-button norm-o-pad right signika-font font-13"><a href="/">Continue</a></div></div>