<% content_for :title do %>Artist recommendations<% end %>
<% content_for :description do %>We noticed you’ve already liked a few artists on Facebook, so decided to recommend some you might want to track. With one simple click, it’s easy to add and remove artists to your tracking timeline.<% end %>
<% content_for :extra_head do  javascript_include_tag "/jquery-rotate-compressed.2.2" end %>
<div class="row recommend-top"><div class="span10 offset1">
<div class="row"><div class="span5">
<h1>Here are a few artists you already like, just to get you started...</h1>	
</div>
<div class="span5">
<span>	<p>
		We suggest artists based on your likes on Facebook, and artists similar to them based on information our partner stores provide.
	</p>
	<p>
		If you run out of suggestions, why not have a look at the artists <%= link_to "your friends", friends_user_path(@user) %> are tracking?
	</p></span>
</div></div>	
</div></div>
<div class="row recommendations"><div class="span10 offset1">
			<ul id="ajax-recommended-artists">
  		<% if @user.suggested.count >= 6 %>
				<%= render :partial => 'shared/artist_suggestion', :collection => @user.suggested[0, 6] %>
    		<% else %>
      		<div class="loading load-recommend">
      		<h3>Please wait...</h3>
      		<%= image_tag "/images/loading.png", :id => "loading-icon" %><br/>
      		<p>...while we work our magic and find which artists you’ve already liked on Facebook.</p>
      		</div>		  
  		<% end %>
			</ul>
      <div class="clear"></div>
<span><a href="/tl">Continue</a></span>
</div></div>
<script>
  $(document).ready(function(){
    artist_suggestion_replace();
  });
  <% if @user.suggested.count < 6 %>
  var first_sugg, times = 1;
  function load_suggestions(data){
      // We have confirmation that we have 6 suggestions to display, so we can actually load the html for them now.
    if(data == true){ 
      $.get('/artists/first_suggestions.js');
      int=window.clearInterval(first_sugg)
    } else if(times == 60) {
      // We have tried to load suggestions for quite a while now, giving up.
      int=window.clearInterval(first_sugg)
    }
    times++;
  }
  $(document).ready(function(){
    artist_suggestion_replace();
    var i = <%= @user.suggested.count %>, j = 0;
    var brk;
    first_sugg = setInterval( "$.get('/artists/first_suggestions.json', function(data){ load_suggestions(data) });",5000);
  });
  <% end %>
</script>
