<% content_for :title do %>Artist recommendations<% end %>
<div class="content content-pad-160-bottom">
<div class="content-top">
<h2 class="signika-txt top-header font-35">Here are a few artists you already like, just to get you started...</h2>	
<div class="content-top-right">
We noticed you’ve already liked a few artists on Facebook, so decided to recommend some you might want to track. 
With one simple click, it’s easy to add and remove artists to your tracking timeline.<br/><br/>Continue to the home page, 
where you will able to view your personalized timeline of releases, new and old...
</div>	
</div>
<div class="clear"></div>
	<div class="recommended-artists-outer other-recommend-nudge">
		<div class="recommended-artists">
			<ul>
				<% @user.suggested[0, 6].each do |suggest| %>
				<li class="left new-recommend" style="background-image:url(<%= suggest.image :large %>);background-repeat:no-repeat;background-position:center;">
					<div class="each-recommend">
					<div class="black-tint"></div>
					<h3><div class="instruct-font font-20 recommend-info"><%= link_to suggest.name, suggest %></div></h3>
					<div class="o-button artist-add-o-pad left instruct-font recommend-trkr-button">
							<%= link_to 'ADD TRKR', follow_artist_path(suggest.id) %><span></span>
						</div>
						<%= link_to (image_tag '/assets/images/ignore.png'), unsuggest_artist_path(suggest), :remote => true, "data-type" => "json", :class => 'ignore-button' %>
					</div>
				</li>
				<% end %>
				</ul>
		</div></div>