<% content_for :title do %>--NAME-- personalised timeline of artist releases on SNGTRKR<% end %>
<% content_for :description do %>--NAME-- personalised timeline of artist releases, where they can view new and old releases while being able to listen to and buy tracks.<% end %>
<div class="content content-pad-160">
</div>
</div>
<div id="timeline">
<ul class="release-list">
	<li class="left each-release">
	<div class="release-info">
	<strong><span class="font-18">Just a Thought</span></strong><br/>
	Fred V & Grafix<br/>
	<span class="font-11">Viper Recordings</span>
	</div>
	<div class="release-menu font-13">
		<ul class="menu">
		<a href=".buy-release"><li class="left menu-item">Buy</li></a>
		<li class="left menu-item">Listen</li>
		<a href=".share-release"><li class="left menu-item">Share</li></a>
		</ul>
	</div>
	<img class="r-grad" src="/assets/images/release-gradient.png"/>
	</li>
</ul>
<div class="clear"></div>
<div class="share-release">
	<div class="share-title">Where would you like to<br/> share this track?</div>
	<ul>
	<a href="#" title="Share on Facebook" onClick="MyWindow=window.open('https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fwww.sngtrkr.com%2F&t=SNGTRKR','Share SNGTRKR on Facebook','scrollbars=no,width=620,height=340'); return false;"><li class="left"><img src="/assets/images/share-fb.png"/></li></a>
	<a href="#" title="Share on Facebook" onClick="MyWindow=window.open('https://twitter.com/intent/tweet?original_referer=http%3A%2F%2Fwww.sngtrkr.com&text=I%27m+currently+using+SNGTRKR+to+track+artist+releases.+Come+get+involved+at+&url=http%3A%2F%2Fwww.sngtrkr.com&via=SNGTRKR','Share SNGTRKR on Facebook','scrollbars=no,width=620,height=340'); return false;"><li class="left"><img src="/assets/images/share-twit.png"/></li></a>
	<a href="#" title="Share on Facebook" onClick="MyWindow=window.open('https://plus.google.com/share?url=http%3A%2F%2Fwww.sngtrkr.com','Share SNGTRKR on Facebook','scrollbars=no,width=620,height=340'); return false;"><li class="left"><img src="/assets/images/share-goo.png"/></li></a>
	</ul>
	<div class="clear"></div>
	<div class="share-txt">Please note, SNGTRKR is not held responsible for anything posted on third party<br/> sites. See our Terms of Use for more information.</div>
</div>
<div class="buy-release">
	<div class="buy-title">Which music retailer would<br/> you like to use?</div>
	<ul>
	<li class="left"><img src="/assets/images/release-itunes.png"/></li>
	<li class="left"><img src="/assets/images/release-amaz.png"/></li>
	<li class="left"><img src="/assets/images/release-7d.png"/></li>
	</ul>
	<div class="clear"></div>
	<div class="buy-txt">Please note, you are accessing a third party website, which you do so at your own<br/> risk. See our Terms of Use for more information.</div>
</div>
<img id="shadow-top" src="/assets/images/shadow-line.png"/>	
<img id="shadow-bot" src="/assets/images/shadow-line-bot.png"/>	
</div>
<div class="content content-pad-160-bottom">

