<% content_for :title do %>Your Timeline
<% end %>
<% content_for :description do %><%= current_user.first_name %>'s personalised timeline of artist releases, where they can view new and old releases while being able to listen to and buy tracks.
<% end %>
<div class="g_timeline">
    <% if @timeline.empty? %>
        <%= render 'timeline/user_empty' %>
    <% else %>
          <%= render :partial => 'timeline/release', :collection => @timeline %>
    <% end %>
</div>
