<li class="left">
	<div class="each-artist-outer">
		<strong> <%= link_to artist_tracked do %>
		<div class="font-13 name">
			<%= truncate(artist_tracked.name, :length => 20) %>
		</div><% end %></strong>
		<div class="instruct-font orange-txt">
			<%= artist_tracked.followers %> TRKRs
		</div>
		<%= link_to (image_tag '/images/x.png'), unfollow_artist_path(artist_tracked), :remote => true, :class => 'remove-artist-button', :alt => "Remove" %>
	</div>
</li>