<li class="left new-recommend" style="background-image:url(<%= artist_suggestion.image.url :recommend %>);background-repeat:no-repeat;background-position:center;">
		<div class="black-tint"></div>
		<div class="instruct-font font-20 recommend-info <% if artist_suggestion.name.length > 14 %>twoline<% else %>oneline<% end %>">
			<%= link_to artist_suggestion.name, artist_suggestion  %>
		</div>
		<%= render :partial => 'shared/trk_artist', :object => artist_suggestion %>
		<div class="ignore-outer o-button">
		<%= link_to artist_unsuggest_path(artist_suggestion), :remote => true, :class => 'ignore-trk-artist ' do |f| %>
  		<i class="icon-remove"></i>
		<% end %>
		</div>
</li>
