<li class="left new-recommend" style="background-image:url(<%= artist_suggestion.image.url :recommend %>);background-repeat:no-repeat;background-position:center;">
	<div class="each-recommend">
		<div class="black-tint"></div>
		<div class="instruct-font font-20 recommend-info">
			<%= link_to artist_suggestion.name, artist_suggestion  %>
		</div>
		<div class="recommend-trkr-button"><%= render :partial => 'shared/trk_artist', :object => artist_suggestion %></div>
		<div class="ignore-outer o-button"><%= link_to  unsuggest_artist_path(artist_suggestion), :remote => true do %><i class="icon-remove"></i><% end %></div>
	</div>
</li>
