<div class="buy_pop buy_pop_<%= bpop.id %>">
  <div class="buy_content">
    <% if bpop.itunes? %>
        <%= link_to bpop.itunes, :target => "_blank" do %>
        	<div class="itunes"></div>
        <% end %>
    <% end %>
    <% if bpop.sdigital %>
        <%= link_to bpop.sdigital, :target => "_blank" do %>
        	<div class="sdigital"></div>
        <% end %>
    <% end %>
  </div>
</div>