<li class="new-friend" style="background-image:url(<%= friend_artist_suggestion.image.url :recommend %>);background-repeat:no-repeat;background-position:center;">
		<div class="black-tint"></div>
		<div class="instruct-font font-20 friend-info <% if friend_artist_suggestion.name.length > 14 %>twoline<% else %>oneline<% end %>">
			<%= link_to friend_artist_suggestion.name, friend_artist_suggestion, :class => 'name'  %>
		</div>
		<div class="recommend-trkr-button"><%= render :partial => 'shared/trk_artist', :object => friend_artist_suggestion, :locals => { :friend_trk_class => 'friend-trk-class', :friend_untrk_class => 'friend-untrk-class' } %></div>
</li>
