<% if(user_signed_in?) %>
<%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
<% elsif %>
<a href="<%= user_omniauth_authorize_path(:facebook) %>"><img class="facebook-log home-login-nudge" src="/assets/images/log-facebook.png"/></a>
<% end %>
<div class="clear"></div>
