<% if(user_signed_in?) %>
<%= link_to(destroy_user_session_path, :method => :delete) do %><div class="logout-button"><div class="o-button norm-o-pad right signika-font font-13">Logout</div></div><% end %>
<a href="/users/me"><div class="p-head right o-button"><%= image_tag "/images/profile.png", :alt => "Profile", :id => "profile-pad" %></div></a>
<div id="feedback">
<div id="trigger">
<i class="icon-bullhorn"></i>
<span></span>
</div>
<div id="content">
	<p>
	We love feedback. Feel free to tell us what you think about the site or report a bug.
	</p>
	<textarea name="fedbox" id="fedbox" rows="4" class="form-text"></textarea>
	<div class="button left">Submit</div><div class="button right cancel">Cancel</div>
	<div class="clear"></div>
</div>
</div>
<% elsif %>
<%= link_to(user_omniauth_authorize_path(:facebook)) do %>
<div class="right fb-button fb-o-pad lucida-font font-13 fb-login"><i class="icon-facebook"></i><span class="login-txt">Login</span></div>
<%  end %>
<% end %>
<script type="text/javascript">
$(document).ready(function() {
  $('.fb-login').click(function(){
    $('.login-txt').html('Logging in...');
  });
});

</script>