<% if(user_signed_in?) %>
<%= link_to(destroy_user_session_path, :method => :delete) do %>
	<div class="logout-button item nav-button tooltip-parent"  data-title="Logout"><i class="icon-signout"></i></div>
<% end %>
<% elsif %>
<%= link_to(user_omniauth_authorize_path(:facebook)) do %>
<div class="fb-login item"><i class="icon-facebook"></i><span>Login</span></div>
<%  end %>
<% end %>
<script type="text/javascript">
$(document).ready(function() {
  $('.fb-login').click(function(){
    $('.fb-login > span').html('Logging in...');
    $(this).addClass('fb-disabled');
  });
});

</script>