<% if !user_signed_in? %>
<% else %>
<div class="outer-tools">
<%= link_to(destroy_user_session_path, :method => :delete, :class => "btn btn-navbar toolbutton tooltip-parent", "data-title" => "Logout", "data-placement" => "bottom" ) do %><i class="icon-signout"></i><% end %>
<%= link_to edit_user_path(@user), :class => "btn btn-navbar toolbutton tooltip-parent", "data-title" => "Settings", "data-placement" => "bottom" do %><i class="icon-cog"></i><% end %>
<a href="#feedback" data-toggle="modal" class="btn btn-navbar toolbutton tooltip-parent" data-title="Feedback" data-placement="bottom"><i class="icon-comment"></i></a></div><% end %>