<% if sidebar_suggestion.nil? %>
<li class="each-recommend">
	<p>No suggestions left.</p>
</li>
<% else %>
<li class="each-recommend">
<%= image_tag artist_suggestion.image.url :sidebar_suggest %>
		<div><div class="a-name"><strong><%= link_to sidebar_suggestion.name, sidebar_suggestion  %></strong></div><span><%= artist.suggestion.followers %></span> TRKRS<br/><div class="buttons">Track - Share - Ignore</div></div>
</li>
<% end %>