<% if user_signed_in?
%>
<% if current_user.following? trk_artist.id %>
<div class="o-button trkr-o-pad artist-remove-o-pad right instruct-font">
	<%= link_to 'REMOVE TRKR', unfollow_artist_path(trk_artist) %><span></span>
</div>
<% else %>
<div class="o-button trkr-o-pad right instruct-font">
	<%= link_to 'ADD TRKR', follow_artist_path(trk_artist) %><span></span>
</div>
<% end %>
<% elsif %>
<div class="o-button trkr-o-pad right instruct-font">
	<a href="<%= user_omniauth_authorize_path(:facebook) %>">LOGIN TO TRK</a><span></span>
</div>
<% end %>
