<% friend_trk_class ||= nil %>
<% friend_untrk_class ||= nil %>
<% if user_signed_in?%>
  <% if current_user.following? trk_artist.id %>
    <%= render :partial => "follows/unfollow_artist", :object => trk_artist, :locals => { :css_class => 'mini-trkr-button remove-trkr', :id => '' }  %>
  <% else %>
    <%= render :partial => "follows/follow_artist", :object => trk_artist, :locals => { :css_class => 'mini-trkr-button  add-trkr', :id => '' } %>
  <% end %>
<% else %>
  <a href="<%= user_omniauth_authorize_path(:facebook) %>">
    <div class="o-button trkr-o-pad right instruct-font font-13">
    	LOGIN TO TRK
  	</div>
  </a>
<% end %>
