<% friend_trk_class ||= nil %>
<% friend_untrk_class ||= nil %>
<% icon ||= 'icon-plus' %>
<% if user_signed_in?%>
  <% if current_user.following? trk_artist.id %>
    <%= render :partial => "follows/unfollow_artist", :object => trk_artist  %>
  <% else %>
    <%= render :partial => "follows/follow_artist", :object => trk_artist, :locals => { :icon => icon } %>
  <% end %>
<% else %>
<a href="<%= user_omniauth_authorize_path(:facebook) %>"><div class="artist-trkr-search"><i class="icon-signin"></i></div></a>
<% end %>
