<div id="timeline-empty">
  <h2>Oh dear...</h2>
  <p class="empty-message">Looks like we can't find any releases for this artist. Why not search for an artist,
    or look through some recommended artists below...
  </p>
</div>