<div class="row">
  <div class="span18">
    <% if !user_signed_in? %>
        <div id="timeline-logout">
        <% else %>
    <% end %>
    <div class="timeline-outer">
      <div class="timeline-end"></div>
      <div class="timeline-page">
        <%= yield :timeline %>
        <div class="timeline-end"></div>
      </div>
    </div>
    <% if !user_signed_in? %></div>>
        <% else %>
    <% end %>
  </div>
</div>
