<div class="row">
	<div class="span9">
		<div class="timeline-outer">
			<div class="timeline-end"></div>
			<div class="timeline-page">
				<%= yield :timeline %>
				<div class="timeline-end"></div>
			</div>
		</div>
	</div>
</div>