<div id="timeline-empty" class="recommendations">
	<h1>Oh dear...</h1>
	<p>Looks like you aren't tracking anyone yet, or the people you are tracking have no releases out. Why not search for an artist,
		or look through some recommended artists below...
	</p>
	<%= render 'timeline/empty' %>
</div>
<script>
	$(document).ready(function(){
	  	artist_suggestion_replace();
	})
</script>