<div id="timeline-empty">
  <h2>Oh dear...</h2>
  <p class="empty-message">Looks like you aren't tracking anyone yet, or the people you are tracking have no releases
    out. Why not search for an artist,
    or look through some recommended artists below...
  </p>
</div>