<% content_for :title do %>Track your favourite artists and never miss another release - Beta Invite Signup<% end %>
<% content_for :description do %>Sign up free now to receive an exclusive beta release invite and get the latest updates. Quickly find and track artists you already like, with Facebook integration.<% end %>
<div class="content content-pad-187">
  <% if @beta_user.errors.any? %>
      <% @beta_user.errors.full_messages.each do |msg| %>
        <script language="Javascript">
	    <!--
	    alert ("Sorry, we encountered an error processing this email: <%= msg %>")
	    //-->
	    </script>
      <% end %>
  <% end %>
  <% if flash[:notice] %>
  <script language="Javascript">
	    <!--
	    alert ("Thank you for signing up to SNGTRKR beta, you will receive a confirmation email soon.")
	    //-->
	    </script>
  <% end %>
	<a href="/"><img id="beta-header" src="/images/beta-header.png"/></a>
	<div class="content-beta-left left">
			<h2 class="signika-txt top-header font-35 beta-white-header">Sign up FREE now for an exclusive beta invite...</h2>		
		<div class="left reg-points">
			<ul>
				<li class="left"><img src="/images/tick.png"></img>
					<div class="point-txt right">
						Quickly find and track artists you already like, with Facebook integration.
					</div>
				</li>
				<li class="left"><img src="/images/tick.png"></img>
					<div class="point-txt right">
						Listen to artists and buy tracks, old and new, with an intuitive timeline. 
					</div>
				</li>
				<li class="left"><img src="/images/tick.png"></img>
					<div class="point-txt right">
						Receive notifications when artists release new tracks, before anyone else.
					</div>
				</li>
			</ul>
			</div>
		</div>
		<div class="content-beta-right right">
			<div id="beta-txt">Inspired by the passion and appreciation that we have for music and artists alike, we built SNGTRKR - a webapp to enable other music lovers to easily track artists, so that they never miss another music release.<br/><br/>
			We wanted to make it simple for you to find out when your favourite artists are releasing new content, by removing the hassle of looking through 
			social media sites, subscribing to mailing lists, or repeatedly checking artists’ websites.<br/><br/>
			If you are an artist and/or record label and you would like more information please email us at <a href="mailto:press@sngtrkr.com">press@sngtrkr.com</a>.<br/><br/>
			<h3><div class="font-13"><strong>To receive an exclusive beta release invite and get the latest updates, enter your email address below:</strong></div></h3></div>
			<div id="mc_embed_signup">
      <%= form_for(@beta_user) do |f| %>
      <div class="mc-field-group">
          <%= f.text_field :email, :class => "required email form-text", :id => "mce-EMAIL" %>
      </div>
      	<div id="mce-responses" class="clear">
      		<div class="response" id="mce-error-response" style="display:none"></div>
      		<div class="response" id="mce-success-response" style="display:none"></div>
      	</div>	<div id="beta-submit"><div class="clear">
        <div class="o-button norm-o-pad left signika-font">
          <%= f.submit "Sign up for beta", :id => "mc-embedded-subscribe" %>
          <span></span>
        </div>
      	</div>
      	</div>
      <% end %>
</div>
</div>
<div class="clear"></div>
<div id="beta-line"></div>
<ul class="beta-sm">
<li class="left beta-som"><a href="mailto:info@sngtrkr.com" target="_blank"><img src="/images/beta-email.png"/><span class="text-nudge-2">info@sngtrkr.com</a></span></li>
				<li class="left beta-som"><a href="https://www.facebook.com/pages/Sngtrkr/358652204169145" target="_blank"><img src="/images/about-fb.png"/><span class="text-nudge-2">Like us on Facebook</a></span></li>
				<li class="left beta-som"><a href="https://twitter.com/#!/SNGTRKR" target="_blank"><img src="/images/about-twit.png"/><span class="text-nudge-2">Follow us on Twitter</a></span></li>
				<li class="left beta-som"><a href="https://plus.google.com/111951759053908858363/posts" target="_blank"><img src="/images/about-google.png"/><span class="text-nudge-2">Circle us on Google+</a></span></li>
				</ul>
<div class="clear"></div>


