<div class="content content-pad-160-bottom">
<h1 class="top-header font-35">About SNGTRKR</h1>	
<div id="about-txt">Inspired by the passion and appreciation that we have for music and artists alike, we built SNGTRKR - a webapp to enable other music lovers to easily track artists, 
so that they never miss another music release. We wanted to make it simple for you to find out when your favourite artists are releasing new content, 
by removing the hassle of looking through social media sites, subscribing to mailing lists, or repeatedly checking artists’ websites.<br/></br/>

SNGTRKR is built to be completely automated by syncing to Facebook. It works by indexing many different artists, while collating data from several other online platforms, 
to create a rich source of artist information within a comprehensive database of music releases, both old and new.<br/><br/>

All of this information is then delivered instantly to you. You choose which artists that you wish to track, either for their upcoming dancefloor fillers, 
or their archived classics. We then supply you with a timeline of the artist’s tracks, alongside email alerts on the day that their new releases are announced. 
Additionally, upon registration SNGTRKR automatically recognises the artists that you’ve already liked on Facebook, and supplies you with relevant recommendations 
to build up your TRK’d artists.<br/><br/>

But it doesn’t stop there. We’ve taken it one step further and integrated the ability to listen to and purchase tracks from several online music outlets, 
so that discovering new music can be a fast and enjoyable experience. Furthermore, we have retained the sense of community that Facebook offers, 
by allowing you to browse and listen to music that your Facebook friends are TRKing on the SNGTRKR platform.<br/><br/>

Our dream is to make every track that is released available on the SNGTRKR application. We want to become the definitive online catalogue for every artist’s music releases.<br/><br/>

SNGTRKR was founded in 2012 by Matt Bessey and Tom Dallimore,<br/>
<span class="italic">‘Two people who wanted to TRK music releases straight to their inbox’.</span></div>
<div id="social-media-about">
<img class="left sm-pad" src="/assets/images/sm-fb.png">
<img class="left sm-pad" src="/assets/images/sm-twit.png">
<img class="left" src="/assets/images/sm-google.png">
</div>
<div class="clear"></div>
