<% content_for :title do %>About SNGTRKR<% end %>
<% content_for :description do %>Inspired by the passion and appreciation that we have for music and artists alike, we built SNGTRKR - a webapp to enable other music lovers to easily track artists.<% end %>
<div class="row">
<div class="span10 offset1">
<div id="about-txt"><h1>About SNGTRKR</h1>
<h2>
	Who is it for?
</h2>
<p>
	Anyone with an interest in keeping up with new music! We think DJs will find the site particularly useful though. It's also a great
	way to see the entire discography of an artist in a very presentable way.
</p>
<h2>
	What does it do?
</h2>
<p>SNGTRKR simplifies beyond belief the process of keeping up with new music, by putting all the information on the artists you love 
	in one place, and emailing you when (and <strong>only when</strong>) they release new material. Just tell us who you like listening to, and we'll notify you by email when they have a new release, as well as suggest other similar 
	artists you might also want to listen to.</p>
<p>As well as email, we'll present you with a timeline of new releases from artists you track, from present day all the way back to the
	first album they ever published. It's a great way to get nostalgic! You can track absolutely any artist with a Facebook page. They don't have to be using SNGTRKR, simply search for them on our site, if
	they aren't already in our catalogue we'll add them immediately.</p>
<p>We offer links to buy most music through both 7digital and iTunes, so whatever your preference, you're covered.</p>
<h2>
	How do you say it?
</h2>
<p><strong>Song-tracker</strong>. Not, as we hear it can be read, snog-tracker, sorry ladies. ;)</p>
<p>
<h2>I'm an artist, how do I manage myself on SNGTRKR?</h2>
<p>
It's simple! Just log in with a Facebook account that has permission to manage your Facebook artist page, go to your profile and choose <strong>manage artist</strong>.</p>
<p>You may not even need to manage yourself, we're generally very good at scraping your releases from our partner stores, so unless you have a very ambiguous name, we should find you.</p>

</div>
</div></div>
<div class="row">
<div class="span10 offset1">
	<ul class="boxes">
		<li class="box"><h2>Contact Us</h2>
			<p class="nudge">For general informaton, queries and support please contact:
			<a href="mailto:support@sngtrkr.com">support@sngtrkr.com</a></p>
		</li>
		<li class="box"><h2>Press</h2>
			<p class="nudge">If you are an artist and/or record label please contact: <a href="mailto:press@sngtrkr.com">press@sngtrkr.com</a></p>
		</li>
		<li class="box"><h2>Social Media</h2>
			<ul class="sm">
				<li><a href="https://www.facebook.com/pages/Sngtrkr/358652204169145" target="_blank"><div id="fb-icon"><i class="icon-facebook"></i></div><span>Like us on Facebook</a></span></li>
				<li><a href="https://twitter.com/#!/SNGTRKR" target="_blank"><div id="twit-icon"><i class="icon-twitter"></i></div><span>Follow us on Twitter</a></span></li>
				<li><a href="https://plus.google.com/111951759053908858363/posts" target="_blank"><div id="goo-icon"><i class="icon-google-plus"></i></div><span>Circle us on Google+</a></span></li>
			</ul>
		</li>
		<div class="clear"></div>
   </ul>
</div></div>
