<% content_for :title do %>Track your favourite artists and never miss another release...<% end %>
<div class="content content-splash-pad-262-bottom">
	<img src="/assets/images/logo-120.png" alt="SNGTRKR"/>
	<h2 class="beta-white-header signika-txt font-35">What is SNGTRKR</h2>
	<div class="beta-info">Inspired by the passion and appreciation that we have for music and artists alike, we built SNGTRKR - 
	a webapp to enable other music lovers to easily track artists, so that they never miss another music release.<br/><br/> 
	We wanted to make it simple for you to find out when your favourite artists are releasing new content, by removing the hassle of looking through 
	social media sites, subscribing to mailing lists, or repeatedly checking artists’ websites.<br/><br/>
	<span class="font-15"><strong>To receive an exclusive BETA release invite and get the latest updates, enter your email address below:</strong></span>
</div>