<% content_for :og_name, "Help"
content_for :og_url, request.url
content_for :og_image, File.join(root_url , "/images/icon.png")
content_for :og_description, "Help and frequently asked questions for the SNGTRKR platform."
content_for :og_type, "website"
%>
<% content_for :title do %>Help<% end %>
<% content_for :description do %>Help and frequently asked questions for the SNGTRKR platform.<% end %>
<%= javascript_include_tag "/slider/modernizr.custom.28468.js" %>
<%= javascript_include_tag "/slider/jquery.cslider.js" %>
</div></div>
			<div id="da-slider" class="da-slider">
				<div class="da-slide">
					<h2>Getting Started</h2>
					<p>Right from the start SNGTRKR will supply artist suggestions, based on your facebook likes so you can quickly fill your timeline. Tracking a new artist could not be easier; you simply use the <strong>search tools</strong> provided to discover new and exciting content.</p>
					<div class="da-img"><img src="/images/slider/1.png" alt="image01" /></div>
				</div>
				<div class="da-slide">
					<h2>Timeline</h2>
					<p>Your timeline will be the central hub of your SNGTRKR experience. Once you've started tracking artists, your timeline will display a <strong>rich pool of musical content</strong> with the ability to rate, buy, share and listen to tracks of your choice.</p>
					<div class="da-img"><img src="/images/slider/2.png" alt="image01" /></div>
				</div>
				<div class="da-slide">
					<h2>Your Profile</h2>
					<p>Tailoring your profile to suit <strong>your</strong> needs could not be any easier. Your profile will allow you to view artists you are currently tracking, change your email settings, keep up with your friends and even manage your own artist. </p>
					<div class="da-img"><img src="/images/slider/3.png" alt="image01" /></div>
				</div>
				<div class="da-slide">
					<h2>Friends</h2>
					<p>We like to preserve the fun and friendly community Facebook has to offer. Keeping up to date with what your friends like, or sharing an <strong>amazing new artist</strong> is easy with our intuitive friend interface. If you're ready to get started, click the continue button below! </p>
					<div class="da-img"><img src="/images/slider/4.png" alt="image01" /></div>
				</div>
				<nav class="da-arrows">
					<span class="da-arrows-prev"></span>
					<span class="da-arrows-next"></span>
				</nav>
			</div>
		<script type="text/javascript">
			$(function() {
			
				$('#da-slider').cslider();
				
			});
		</script>	
<div class="wrapper2">
<div class="container">