<% content_for :title do %>Help<% end %>
<% content_for :description do %>Help and frequently asked questions for the SNGTRKR platform.<% end %>
<div class="content content-pad-160-bottom">
<h2 class="signika-txt top-header font-35">Help</h2>	