<% if(user_signed_in?) %>

<% elsif %>
<div class="content content-pad-bottom">
	<h2 class="signika-txt home-white-header font-35">Track your favourite artists and never miss another release...</h2>
	<div id="big-search">
		<%= form_tag artists_path , :method => 'get' do %>
		<%= text_field_tag(:search, params[:search]) %> <img id="search-35" src="/assets/images/search-35.png"></img>
		<% end %>
	</div>
	<div class="clear"></div>
	<div class="how-to-box">
		<div class="each-box box-pad">
			<div class="how-to-txt">
				Login with facebook to find artists you like.
			</div><img class="how-image-nudge" src="/assets/images/f-people.png"/>
		</div>
		<div class="each-box box-pad">
			<div class="how-to-txt">
				Listen to & buy tracks, with an easy to use timeline.
			</div><img class="how-image-nudge" src="/assets/images/gears.png"/>
		</div>
		<div class="each-box">
			<div class="how-to-txt">
				Free notifications when artists release new tracks.
			</div><img class="how-image-nudge" src="/assets/images/calendar.png"/>
		</div>
	</div>
	<div class="clear"></div>
<!-- 	<div class="find-out-box">
		<div class="find-box find-pad">
			<div class="find-txt">
				Find out more
			</div>
		</div>
		<div class="find-box find-pad">
			<div class="find-txt">
				Find out more
			</div>
		</div>
		<div class="find-box">
			<div class="find-txt">
				Find out more
			</div>
		</div>
	</div> -->
<% end %>
