<% content_for :og_name, "Track your favourite artists and never miss another release..."
content_for :og_url, request.url
content_for :og_image, File.join(root_url , "/images/icon.png")
content_for :og_description, "Our simple web tool makes it easy to keep up to date with your favourite artists. Discovering and sharing music with your friends, has never been so simple."
content_for :og_type, "website"
%>
<% content_for :description do %>Login with Facebook to find artists you like. Listen to & buy tracks, with an easy to use timeline. Free notifications when artists release new tracks.<% end %>	
<div class="homepage">
	<h1>Track your favourite artists<br/><span>Never miss another release</span></h1>
	<h3 class="span5">Our simple web tool makes it easy to keep up to date with your favourite artists. Discovering and sharing music with your friends, has never been so simple. </h3>
</div>
</div>
	<div id="releases">
	</div>
<div class="container">
	<div class="homepage">
		<div class="signup-home">
			<a href="#" class="btn btn-primary btn-large">
				<i class="icon-facebook"></i>Sign in with Facebook
			</a>
			<a href="#" class="btn btn-warning btn-large">Sign up</a>
			<div class="social_share">
				<div class="fb-like" data-href="http://www.facebook.com/sngtrkr" data-send="false" data-layout="button_count" data-width="450" data-show-faces="false"></div>
				<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://www.sngtrkr.com" data-text="Track your favourite artists, never miss another release" data-via="sngtrkr">Tweet</a>
				<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
				<div class="g-plusone" data-size="medium" data-href="http://www.sngtrkr.com"></div>
				<script type="text/javascript">
				  window.___gcfg = {lang: 'en-GB'};

				  (function() {
				    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
				    po.src = 'https://apis.google.com/js/plusone.js';
				    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
				  })();
				</script>
			</div>
		</div>
		<div class="sectors">
			<!-- section1 -->
			<div class="row-fluid">
				<div class="span10">
					<div class="row-fluid">
						<div class="span5 timeline">
							<h2>Follow artists you love<span>With your personalised timeline</span></h2>
							<p>SNGTRKR intuitively recognises which artists you’ve liked on Facebook, and supplies you with <strong>recommendations</strong> to build up your tracked artists. You can stay in the loop with your personalised <strong>timeline</strong> of artist releases, old and new, and experience new music.</p>
						</div>
						<div class="offset1 span6">
							<%= image_tag "/images/timeline.png", :alt => "Timeline", :class => "timeline_img" %>
						</div>
					</div>
				</div>
			</div>
			<!-- section2 -->
			<div class="row-fluid">
				<div class="span10">
					<div class="row-fluid">
						<div class="span6">
							<%= image_tag "/images/computer.png", :alt => "Keeping connected" %>
						</div>
						<div class="span5 computer">
							<h2>Stay connected<span>Sharing all your favourite artists</span></h2>
							<p>Want to get your friend’s opinion on a fresh release from your favourite record label? SNGTRKR makes it simple to <strong>share new content</strong> with your friends, and collate the latest and greatest in musical talent with its intuitive timeline.</p>
						</div>
					</div>
				</div>
			</div>
			<!-- section3 -->
			<div class="row-fluid">
				<div class="span10">
					<div class="row-fluid">
						<div class="span5 release">
							<h2>Discover new music<span>With some help from your friends</span></h2>
							<p>Looking to expand your library? SNGTRKR makes it easy to <strong>discover</strong> new music with tracklistings, similar artists and purchase links. All of this and more you can share and play with your friends, using the integrated social media tools, to create the complete <strong>social music experience</strong>.</p>
						</div>
						<div class="offset1 span6">
							<%= image_tag "/images/releases.png", :alt => "Releases" %>
						</div>
					</div>
				</div>
			</div>
			<!-- section4 -->
			<div class="row-fluid">
				<div class="span10 bottom">
					<div class="row-fluid">
						<div class="span6">
							<%= image_tag "/images/email.png", :alt => "Email" %>
						</div>
						<div class="span5 email">
							<h2>Keep up to date<span>Always be the first to know</span></h2>
							<p>Looking to boost your <strong>music library</strong>? Let SNGTRKR do all the hard work, by sending you tailored emails with all the latest releases from the artists you love. Always <strong>stay in the loop</strong> with our expansive database of artist information, and never miss another release!</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="signup-home">
			<a href="#" class="btn btn-primary btn-large"><i class="icon-facebook"></i>Sign in with Facebook</a>
			<div class="social_share">
				<div class="fb-like" data-href="http://www.facebook.com/sngtrkr" data-send="false" data-layout="button_count" data-width="450" data-show-faces="false"></div>
				<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://www.sngtrkr.com" data-text="Track your favourite artists, never miss another release" data-via="sngtrkr">Tweet</a>
				<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
				<div class="g-plusone" data-size="medium" data-href="http://www.sngtrkr.com"></div>
				<script type="text/javascript">
				  window.___gcfg = {lang: 'en-GB'};

				  (function() {
				    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
				    po.src = 'https://apis.google.com/js/plusone.js';
				    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
				  })();
				</script>
			</div>
		</div>
	</div>
</div>