<% content_for :title do %>Track your favourite artists and never miss another release...<% end %>
<% content_for :description do %>Login with Facebook to find artists you like. Listen to & buy tracks, with an easy to use timeline. Free notifications when artists release new tracks.<% end %>
<div class="row"><div class="span10 offset1">
<div class="row">
<div class="span5">
	<h1 class="home-header">We are currently processing your beta invite in our system...</h1><br/>
	<div class="home-txt-1">We want to make sure your first experience is smooth as possible, therefore we are authorising beta invites in waves.<br/> <span>If you registered before the <strong>16th July</strong>, your invite is currently on its way to you now!</span></div><br/>
</div>
<div class="span5">
	<%= image_tag "/images/macbook.png", :alt => "Macbook", :id => "home-macbook" %>
</div></div>
<div class="row">
<div class="span10">
<ul id="home-points">
	<li><h2>Find artists you like</h2><br/>
	<div>SNGTRKR intuitively recognises which artists you've liked on Facebook, and supplies you with recommendations to build up your TRK'd artists.</div>
	<%= image_tag "/images/home1.png", :alt => 'Recommendations', :id => 'home1' %></li>
	<li><h2>Discover new music</h2><br/>
	<div>Looking to expand your music library? SNGTRKR makes it fun and exciting to discover new music with track previews, recommendations and purchase links.</div>
	<%= image_tag "/images/home2.png", :alt => 'Music', :id => 'home2' %></li>
	<li><h2>Keep up to date</h2><br/>
	<div>Stay in the loop with your personalised timeline of artist releases, old and new. Alongside regular notifications straight to your inbox.</div>
	<%= image_tag "/images/home3.png", :alt => 'Timeline', :id => 'home3' %></li>
<div class="clear"></div>
</ul>
</div></div></div></div>
<script type="text/javascript">
$(document).ready(function() {
  $('.fb-home-login').click(function(){ $('.fb-home-login > span').html('Logging in...'); }); });
</script>