<% content_for :title do %>Team<% end %>
<% content_for :description do %>SNGTRKR is built and run by a collective of music enthusiastic fans, who want to make it more fun to discover new music and track artists.<% end %>
<div class="team row">
<div class="span10 offset1">
<h1>The Team</h1>	
<p>SNGTRKR is primarily built and run by two music enthusiastic fans, who want to make discovering great new music as easy and enjoyable as possible. To find out more information about SNGTRKR, or how to get involved, head on over to our About Us page.</p>
<p>Get in touch and email us at <a href="mailto:info@sngtrkr.com">info@sngtrkr.com</a>.</p>
<div id="team-pic" style="background-image:url(/images/team.jpg);"></div>
<div class="row">
<div class="span5">
<h2>Billy Dallimore</h2> 
<h3>Co-Founder, Chief Designer</h3>
<span>Billy was brought up within a family run Graphic Design business from an early age, which in turn inspired him to turn to web design &amp; development. 
Being self taught amongst several web languages from the early age of 16, Billy has reaffirmed, improved and certified his skills within the web development 
&amp; design business over the course of 6 years. Billy also shares a passion for the EDM music scene, and has been actively DJing anything with a bassline for the past couple of years.</span>
</div>
<div class="span5">
<div id="second">
<h2>Matt Bessey</h2> <h3>Co-Founder, Chief Developer</h3>
<span>Matt has been using a keyboard and mouse since he was 4, or so his university application says anyway. Like Billy he taught himself web development from an early age, and
went on to study Computer Science at Bristol University. He's in his 2nd year right now. When not busy with deadlines and general hackery, he enjoys DJing a
variety of music.</span></div>
</div></div>

</div></div>