<% content_for :title do %>Team SNGTRKR<% end %>
<div class="content content-pad-160-bottom">
<h2 class="signika-txt top-header font-35">Team SNGTRKR</h2>	
<div id="team-txt">
<p>SNGTRKR is built and run by a collective of music enthusiastic fans, who want to make it more fun to discover new music and track artists they like, in the booming universal music culture. To find out more information about SNGTRKR, head on over to our ‘About Us’ page.</p>
<p>Get in touch and email us at <a href="mailto:support@sngtrkr.com">support@sngtrkr.com</a>.</p>
</div>
<div id="team">
<div class="team-members">
<div class="team-pic-left left"><img src="/assets/images/team.png"></div>
<div class="team-desc right"><div class="font-15"><strong>Tom Dallimore (Co-Founder, Chief Designer)</strong></div><br/>
Tom was brought up within a family run Graphic Design business from an early age, which in turn inspired him to turn to web design & development. Being self taught amongst several web languages from the early age of 16, Tom has reaffirmed, improved and certified his skills within the web development & design business over the course of 6 years. Tom also shares a passion for the EDM music scene, and has been actively DJing dub, drum & bass and dubstep over the past couple of years.</div>
</div>
<div class="clear"></div>
<div class="team-members">
<div class="team-pic-right right"><img src="/assets/images/team.png"></div>
<div class="team-desc left desc-align"><div class="font-15"><strong>Matt Bessey (Co-Founder, Chief Developer)</strong></div><br/>
</div>
</div>
<div class="clear"></div>
</div>
