<% content_for :title do %>Team<% end %>
<% content_for :description do %>SNGTRKR is built and run by a collective of music enthusiastic fans, who want to make it more fun to discover new music and track artists.<% end %>
<div class="team row">
<span class="span10 offset1">
<h1>The Team</h1>	
<p id="top-text">SNGTRKR is primarily built and run by two music enthusiasts, who want to make discovering great new music as easy and enjoyable as possible. To find out more information about SNGTRKR, or how to get involved, head on over to our <%= link_to 'about us', "/about" %> page.</p>
<p id="top-text">If you'd like to get in touch you can email us at <a href="mailto:info@sngtrkr.com">info@sngtrkr.com</a>.</p>
<div id="team-pic-container">
	<div id="team-pic" style="background-image:url(/images/team.jpg);"></div>
</div>
<div class="row">
<span class="span5">
<h2>Billy Dallimore</h2> 
<h3>Co-Founder, Chief Designer</h3>
<p>Billy was brought up within a family run Graphic Design business from an early age, which in turn inspired him to turn to web design &amp; development. 
Being self taught amongst several web languages from the early age of 16, Billy has reaffirmed, improved and certified his skills within the web development 
&amp; design business over the course of 6 years. Billy also shares a passion for the EDM music scene, and has been actively DJing anything with a bassline for the past couple of years.</p>
</span>

<span class="span5">
<div id="second">
<h2>Matt Bessey</h2> <h3>Co-Founder, Chief Developer</h3>
<p>Matt has been using a keyboard and mouse since he was 4, or so his university application says anyway. Like Billy he taught himself web development from an early age, and
went on to study Computer Science at Bristol University. He's in his 2nd year right now. When not busy with deadlines and general hackery, he enjoys DJing a
variety of music.</p></div>
</span></div>

</span></div>

<div class="team row">
	<span class="span10 offset1">
		<h2>Our story</h2>
		<p>Inspired by the passion and appreciation that we have for music and artists alike, we built SNGTRKR - a webapp to enable other music lovers to easily track artists, so that they never miss another music release. We wanted to make it simple for you to find out when your favourite artists are releasing new content, by removing the hassle of looking through social media sites, subscribing to mailing lists, or repeatedly checking artists’ websites.</p>
		
		<p>SNGTRKR is built to be completely automated by syncing to Facebook. It works by indexing many different artists, while collating data from several other online platforms, to create a rich source of artist information within a comprehensive database of music releases, both old and new.</p>
		<p>All of this information is then delivered instantly to you. You choose which artists that you wish to track, either for their upcoming dancefloor fillers, or their archived classics. We then supply you with a timeline of the artist’s tracks, alongside email alerts on the day that their new releases are announced. Additionally, upon registration SNGTRKR automatically recognises the artists that you’ve already liked on Facebook, and supplies you with relevant recommendations to build up your TRK’d artists.
		But it doesn’t stop there. We’ve taken it one step further and integrated the ability to listen to and purchase tracks from several online music outlets, so that discovering new music can be a fast and enjoyable experience. Furthermore, we have retained the sense of community that Facebook offers, by allowing you to browse and listen to music that your Facebook friends are TRKing on the SNGTRKR platform.</p>
		<p>
		Our dream is to make every track that is released available on the SNGTRKR application. We want to become the definitive online catalogue for every artist’s music releases.</p>
		<p>SNGTRKR was founded in 2012 by Matt Bessey and Billy Dallimore,<br>
		<strong>‘Two people who wanted to track music releases straight to their inbox’.</strong>
		</p>
	</span>
</div>