<% content_for :title do %>Internal Server Error - ERROR 500<% end %>
<div class="content content-error-pad-220-bottom">
<div id="content-error-left">
<h2 class="signika-txt font-100">Oops!</h2>
<div class="error-txt font-20">Something broke,<br/> it may...have been me.</div><br/>
<h3 class="font-20 error-404-txt">ERROR 500</h3></div>
<div id="content-error-right">
<%= image_tag "/images/puppy.png", :alt => "Puppy" %>
</div>
<div class="clear"></div>
