<% content_for :title do %>Internal server error 500<% end %>
<div class="errorpage">
	<h1>Sorry, something went wrong.</h1>
	<h2>A team of highly trained monkeys have been<br/>dispatched to deal with the problem.</h2>
</div>
