<% content_for :title do %>ERROR 404 - Page not found<% end %>
<div class="content content-error-pad-220-bottom">
<div id="content-error-left">
<h2 class="signika-txt font-100">Oops!</h2>
<div class="error-txt font-20">You seem a little<br/> lost...just like me.</div><br/>
<h3 class="font-20 error-404-txt">ERROR 404</h3></div>
<div id="content-error-right">
<img src="/assets/images/puppy.png"/>	
</div>
<div class="clear"></div>
