<% content_for :title do %>Page not found error 404
<% end %>
<div class="errorpage">
  <h1>Ah bummer, 404!</h1>

  <h2>Looks like what you’re trying to find isn’t here.<br/>It was probably moved or sucked into a black hole.</h2>
</div>
