<% content_for :title do %>Internal Server Error - ERROR 500<% end %>
<div class="row error-pages"><div class="span8 offset2">
	<div class="row"><div class="span4">
        <h2>Oops!</h2>
        <h3>Server Error</h3><br/>
        <span>It seems something went wrong somewhere... <br/>our team has been notified.</span>
	</div>
	<div class="span4">
        <%= image_tag "/images/gears.png", :alt => "Server Error", :id => "gears" %>
	</div></div>
</div></div>
