<script><%= content_for :fb_js do %>
	console.log("Including facebook script in content_for");
	FB.getLoginStatus(function(response) {
		if(response.status === 'connected') {
			<span>Logging in..</span>
			window.location.replace('<%= File.join(root_url, user_omniauth_authorize_path(:facebook)) %>');
			// the user is logged in and has authenticated your
			// app, and response.authResponse supplies
			// the user's ID, a valid access token, a signed
			// request, and the time the access token
			// and signed request each expire
			var uid = response.authResponse.userID;
			var accessToken = response.authResponse.accessToken;
		} else if(response.status === 'not_authorized') {
			// the user is logged in to Facebook,
			// but has not authenticated your app
		} else {
			// the user isn't logged in to Facebook.
		}
	});

<% end %></script>
<%= render 'shared/fb_async' %>
<% content_for :title do %>Track your favourite artists and never miss another release...<% end %>
<% content_for :description do %>Sign up free now to receive an exclusive beta release invite and get the latest updates. Quickly find and track artists you already like, with Facebook integration.<% end %>
<% content_for :title do %>Internal Server Error - ERROR 403<% end %>
<div class="content content-pad-187-bottom">
<div id="content-403">
<div id="content-404-left">
<h2 class="signika-txt font-100">Oops!</h2>
<h3 class="txt-404 font-18">Forbidden Access</h3><br/>
<div class="font-20 txt-404-2">ERROR 403</div></div>
<div id="content-404-right">
<%= image_tag "/images/lock.png", :alt => "Server Error", :id => "lock" %>
</div>
</div>
<div class="clear"></div>

