// Confirm feedback sent here
//$("#ajax-feedback-submit-button").attr("value", "Sent!").class("button-disabled");
$("#feedback #content").html("<p>Submitted! Thank you for your feedback.</p>").delay(1000).fadeOut();