$("a.add-trkr").bind("ajax:complete", function () {
    var artist_id = $(this).data("id");
    $(this).replaceWith("<a href=\"/artists/" + artist_id + "/unfollow.js\" class=\"remove-trkr btn track active\" data-id=\"" + artist_id + "\" data-remote=\"true\">Tracked</a>");
    <% @artist = Artist.find(params[:artist_id]) %>
    // TODO: Pluralize is currently causing an error. Need to investigate.
    //console.log(<%= pluralize @artist.followers, "tracker" %>);
    //$('#tracker-' + artist_id).text(<%= pluralize(@artist.followers, "tracker") %>);
    FB.api("/me/sngtrkr:track", "post", {
        artist: "http://sngtrkr.com/artists/" + $(this).data("id")
    }, function (response) {
        console.log("FB Open Graph Posted");
        console.log(response);
    });
});
$("a.add-trkr-small").bind("ajax:complete", function () {
    var artist_id = $(this).data("id");
    $(this).replaceWith("<a href=\"/artists/" + artist_id + "/unfollow.js\" class=\"remove-trkr-small btn btn-small active\" data-id=\"" + artist_id + "\" data-remote=\"true\">Tracked</a>");
    FB.api("/me/sngtrkr:track", "post", {
        artist: "http://sngtrkr.com/artists/" + $(this).data("id")
    }, function (response) {
        console.log("FB Open Graph Posted");
        console.log(response);
    });
});
$("a.add-trkr-tile").bind("ajax:complete", function () {
    var artist_id = $(this).data("id");
    $(this).replaceWith("<a href=\"/artists/" + artist_id + "/unfollow.js\" class=\"remove-trkr-tile act track_artist active\" data-id=\"" + artist_id + "\" data-remote=\"true\">Tracked</a>");
    FB.api("/me/sngtrkr:track", "post", {
        artist: "http://sngtrkr.com/artists/" + $(this).data("id")
    }, function (response) {
        console.log("FB Open Graph Posted");
        console.log(response);
    });
});
