#= require jquery_ujs
#= require bootstrap
#= require hogan-2.0.0
#= require jquery-ui-1.10.2.custom.min
#= require jquery.hoverIntent.minified
#= require jquery.mousewheel.min
#= require jquery.scrollTo.min
#= require spin
#= require jquery.spin
#= require modernizr-2.6.2-respond-1.1.0.min
#= require typeahead

$(document).ready ->
  analytics_tracking()
  navbar()
  popover_triggers()
  modal()
  typeahead_engine()
  infinite_scrolling()
  hide_sidebar()
  homepage_releases()
  alert_animation()
  timeline()
  walkthrough()
  ui_slider()
  img_flip()
  loading_animation_settings()
  recommendation()

  #tooltip initiation
  $('.tip').tooltip()

  window.deviceEnabled = (/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent))

  #allow anchor links for nav tabs
  # url = document.location.toString()
  # $(".nav-tabs a[href=#" + url.split("#")[1] + "]").tab "show"  if url.match("#")

$(document).ajaxComplete ->
  popover_triggers()
  homepage_releases()

$(window).load ->
  scrollbar()

$(window).resize ->
  hide_sidebar()
  scrollbar_resize()

window.trigger_walk = 0

timeline = ->
    $('#recommend_carousel').carousel(
      interval: false
    )
    $('.recommend_artists #recommend_carousel .carousel-inner .item:first-child').addClass 'active'

    if $('.user_timeline .release').length >= 9
      $('.recommend_artists').insertAfter('.user_timeline .release:nth-child(9)').show()
    else if $('.user_timeline .release').length <= 3
      $('.recommend_artists').show()

    if $('.user_timeline .release').length >= 18
      $('.hero_artist').insertAfter('.user_timeline .release:nth-child(18)').show()

homepage_releases = ->
    #homepage release animation
    $container = $(".pop_releases")
    $releases = $container.children("a")
    timeout = undefined
    $releases.on "mouseenter", (event) ->
      $single_release = $(@)
      clearTimeout timeout
      timeout = setTimeout(->
        $related_releases = $single_release.parent().children()
        return false  if $single_release.hasClass("active")
        $related_releases.not($single_release).removeClass("active").addClass "blur"
        $single_release.removeClass("blur").addClass "active"
      , 75)

    $container.on "mouseleave", (event) ->
      clearTimeout timeout
      $releases.removeClass "active blur"

alert_animation = ->
    $(".alert").removeClass("fadeOutUp").show().addClass "fadeInDown"
    window.setTimeout (->
      $(".alert").removeClass("fadeInDown").addClass("fadeOutUp").one "webkitAnimationEnd animationend", ->
        $(@).remove();
    ), 4000

ui_slider = ->
    #profile settings slider
    current_frequency = $('#slider').data "current"
    $ ->
      $("#slider").slider
        min: 1
        max: 5
        step: 1
        value: current_frequency
        animate: 'true'
        slide: (event, ui) ->
          $("#user_email_frequency").val ui.value

      $("#user_email_frequency").val $("#slider").slider("value")

img_flip = ->

    $('.image').click ->
      $('.front').toggleClass('front-flip')
      $('.back').toggleClass('back-flip')
      
scrollbar = ->
    #scrollable left sidebar
    scroll_height = $('.scrollable_inner').outerHeight()
    #grab height of inner scrollbar div
    $('.scrollable_inner').css 'height', scroll_height
    #assign height to inner scrollbar div
    window_height = $(window).height()
    #grab current window height
    $('.scrollable').css 'height', window_height
    #set parent scrollbar div as window height
    full_scroll_height = scroll_height + 81
    #add page navbar and padding when calculating scroll start point in comparison to window height
    #check and add scrollbar if required on page load
    if window_height < full_scroll_height
      $('.scrollable_inner').css 'height', window_height - 81 #then calculating the height of the scrollable content, subtract the page navbar and padding
    else
      $('.scrollable_inner').css 'height', scroll_height
    #if window height is not less than scrollbar inner div height, assign its original height
    # Positioning the typeahead results
    typepos = $('.search-query').offset()
    $('.search-data-query').css "left", typepos["left"]
    # Add the new attribute to the style tag, while retaining the current style attributes. Used to ensure !important rule is activated
    $(".tt-dropdown-menu").attr "style", (i, s) ->
      s + "left: " + typepos['left'] + "px !important;"

scrollbar_resize = ->
    #check and add scrollbar if required on window resizing in real time
    window_height = $(window).height()
    $('.scrollable').css 'height', window_height
    if window_height < full_scroll_height
      $('.scrollable_inner').css 'height', window_height - 81 #then calculating the height of the scrollable content, subtract the page navbar and padding
    else
      $('.scrollable_inner').css 'height', scroll_height


hide_sidebar = ->
  if $(window).width() < 1200
    $(".g_right_sidebar").hide()
  else
    $(".g_right_sidebar").show()

navbar = ->
    #secondary nav drop down animation
    $('#show_info a').click ->
      if $("#more_info").is(":hidden")
        $("#more_info").slideDown "slow"
        $('.navbar').animate
          top: 120,
          "slow"
        $("#show_info a").text "Close"
        $(@).attr 'data-tracking-name', 'close-info'
        # Increase height of typehead results
        $(".search-data-query").css 'top', 166
        $('.tt-dropdown-menu').css 'top', 211
      else
        $("#more_info").slideUp "slow"
        $(@).attr 'data-tracking-name', 'open-info'
        $('.navbar').animate
          top: 0,
          "slow"
        $("#show_info a").text "Info"
        $(".search-data-query").css 'top', 46
        $('.tt-dropdown-menu').css 'top', 91

popover_triggers = ->
    #popovers for buy and share
    $("body").on "click", ".share, .buy", ->
      $(@).toggleClass "active"

    $("body").on "click", ".popover a", ->
      $(".share, .buy").each ->
        $(@).popover "hide"
        $(@).removeClass "active"

    $("body").on "click", (e) ->
      $(".share, .buy").each ->
        if not ($(@).is(e.target) or $(@).has(e.target).length > 0) and $(@).siblings(".popover").length isnt 0 and $(@).siblings(".popover").has(e.target).length is 0
          $(@).popover "hide"
          $(@).removeClass "active"
          
    $(".share_sngtrkr").popover
      html: true
      content: $(".sngtrkr_pop").html()
      placement: "bottom"

    $(".share_artist").each ->
      art_id = $(@).attr("id")
      $(@).popover
        html: true
        content: $(".art_pop_" + art_id).html()
        placement: "bottom"

    $(".share_release").each ->
      rel_id = $(@).attr("id")
      $(@).popover
        html: true
        content: $(".rel_pop_" + rel_id).html()
        placement: "bottom"

    $(".buy").each ->
      buy_id = $(@).attr("id")
      $(@).popover
        html: true
        content: $(".buy_pop_" + buy_id).html()
        placement: "bottom"

modal = ->
    #enable client side validation within modals
      # $('.modal').on 'shown', ->
      #   $(@).find('input:visible:first').focus().end().find('form').enableClientSideValidations()
      
    #handling multiple modals, closing others when a modal is triggered
    $('.signup').click ->
      $('#user_login').modal "hide"
      $('#forgot_password').modal "hide"
      $(@).children().addClass "active"

    $('.login').click ->
      $('#user_signup').modal "hide"
      $('#forgot_password').modal "hide"
      $(@).parent().addClass "active"

    $('#user_login').on "hidden", ->
      $('.login').parent().removeClass "active"

    $('#user_signup').on "hidden", ->
      $('.signup').children().removeClass "active"

    # $('#user_login a').click ->
    #   $('#user_login').modal "hide"

    # $('#forgot_password a').click ->
    #   $('#forgot_password').modal "hide"
    #   $('.login').parent().addClass "active"

typeahead_engine = ->
    $(".search-query").typeahead(
      remote: "/search.json?utf8=✓&query=%QUERY"
      # prefetch: "/search.json"
      template: "<div class='inner-suggest'><img src='{{image.image.url}}'/><span><div>{{value}}</div>{{label}}{{artist_name}}</span><div class='{{identifier}}'></div></div>"
      engine: Hogan
      limit: 6
    ).on "typeahead:selected", ($e, data) ->
      if data.identifier is "release_search"
        window.location = "/artists/" + data.artist_id + "/releases/" + data.id
      else
        window.location = "/artists/" + data.id

    dataquery = $('.search-data-query')
    searchquery = $('.search-query')


    searchquery.bind "input", ->
      if searchquery.val() is ""
        dataquery.hide()
      else
        s_query = searchquery.val()
        dataquery.show().html("<a href ='/search?utf8=✓&query=" + s_query + "'><div>Search for '<span>" + s_query + "</span>'</div></a>").addClass "data-query-highlight"

    searchquery.blur ->
      setTimeout (->
        dataquery.hide()
        # $('[data-tracking-name="logout"]').delay(1000).show(1)
      ), 150

    searchquery.focus ->
      unless searchquery.val() is ""
        dataquery.show().addClass "data-query-highlight"

    dataquery.hover ->
      $('.tt-suggestion').removeClass 'tt-is-under-cursor'

    $('.tt-dropdown-menu').hover ->
      dataquery.removeClass "data-query-highlight"

    searchquery.keydown (event) ->
      dataquery.removeClass "data-query-highlight"  if event.keyCode is 40
      dataquery.removeClass "data-query-highlight"  if event.keyCode is 38

      unless $('.tt-suggestion').hasClass "tt-is-under-cursor"
        dataquery.addClass "data-query-highlight"  if event.keyCode is 38
        dataquery.addClass "data-query-highlight"  if event.keyCode is 40

      if dataquery.hasClass "data-query-highlight"
        $('.navbar-search').submit()  if event.keyCode is 13

    $(document)[0].oncontextmenu = ->
    false

    $(document).mousedown (e) ->
      if e.button is 2
        dataquery.hide()
        $('.tt-dropdown-menu').hide()
        false
      else
        true

infinite_scrolling = ->
    #search query
    query = $('#tab3').data 'query'

    #friend timeline scrolling
    friend_time_last_load = new Date().getTime()
    friend_page = 2
    friend_id = $('.friend_timeline').data 'friend'
    $('.friend_timeline').bind "mousewheel", (event, delta) ->
      if delta < 0
        if $(document).scrollTop() > ($(document).height() - 1500) and (new Date().getTime() - friend_time_last_load) > 1000
          $this = $(@)
          loading_animation($this)
          friend_time_last_load = new Date().getTime();
          console.log "AJAX friend timeline page load: " + friend_page
          $.get '/users/' + friend_id + '?page=' + friend_page
          friend_page++

    #timelime scrolling
    user_time_last_load = new Date().getTime()
    page = 1
    $('.user_timeline').bind "mousewheel", (event, delta) ->
      if delta < 0
        if $(document).scrollTop() > ($(document).height() - 1500) and (new Date().getTime() - user_time_last_load) > 1000
          $this = $(@)
          loading_animation($this)
          user_time_last_load = new Date().getTime();
          console.log "AJAX user timeline page load: " + page
          $.get '/timeline?page=' + page
          page++

    artist_time_last_load = new Date().getTime()
    timeline_page = 2     
    current_artist = $('.artist_timeline').data 'artist' 

    $('.artist_timeline').bind "mousewheel", (event, delta) ->
      if delta < 0
        if $(document).scrollTop() > ($(document).height() - 1500) and (new Date().getTime() - artist_time_last_load) > 1000
          $this = $(@)
          loading_animation($this)
          artist_time_last_load = new Date().getTime()
          console.log "AJAX artist timeline page load: " + timeline_page
          $.get '/artists/' + current_artist + '?page=' + timeline_page
          timeline_page++

    #release search infinite scrolling
    rel_page = 2
    rel_last_load = new Date().getTime()
    $(".search-tab-content #tab3").bind "mousewheel", (event, delta) ->
      if delta < 0
        if $(document).scrollTop() > ($(document).height() - 1500) and (new Date().getTime() - rel_last_load) > 1000
          $this = $(@)
          loading_animation($this)
          rel_last_load = new Date().getTime()
          console.log "AJAX release page load: " + rel_page
          url = "/search?utf8=✓&query=" + query + "&r_page=" + rel_page
          console.log url
          $.get url
          rel_page++
  
    #artist search infinite scrolling
    art_page = 2
    art_last_load = new Date().getTime()
    $(".search-tab-content #tab2").bind "mousewheel", (event, delta) ->
      if delta < 0
        if $(document).scrollTop() > ($(document).height() - 1500) and (new Date().getTime() - art_last_load) > 1000
          $this = $(@)
          loading_animation($this)
          art_last_load = new Date().getTime()
          console.log "AJAX artist page load: " + art_page
          url = "/search?utf8=✓&query=" + query + "&a_page=" + art_page
          console.log url
          $.get url
          art_page++

    #artist_tracked list infinite scrolling
    user_id = $('#tab1').data 'user'
    trk_page = 2
    trk_last_load = new Date().getTime()
    $(".profile-tab-content #tab1").bind "mousewheel", (event, delta) ->
      if delta < 0
        if $(document).scrollTop() > ($(document).height() - 1500) and (new Date().getTime() - trk_last_load) > 1000
          $this = $(@)
          loading_animation($this)
          trk_last_load = new Date().getTime()
          console.log "AJAX artist_tracked page load: " + trk_page
          url = "/users/" + user_id + "?page=" + trk_page
          console.log url
          $.get url
          trk_page++

    # Explore releases scrolling
    erel_page = 2
    erel_last_load = new Date().getTime()
    $(".explore-tab-content #tab1").bind "mousewheel", (event, delta) ->
      if delta < 0
        if $(document).scrollTop() > ($(document).height() - 1500) and (new Date().getTime() - erel_last_load) > 1000
          $this = $(@)
          loading_animation($this)
          erel_last_load = new Date().getTime()
          console.log "AJAX explore releases page load: " + erel_page
          url = "/explore/release/" + erel_page
          console.log url
          $.get url
          erel_page++

    # Explore artists scrolling
    eart_page = 2
    eart_last_load = new Date().getTime()
    $(".explore-tab-content #tab2").bind "mousewheel", (event, delta) ->
      if delta < 0
        if $(document).scrollTop() > ($(document).height() - 1500) and (new Date().getTime() - eart_last_load) > 1000
          $this = $(@)
          loading_animation($this)
          eart_last_load = new Date().getTime()
          console.log "AJAX explore artists page load: " + eart_page
          url = "/explore/artist/" + eart_page
          console.log url
          $.get url
          eart_page++

###
  Returns a JSON object of query strings and their values
###
window.get_url_vars = ->
  vars = []
  hash = undefined
  hashes = window.location.href.slice(window.location.href.indexOf("?") + 1).split("&")
  i = 0

  while i < hashes.length
    hash = hashes[i].split("=")
    vars.push hash[0]
    vars[hash[0]] = hash[1]
    i++
  vars

walkthrough = ->
  if parseInt(get_url_vars()["walkthrough"]) is 1
    $('<div class=\"walkthrough_backdrop\"></div><div class=\"poppers popover_content\">
      <h2>Getting Started</h2>
      <p>Let\'s get started by tracking some artists you may like, so you can build up your timeline.</p>
  </div>
  <div class=\"poppers popover_content_2\">
      <h2>Exploring your timeline</h2>
      <p>Discover, share and buy. Experience music, new and old, with a rich intuitive timeline.</p>
      <div class=\"btn btn-small nxt_trigger_2\">Next</div>
  </div>
  <div class=\"poppers popover_content_3\">
      <h2>Find more artists</h2>
      <p>Can\'t find what you\'re looking for? Search our expansive database of artists and releases.</p>
      <div class=\"btn btn-small nxt_trigger_3\">Next</div>
  </div>
  <div class=\"poppers popover_content_4\">
      <h2>Need more help?</h2>
      <p>If you need more help and information, check out our support section in the drop down sub menu.</p>
      <div class=\"btn btn-small finish_walk\">Finish</div>
  </div>').insertAfter('.search-data-query')
    # Add the scene triggers to the related elements
    $('.navbar').css 'pointer-events', 'none'
    $('#timeline-empty').remove()
    $('.recommend_artists .carousel_suggest a').addClass 'trigger_walk'
    $('.navbar-search .search-query').addClass 'scene_3'
    $('.nav #show_info').addClass 'scene_4'
    $('.alert').remove()

    # Start first scene
    $.scrollTo $('.pops').offset()["top"]-($('.navbar').height()+10), 800
    $('.scene_1').popover(
      html: true
      content: $('.popover_content').html()
      placement: 'bottom'
      trigger: 'manual'
    ).popover 'show'

    # See _new_releases.js.erb for second scene

    # # Start third scene
    $('body').on 'click', '.nxt_trigger_2', ->
      $('.scene_2').popover('hide').removeClass 'pops'
      $('.release.fadeInDown').removeClass 'pops'
      $elem = $('.scene_3')
      $elem.addClass 'pops'
      $.scrollTo 0, 800
      $elem.popover(
        html: true
        content: $('.popover_content_3').html()
        placement: 'bottom'
        trigger: 'manual'
      ).popover 'show'
      $('.navbar .popover').css 'pointer-events', 'auto'

    # # Start fourth scene
    $('body').on 'click', '.nxt_trigger_3', ->
      $('.scene_3').popover('hide').removeClass 'pops'
      $elem = $('.scene_4')
      $elem.addClass 'pops'
      $.scrollTo 0, 800
      $elem.popover(
        html: true
        content: $('.popover_content_4').html()
        placement: 'bottom'
        trigger: 'manual'
      ).popover 'show'
      $('.navbar .popover').css 'pointer-events', 'auto'

    # Clean up the redundant class triggers
    $('body').on 'click', '.finish_walk', ->
      $('.scene_4').popover('hide').removeClass 'pops'
      $.scrollTo 0, 800
      $('.navbar').css 'pointer-events', 'auto'
      $('.release.animated').css 'pointer-events', 'auto'
      $('.poppers').remove()
      $('.walkthrough_backdrop').remove()
      $('.recommend_artists').removeClass 'scene_1'
      $('.release.fadeOutUp:first-child').removeClass 'scene_2'
      $('.navbar-search .search-query').removeClass 'scene_3'
      $('.nav #show_info').removeClass 'scene_4'
      $('.recommend_artists .carousel_suggest a').removeClass 'trigger_walk'
      window.trigger_walk = 1

loading_animation = ($this) ->
  if $(".loading_block").length < 1
    $this.children().last().after '<div class="loading_block"></div>'
    $('.loading_block').spin 'standard'


loading_animation_settings = ->
  $.fn.spin.presets.standard =
    lines: 9 # The number of lines to draw
    length: 0 # The length of each line
    width: 10 # The line thickness
    radius: 18 # The radius of the inner circle
    corners: 1 # Corner roundness (0..1)
    rotate: 0 # The rotation offset
    direction: 1 # 1: clockwise, -1: counterclockwise
    color: "#dc5a24" # #rgb or #rrggbb
    speed: 0.8 # Rounds per second
    trail: 42 # Afterglow percentage
    shadow: false # Whether to render a shadow
    hwaccel: false # Whether to use hardware acceleration
    className: "spinner" # The CSS class to assign to the spinner
    zIndex: 2e9 # The z-index (defaults to 2000000000)
    top: "auto" # Top position relative to parent in px
    left: "auto" # Left position relative to parent in px

recommendation = ->
  # if $('#recommend_carousel .carousel-inner').children().children().size() < 18
  #   console.log "LESS THAN 18"
  #   url = "/timeline_recommends/refresh"
  #   $.get url

  $(document).on("ajax:beforeSend", "a.add-trkr-carousel", ->
    $(".recommend_artists").css("pointer-events", "none").spin "standard"
    $("#recommend_carousel").css "opacity", "0.5"
    $(this).parent().addClass "fadeOutUp"
  ).on "ajax:success", "a.add-trkr-carousel", (xhr, data, response) ->
    artist_id = $(this).data("id")
    $(this).parent().replaceWith '<div id="suggest_' + data.id + '" class="carousel_suggest animated"><a href="/artists/' + data.id + '"><img src="' + data.image_url + '" alt="Recommendation" height="75" width="75" /></a><span><div><a href="/artists/' + data.id + '">' + data.name + '</div>' + data.label_name + '</span><a href="/artists/' + data.id + '/follow.json" class="add-trkr-carousel btn btn-small follow-' + data.id + '" data-id="' + data.id + '" data-remote="true">Track</a></div>'
    url = "/timeline_releases/populate?timeline_artist=" + artist_id
    $.get url
    FB.api "/me/sngtrkr:track", "post",
      artist: "http://sngtrkr.com/artists/" + $(this).data("id")
    , (response) ->
      console.log "FB Open Graph Posted"
      console.log response

    $(".recommend_artists").css("pointer-events", "auto").spin false
    $("#recommend_carousel").css "opacity", "1"
    return false

analytics_tracking = ->
  # Confirm the gaq object exists
  ga_enabled = if typeof _gaq is 'object' then true else false
  window.SGA = new Sngtrkr_analytics_data ga_enabled

  # Assign the click event to the relevant element and collate data attribute data
  $('body').on 'click', '[data-tracking="true"]', ->
    tracking_category = $(@).attr 'data-tracking-category'
    if tracking_category == 'unfollow'
      $this = $(@)
      name = $this.attr 'data-tracking-name'
      category = $this.attr 'data-tracking-category'
      window.SGA.send [name, category]
    else if $(@).hasClass 'active'
      # return false
    else
      $this = $(@)
      name = $this.attr 'data-tracking-name'
      category = $this.attr 'data-tracking-category'
      window.SGA.send [name, category]

# Set up object for building and pushing the GA array
class Sngtrkr_analytics_data

  constructor: (@enabled) ->
    @send()

  # Default event
  event: "click"

  build: (tracker) ->
    if tracker isnt undefined
      @name = tracker[0]
      @category = tracker[1]

    return ['_trackEvent', @category, @event, @name]

  send: (object) ->
    if @enabled
      console.log @build(object)
      _gaq.push @build(object)
    return






