.team_member {
  height: 238px;
  width: 199px;
  position: relative;
  border: 1px solid #d1d1d1;
  overflow: hidden;
  margin-right: 33px;
  float: left;
  .image {
    background-image: url('/images/team_template.png');
    height: 238px;
    width: 199px;
  }
  span {
    display: block;
    width: 199px;
    height: 50px;
    position: absolute;
    bottom: 0px;
    background-color: rgba(255, 255, 255, 0.75);
    text-align: center;
    @include transition-property(color, background, height);
    @include transition-duration(0.5s, 0.7s, 1s);
    @include transition-timing-function(ease-in, ease-in, ease);
    .title {
      position: relative;
      @include transition-property(top);
      @include transition-duration(0.5s);
      @include transition-timing-function(ease);
      h3 {
        font-size: 14px !important;
        margin: 13px 0 0 !important;
        line-height: 10px !important;
      }
    }
    .social {
      margin: 66px 0 0 1px;
      opacity: 0;
      filter: alpha(opacity=0);
      @include transition-delay(0.9s);
      @include transition-property(opacity);
      @include transition-duration(0.5s);
      @include transition-timing-function(ease-in);
      a {
        display: inline-block;
        color: #fff !important;
        text-decoration: none;
        font-size: 13px !important;

        i {
          font-size: 28px;
        }
        .blu {
          display: none;
        }
        &:hover, &:focus {
          color: $blue !important;
          .blu {
            display: inline-block;
          }
          .wht {
            display: none;
          }
        }
      }
      a:nth-child(2) {
        margin-left: 9px;
      }
    }
  }
  &:hover > span {
    background-color: rgba(0, 0, 0, 0.62);
    color: #fff;
    height: 238px;
  }
  &:hover > .image {
    filter: blur(3px);
    -webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    -o-filter: blur(3px);
    -ms-filter: blur(3px);
  }
  &:hover > span > .social {
    opacity: 1;
    filter: alpha(opacity=100);
  }
  &:hover > span > .title {
    top: 19px;
  }
  &:nth-child(2) {
    margin-right: 0px;
  }
}

.about-tab-content {
  margin-top: 22px;
}