.each-activity {
			top:0px;
			left:0px;
			width:213px;
			height:50px;
			position:relative;
			
			img {
			margin:5px 0 0 5px;
				height:40px;
				width:40px;
				text-shadow: $gray 0 2px 2px;
				float:left;
			}
			div {
			margin-top:5px;
			    font-size:0.9em;
			    line-height:1.35em;
				float:left;
				width:162px;
				margin-left:5px;
				a {
					color:$gray;
				}
				a:hover {
					color:$orange;
				}
				span {
					color:$light-gray;
									}
			}
		}
.each-activity:hover {
background-color: rgba(232,90,36,0.25);
}
#friend-activity {
     width:463px;
  ul  {
    list-style-type:none;
    .activity {
    height:80px;
    width:463px;
    position:relative;
    margin-bottom:15px;
    .single-activity {
	float:left;
    @include border-radius(7px);
    //@include border-top-right-radius(8px);
    //@include border-bottom-right-radius(8px);
    @include box-shadow(0px 2px 5px rgba(0, 0, 0, 0.45));
    background-color:rgba(255,255,255,0.75);
    height:80px;
    width:422px;
    .a-image {
    	height:80px;
    	width:80px;
    	border-right-style:solid;
    	border-right-width:2px;
    	border-right-color:$orange;
    	background-color:$gray;
    	@include border-top-left-radius(7px);
    	@include border-bottom-left-radius(7px);
    	float:left;
    }
    .a-info {
    	float:left;
    	margin:6px 0 0 10px;
    	height:40px;
    	div {
    		font-size:1.2em;
    	}
    	span {
    		color:$light-gray;
    		font-size:0.9em;
    	}
	    .releases {
	    	margin-top:5px;
    	li {
    		height:25px;
    		width:25px;
    		@include border-radius(3px);
    		margin-right:5px;
    		float:left;
    	}
    }
    .ratings {
    	margin-top:9px;
    	i {
    		font-size:1.9em;
    		float:left;
    	}
    }
    }
  }
      .a-options {
    	float:right;
        position:absolute;
        top:0px;
        right:0px;
    	div {
    		@extend .button;
            @include border-radius(0px);
    		height:40px;
    		width:35px;
    		padding:0;
    		line-height:44px;
    		i {
    			font-size:1.5em;
    			position:relative;
    			left:1px;
    		}
    	}
        div:first-child {
            @include border-top-right-radius(8px);
            @include border-top-left-radius(8px);
        }
        div:last-child {
            @include border-bottom-right-radius(8px);
            @include border-bottom-left-radius(8px);
        }
    }
}
  }
}
