.super-admin {
  width:100px;
  height:123px;
  color:#fff;
  position: absolute;
  left: -90px;
  top: 114px;
.edit {
  background-color: #434343;
  height:60px;
  width:100px;
  font-size:3.5em;
  line-height:60px;
  cursor:pointer;
  position:relative;
  left:0px;
  i {
  margin-left:45px;
  }
  }
  .ignore {
  background-color: #434343;
  height:60px;
  width:100px; 
  margin-bottom:3px;
  cursor:pointer;
  position:relative;
  left:0px;
  .i-artist {
	  position:relative;
	  top:13px;
	  left:46px;
  }
  .ui-artist {
	  position:relative;
	  top:10px;
	  left:47px;
  }
  
  }
}