@import "compass/css3/";

.super-admin {
  width:100px;
  color:#fff;
  position: absolute;
  left: -40px;
  top: 114px;
  form{
    margin:0;
  }
  div {
    background-color: #434343;
    height:60px;
    width:50px;
    margin-bottom:10px;
    cursor:pointer;
    font-size:3.5em;
    line-height:60px;
    color:#fff;
    a {
      color:#fff;
      margin-left: 6px;
    }
  }
  div:hover {
    color: #fff;
    text-decoration: none;
    left: 0px;
  }
  .ignore {
    .i-artist {
  	  margin-left: 6px;
      width: 33px;
      margin-top: -10px;
    }
    .ui-artist {
  	  position:relative;
  	  top:10px;
  	  left:47px;
  	  width:33px;
  	  height:39px;
    }
  }
}