  /* Welcome to Compass.
* In this file you should write your main styles. (or centralize your imports)
* Import this file using the following HTML or equivalent:
* <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
//= require jquery.fancybox
//= require font-awesome
//= require jquery-ui-1.8.21.custom
//= require ajaxful_rating
@import "compass/reset";
@import "compass/css3/border-radius";
@import "compass/css3/opacity";
@import "compass/css3/box-shadow";
@import "compass/css3/text-shadow";
@import "compass/utilities/links/link-colors";
@import "compass";
$blue:#45ADD2;
$orange:#F15A24;
$gray:#1A1A1A;
$light-gray:#666666;
$footer:166px;
a:link {text-decoration:none; color:white}
a:visited {color:white}
*{
  margin:0;
  padding:0;
}
html, body{
  width:100%;
  height:100%;
}
body{
    font-family: 'helvetica neue', helvetica, sans-serif;
    font-size:75%;
    font-weight:400;
    line-height:1.45em;
    background: url("/images/b-bk.png") no-repeat center center fixed;
    background-color:$blue;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;    
    color:$gray;
}
/* Font Styling CSS*/
@import "font_styling.css.scss";
.notice{
  margin: auto;
  text-align: center;
  background-color: #FCF0C4;
  padding: 10px;
  margin: 0px 100px;
  font-weight: bold;
  border:2px solid #E0B518;
}
.form-text {   
       width:158px;
       border:1px solid #999;
       -webkit-border-radius: 3px;-khtml-border-radius:3px;-moz-border-radius:3px;border-radius:3px;
       margin:0;
       padding:5px;
       background: #fff;
       background: -webkit-gradient(linear, left top, left 25, from(#fff), color-stop(6%, #eee), to(#fff));
       background: -moz-linear-gradient(top, #fff, #eee 2px, #fff 25px);
       @include box-shadow(0px 0px 8px rgba(0,0,0,0.1));
            }
.form-text:hover, .itext:focus {
       border-color: #333;
       background:#fff;
            }
        .white-search-25 {
        width:25px;
        height:25px;
        margin-right:5px;
    }
/* Email Confirm CSS */
@import "email_confirm.css.scss";
/* Buttons CSS*/
@import "buttons.css.scss";
/* Header CSS*/
@import "header.css.scss";
/* Footer CSS*/
@import "footer.css.scss";
#wrapper{
    min-height:100%;
}
.wrapper2 {
    width:980px;
    margin:0 auto;
    min-height:100%;
}
.content {
    padding:0px 73px 0px 73px;
    .artist-name { /* Artist name - Instruction font */
      position:relative;
      width:200px;
      display:block;
      text-transform:uppercase;
      margin-top:-2px;
      padding:0 0 14px 0;
    }
/* Beta CSS*/
@import "beta.css.scss";
/* Home CSS*/
@import "home.css.scss";
/* Artist Profile CSS*/
@import "artist_profile.css.scss";
/* Profile CSS*/
@import "profile.css.scss";
/* Recommend CSS*/
@import "recommend.css.scss";
/* Profile Settings CSS*/
@import "profile_settings.css.scss";
/* Manage form CSS*/
@import "manage_artist.css.scss";
/* New release form CSS*/
@import "new_release.css.scss";
.default-button {
      position:relative;
      left:-53px;
}
span.checked{
    background:transparent url(/images/checkedn.png) no-repeat top left;
    position:absolute;
    top:-1px;
    left:-1px;
    width:20px;
    height:20px;
    z-index:1;
}
span.error{
    background:transparent url(/images/errorn.png) no-repeat top left;
    position:absolute;
    top:-1px;
    left:-1px;
    width:20px;
    height:20px;
    z-index:1;
}
 .white-tint {
   display:none;
    position:absolute;
    top:0px;
    left:0px;
    background:rgba(255,255,255,0.4);
    height:25px;
    width:125px;
    @include border-radius(7px);
    z-index:2;
} 
.white-tint-2, .white-tint-3, .white-tint-4 {
  position:absolute;
    top:0px;
    left:0px;
    background:rgba(255,255,255,0.4);
    height:25px;
    width:125px;
    @include border-radius(7px);
    z-index:2;
}
/* Info Pages CSS*/
@import "info_pages.css.scss";
/* Artist Search CSS*/
@import "artist_search.css.scss";
/* Artist Release CSS */
@import "artist_release.css.scss";
/* Release Player CSS */
@import "release_player.css.scss";
#loading-image {
  position:relative;
  left:270px;
  top:27px;
}
.loading-txt {
  position:relative;
  text-align:center;
  width:278px;
  left:190px;
  top:77px;
  height:136px;
}
/* Friends List CSS*/
@import "friends_list.css.scss";
/* Friend CSS*/
@import "friend.css.scss";

} /* END OF CONTENT */
.content-pad-bottom {
    padding-bottom:166px;
    @extend .content;
}
.content-pad-160 {
  padding:4px 160px 0 160px;
    @extend .content;
}
.content-pad-187{
  padding:4px 187px 0 187px;
    @extend .content;
}
/* HOME */
.content-pad-115-bottom {
  padding:14px 103px 166px 103px;
    @extend .content;
}
/* STANDARD */
.content-pad-160-bottom {
    padding:4px 160px 166px 160px;
    @extend .content;
}
/* SEARCH RESULT */
.content-pad-187-bottom {
  padding:4px 187px 166px 187px;
    @extend .content;
}
/* Delete Confirm CSS*/
@import "delete_confirm.css.scss";
/* Errors CSS*/
@import "errors.css.scss";
/* Timeline CSS*/
@import "timeline.css.scss";
#bio-full {
	  display:none;
	  background: url(/images/box-bk-431.png) no-repeat;
	      -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;   
    color:$gray; 
    @include border-radius(8px);
	  	  #bio {
	  position:relative;
		  width:401px;
		  padding:30px 20px 30px 20px;
		  .bio-title {
			  margin-bottom:8px;
		  }
		  a {
			  color:$gray;
		  }
		  a:hover {
			  color:$gray;
		  }
	  }
  }
/* Manage Choice CSS*/
@import "manage_choice.css.scss";
/* Unmanage Confirm CSS*/
@import "unmanage_confirm.css.scss";