/* Welcome to Compass.
* In this file you should write your main styles. (or centralize your imports)
* Import this file using the following HTML or equivalent:
* <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
//= require fancybox/jquery.fancybox

@import "compass/reset";
@import "compass/css3/border-radius";
@import "compass/css3/opacity";
@import "compass/css3/box-shadow";
@import "compass/css3/text-shadow";
@import "compass/utilities/links/link-colors";
$blue:#45ADD2;
$orange:#F15A24;
$gray:#333333;
$footer:166px;
a:link {text-decoration:none;}
*{
    margin:0;
    padding:0;
}
html, body{
    width:100%;
    height:100%;
}
@font-face {
  font-family: "Instruction";
  src: url("/font/instruction.otf");
  src: local("?"),
    url("/font/instruction.otf") format("opentype");
}
@font-face {
  font-family: "Lucida Grande";
  src: url("/font/lucida_grande.otf");
  src: local("?"),
    url("/font/lucida_grande.otf") format("opentype");
}
body{
    font-family: 'helvetica neue', helvetica, sans-serif;
    font-size:75%;
    font-weight:400;
    line-height:1.4em;
    background: url("/images/b-bk.png") no-repeat center center fixed;
    background-color:$blue;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;    
}
.italic {
  font-style:italic;
}
.tab-indent {
  padding-left: 2em;

}
.clear {
    clear:both;
}
.orange-txt {
    color:$orange; 
}
.font-11 {
  font-size:0.9em;
}
.font-13 {
  font-size:1.1em;
}
.font-15 {
  font-size:1.3em;
}
.font-18 {
  font-size:1.6em;
}
.font-20 {
  font-size:1.8em;
}
.font-25 {
  font-size:2.3em;
}
.font-35 {
  font-size:2.8em;
}
.font-100 {
  font-size:9.2em;
}
.font-logout {
  font-size:1.208em;
}
.instruct-font {
  font-family: "Instruction", Helvetica, Arial, sans-serif;
}
.signika-font {
  font-family: 'Signika Negative', sans-serif;
}
.lucida-font {
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
}
.line-height-1-25 {
  line-height:1.25em;
}
strong{
    font-weight:bold;
}
table{
    margin: 1em 0em;
}
table td{
    padding:0.3em;
    background-color:white;
}
table th{
    font-weight:bold;
    padding:0.3em;
    background-color:$orange;
    color:$gray;
}
.right{
    float:right;
    }
.left{
    float:left;
    }
.center-txt {
  text-align:center;
}
.red-txt {
  color:red;
}
.fb-login {
    margin:-17px 0 0 5px;
}
#fb-logo {
    position:relative;
	    margin:4px 5px 0 0;
    }
    #fb-txt {
	    position:relative;
	    top:-5px;
    }
.fb-home-login {
    margin-top:0px;
}
.form-text {   
       width:158px;
       border:1px solid #999;
       -webkit-border-radius: 3px;-khtml-border-radius:3px;-moz-border-radius:3px;border-radius:3px;
       margin:0;
       padding:5px;
       background: #fff;
       background: -webkit-gradient(linear, left top, left 25, from(#fff), color-stop(6%, #eee), to(#fff));
       background: -moz-linear-gradient(top, #fff, #eee 2px, #fff 25px);
       @include box-shadow(0px 0px 8px rgba(0,0,0,0.1));
            }
.form-text:hover, .itext:focus {
       border-color: #333;
       background:#fff;
            }
a.dp-choose-date {
  float: left;
  width: 16px;
  height: 16px;
  padding: 0;
  margin: 5px 3px 0;
  display: block;
  text-indent: -2000px;
  overflow: hidden;
  background: url(/datepicker/calendar.png) no-repeat; 
}
a.dp-choose-date.dp-disabled {
  background-position: 0 -20px;
  cursor: default;
}
/* makes the input field shorter once the date picker code
 * has run (to allow space for the calendar icon
 */
input.dp-applied {
  width: 140px;
  float: left;
}
#big-search{
    input{
        background:transparent;
        border:none;
        padding:0.2em;
        padding-left:1em;
        font-size:1.8em;
        width:22em;
    }
    input:focus{
        outline: none;
    }
}
.o-button {
			color:white;
			@include border-radius(7px);
			text-align:center;
		    background:$orange; 
		    background: -webkit-linear-gradient(top, #F37244 0%, #F15A24 100%);
		    background: -moz-linear-gradient(top, #F37244 0%, #F15A24 100%);
		    background: -ms-linear-gradient(top, #F37244 0%, #F15A24 100%);
		    background: -o-linear-gradient(top, #F37244 0%, #F15A24 100%);
		    background: linear-gradient(to bottom, #F37244 0%, #F15A24 100%);
		    text-shadow: #FF6103 0 1px 3px;
		    -webkit-box-shadow:
		    inset 0 1px 0  #F15A24,
		    inset 0 2px 0 #F7931E,
		    0 1px 3px #777,
		    0 0px 1px #ccc;
		    -moz-box-shadow:
		    inset 0 1px 0  #F15A24,
		    inset 0 2px 0 #F7931E,
		    0 1px 3px #777,
		    0 0px 1px #ccc;
		    box-shadow:
		    inset 0 1px 0  #F15A24,
		    inset 0 2px 0 #F7931E,
		    0 1px 3px #777,
		    0 0px 1px #ccc;
}
.o-button:hover {
			background: -webkit-linear-gradient(top, #F15A24 0%, #F37244 100%);
		    background: -moz-linear-gradient(top, #F15A24 0%, #F37244 100%);
		    background: -ms-linear-gradient(top, #F15A24 0%, #F37244 100%);
		    background: -o-linear-gradient(top, #F15A24 0%, #F37244 100%);
		    background: linear-gradient(to bottom, #F15A24 0%, #F37244 100%);
}
.fb-button {
			color:white;
			@include border-radius(7px);
			text-align:center;
		    background:$orange; 
		    background: -webkit-linear-gradient(top, #4D77B8 0%, #375A98 100%);
		    background: -moz-linear-gradient(top, #4D77B8 0%, #375A98 100%);
		    background: -ms-linear-gradient(top, #4D77B8 0%, #375A98 100%);
		    background: -o-linear-gradient(top, #4D77B8 0%, #375A98 100%);
		    background: linear-gradient(to bottom, #4D77B8 0%, #375A98 100%);
		    text-shadow: #22428A 0 1px 3px;
		    -webkit-box-shadow:
		    inset 0 1px 0  #375A98,
		    inset 0 2px 0 #6F90C4,
		    0 1px 3px #777,
		    0 0px 1px #ccc;
		    -moz-box-shadow:
		    inset 0 1px 0  #375A98,
		    inset 0 2px 0 #6F90C4,
		    0 1px 3px #777,
		    0 0px 1px #ccc;
		    box-shadow:
		    inset 0 1px 0  #375A98,
		    inset 0 2px 0 #6F90C4,
		    0 1px 3px #777,
		    0 0px 1px #ccc;
}
.fb-button:hover {
			background: -webkit-linear-gradient(top, #375A98 0%, #4D77B8 100%);
		    background: -moz-linear-gradient(top, #375A98 0%, #4D77B8 100%);
		    background: -ms-linear-gradient(top, #375A98 0%, #4D77B8 100%);
		    background: -o-linear-gradient(top, #375A98 0%, #4D77B8 100%);
		    background: linear-gradient(to bottom, #375A98 0%, #4D77B8 100%);
}
.search-button {
			color:white;
			@include border-top-right-radius(7px);
			@include border-bottom-right-radius(7px);
			text-align:center;
		    background:$orange; 
		    background: -webkit-linear-gradient(top, #F37244 0%, #F15A24 100%);
		    background: -moz-linear-gradient(top, #F37244 0%, #F15A24 100%);
		    background: -ms-linear-gradient(top, #F37244 0%, #F15A24 100%);
		    background: -o-linear-gradient(top, #F37244 0%, #F15A24 100%);
		    background: linear-gradient(to bottom, #F37244 0%, #F15A24 100%);
		    text-shadow: #FF6103 0 1px 3px;
		    -webkit-box-shadow:
		    inset 0 1px 0  #F15A24,
		    inset 0 2px 0 #F7931E,
		    0 1px 3px #777,
		    0 0px 1px #ccc;
		    -moz-box-shadow:
		    inset 0 1px 0  #F15A24,
		    inset 0 2px 0 #F7931E,
		    0 1px 3px #777,
		    0 0px 1px #ccc;
		    box-shadow:
		    inset 0 1px 0  #F15A24,
		    inset 0 2px 0 #F7931E,
		    0 1px 3px #777,
		    0 0px 1px #ccc;
}
.search-button:hover {
			background: -webkit-linear-gradient(top, #F15A24 0%, #F37244 100%);
		    background: -moz-linear-gradient(top, #F15A24 0%, #F37244 100%);
		    background: -ms-linear-gradient(top, #F15A24 0%, #F37244 100%);
		    background: -o-linear-gradient(top, #F15A24 0%, #F37244 100%);
		    background: linear-gradient(to bottom, #F15A24 0%, #F37244 100%);
}
.norm-o-pad {
    line-height: 28px;
    height:25px;
    padding:0 15px 0 15px;
     a { 
	    color:#fff;
    }
    a:hover {
	    color:#fff;
    }
}
.fb-o-pad {
    line-height: 30px;
    height:30px;
    padding:0 15px 0 15px;
     a { 
	    color:#fff;
    }
    a:hover {
	    color:#fff;
    }
}
.trkr-o-pad {
    line-height:25px;
    height:25px;
    padding:0 15px 0 15px;
    a { 
	    color:#fff;
    }
    a:hover {
	    color:#fff;
    }
}
.logout-button {
  margin:-15px 0 0 0;
  a {
	  color:#fff;
  }
  a:hover {
	  color:#fff;
  }
}
#artist_search_results{
    width:60em;
    margin:3em auto;
    font-size:1.1em;
    td, th{
        padding:0.5em;
    }
}
.header{
    padding:0px 42px 0px 42px;
    .p-head
    {
        position:relative;
        height:25px;
        margin:0 15px 0 15px;
        #profile-pad {
	        padding:2px 7px 0 6px;
        }
    }
    .search {
	    position:relative;
	    height:25px;
	    #search-pad {
		    padding:3px 6px 0 7px;
	    }
    }
    .mini-search {
    margin-top:-1px;
        @extend .right;
        height:25px;
        width:158px;
        background:rgba(255,255,255,0.75);
        @include border-radius(7px);
        @include box-shadow(inset 0px 1px 6px rgba(0, 0, 0, 0.25));
        border: 1px solid #50A6C2;
        border-bottom: 1px solid #B0E0E6;
        input{
            background:transparent;
            padding:0.6em;
            border:none;
            width:10em;
            outline:none;
        }
input:focus ~ .results { 
display: block;
 }
    }
    .mini-search-2 {
        margin:-15px 11px 0 0;
        height:25px;
        width:158px;
        background:rgba(255,255,255,0.75);
        @include border-radius(7px);
        @include box-shadow(inset 0px 1px 6px rgba(0, 0, 0, 0.25));
        border: 1px solid #50A6C2;
        border-bottom: 1px solid #B0E0E6;
        input{
            background:transparent;
            padding:0.6em;
            border:none;
            width:10em;
            outline:none;
        }
        input:focus ~ .results { 
display: block;
 }
    }
    .results {
    display: none;
    position: relative;
    top: 5px;
    left: 0;
    right: 0;
    z-index: 10;
    padding: 0;
    margin: 0;
    width:126px;
    border-width: 1px;
    border-style: solid;
    border-color: #cbcfe2 #c8cee7 #c4c7d7;
    border-radius: 3px;
    background-color: #fdfdfd;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fdfdfd), color-stop(100%, #eceef4));
    background-image: -webkit-linear-gradient(top, #fdfdfd, #eceef4);
    background-image: -moz-linear-gradient(top, #fdfdfd, #eceef4);
    background-image: -ms-linear-gradient(top, #fdfdfd, #eceef4);
    background-image: -o-linear-gradient(top, #fdfdfd, #eceef4);
    background-image: linear-gradient(top, #fdfdfd, #eceef4);
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);


li { display: block }

li:first-child { margin-top: -1px }

li:first-child:before, .search .results li:first-child:after {
    display: block;
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    left: 50%;
    margin-left: -5px;
    border: 5px outset transparent;
}

li:first-child:before {
    border-bottom: 5px solid #c4c7d7;
    top: -11px;
}

li:first-child:after {
    border-bottom: 5px solid #fdfdfd;
    top: -10px;
}

li:first-child:hover:before, .search .results li:first-child:hover:after { display: none }

li:last-child { margin-bottom: -1px }

 a {
    display: block;
    position: relative;
    margin: 0 -1px;
    padding: 6px 40px 6px 10px;
    color: #808394;
    font-weight: 500;
    text-shadow: 0 1px #fff;
    border: 1px solid transparent;
    border-radius: 3px;
}

a span { font-weight: 200 }

a:before {
    content: '';
    width: 18px;
    height: 18px;
    position: absolute;
    top: 50%;
    right: 10px;
    margin-top: -9px;
    background: url("http://cssdeck.com/uploads/media/items/7/7BNkBjd.png") 0 0 no-repeat;
}

a:hover {
    text-decoration: none;
    color: #fff;
    background:$orange; 
		    background: -webkit-linear-gradient(top, #F37244 0%, #F15A24 100%);
		    background: -moz-linear-gradient(top, #F37244 0%, #F15A24 100%);
		    background: -ms-linear-gradient(top, #F37244 0%, #F15A24 100%);
		    background: -o-linear-gradient(top, #F37244 0%, #F15A24 100%);
		    background: linear-gradient(to bottom, #F37244 0%, #F15A24 100%);
		    text-shadow: #FF6103 0 1px 3px;
		    -webkit-box-shadow:
		    inset 0 1px 0  #F15A24,
		    inset 0 2px 0 #F7931E,
		    0 1px 3px #777,
		    0 0px 1px #ccc;
		    -moz-box-shadow:
		    inset 0 1px 0  #F15A24,
		    inset 0 2px 0 #F7931E,
		    0 1px 3px #777,
		    0 0px 1px #ccc;
		    box-shadow:
		    inset 0 1px 0  #F15A24,
		    inset 0 2px 0 #F7931E,
		    0 1px 3px #777,
		    0 0px 1px #ccc;
}
}
    .search-25 {
        width:25px;
        height:25px;
        margin-right:5px;
    }
    .big-logo-home{
        position:relative;
        left:218px;
        height:120px;
        width:470px;
        top:11px;
    }
    .small-logo-home{
        position:relative;
        top:25px;
        width:202px;
        height:55px;
    }
}
.header-height-big {
    @extend .header;
    height:170px;
}
.header-height-small {
    @extend .header;
    height:105px;
}
#footer{
    background-image: url(/images/footer.png);
    *{
        color:white;
    }
    position:relative;
    margin-top:-$footer;
    height:$footer;
    clear:both;
}
/*Opera Fix*/
body:before {/* thanks to Maleika (Kohoutec)*/
    content:"";
    height:100%;
    float:left;
    width:0;
    margin-top:-32767px;/* thank you Erik J - negate effect of float*/
}
#fcontainer{
    position:relative;
    width:980px;
    margin:0 auto;
    padding:20px 0 0 0;
    text-align:center; 
    .footer-menu {
        list-style-type:none;
        position:relative;
        top:20px;
        left:15px;
        li {
            font-size:1.1em;
            padding:0 30px 0 0;
            display:inline;
        }
    } 
    #footer-txt {
        font-size:0.9em;
        position:relative;
        top:105px;
    }
}
#wrapper{
    min-height:100%;
}
.wrapper2 {
    width:980px;
    margin:0 auto;
    min-height:100%;
}
.content {
    padding:0px 73px 0px 73px;
    .signika-txt { /* white text - signikia */
        color:#fff;
        @include text-shadow(0px 2.83px 8px rgba(0,0,0,0.28));
        font-family: 'Signika Negative', sans-serif;
        font-weight:400;
        line-height:1.3em;
    }
    .artist-name { /* Artist name - Instruction font */
      position:relative;
      width:200px;
      display:block;
      text-transform:uppercase;
      margin-top:-2px;
      padding:0 0 14px 0;
    }
    .splash-white-header {
      position:relative;
      text-align:center;
      left:2px;
      top:26px;
    }
    .splash-email {
      position:relative;
      text-align:center;
      top:55px;
      * {
        color:#000;
      }
    }
    .beta-white-header {
      margin-bottom:19px;
    }
    #beta-header {
      margin:24px 0 20px -2px;
    }
    .content-beta-left {
      width:303px;
      height:388px;
      .reg-points { 
        width:302px;
      height:249px;
               @include border-radius(8px);
               @include box-shadow(0px 0px 8px rgba(0,0,0,0.45));
         background:rgba(255,255,255,0.75);
         position:relative;
         ul {
           list-style-type:none;
           width:302px;
           top:10px;
           position:relative;
           left:-12px;
        li {
          width:239px;
          height:45px;
          float:left;
          padding:20px 50px 0 45px;
          .point-txt {
          margin-top:6px;
          float:right;
          width:158px;
          height:45px;
    }
  }
}
}
    }
    .content-beta-right {
      width:268px;
      height:388px;
      margin-bottom:55px;
      .beta-txt {
	      height:180px;
      }
      a {
        color:$orange;
      }
      a:hover {
        color:$orange;
      }
    }
    #mc_embed_signup {
      position:relative;
      top:32px;
      left:47px;
      #beta-submit {
        position:relative;
        left:24px;
        top:8px;
      input[type=submit] {
                margin:5px 0 0 0;
                background:none;
                border:0;
                color:#fff;
                font-size:1em;
                top:14px;
                left:17px;         
            }
          }
    }
    #beta-line {
	    position:relative;
	    width:602px;
	    border-top-color: black;
	    border-top-style: solid;
	    border-top-width: 1px;
	    margin-top:-15px;
    }
     .beta-sm {
    list-style-type:none;
    width:602px;
    margin-top:10px;
    position: relative;
    left:15px;
     a {
          color:#000;
        }
        a:hover {
          color:$orange;
        }
    .beta-som {
      margin:0 20px 37px 0;
      .text-nudge-2 {
        position:relative;
        bottom:6px;
        left:5px;
      }
    }
    }
    
    .add-release-header {
      margin-left:19px;
    }
    #content-home {
    position:relative;
    width:752px;
    height:254px;
    .home-left {
	    width:328px;
	    .home-txt-1 {
		    /* text-shadow: #1A1A1A 0 0.5px 1px; */
	    }
    }
    .home-right {
	    width:412px;
	    #macbook {
		    margin-top:-1px;
	    }
    }
  }
  #home-points {
	  position:relative;
	  height:289px;
	  width:790px;
	  top:15px;
	  ul {
	  list-style-type: none;
	  margin-left:-30px;
		  li {
			  width:240px;
			  margin-left:30px;
			  /* text-shadow: #1A1A1A 0 0.5px 1px; */
			  #home1 {
			  	position:relative;
				  top:32px;
				  left:40px;
			  }
			  #home2 {
			  position:relative;
				  top:53px;
				  left:33px;
			  }
			  #home3 {
			  position:relative;
				  top:30px;
				  left:33px;
			  }
		  }
	  }
  }
  #content-artist {
    position:relative;
    width:666px;
    height:300px;
    background:rgba(255,255,255,0.75);
    @include border-radius(12px);
    @include box-shadow(0px 0px 8px rgba(0,0,0,0.55));
    margin:5px 0 -115px 0;
    #artist-image {
	    position:absolute;
	    width:365px;
	    height:300px;
	    top:0px;
	    left:0px;
	    @include border-top-left-radius(12px);
        @include border-bottom-left-radius(12px);
	    border-style:solid;
	    border-right-width:6px;
	    border-right-color:$orange;
    }
    #artist-info {
	    position:relative;
	    width:262px;
	    height:231px;
	    left:387px;
	    top:14px;
	  .genre {
		  margin-top:11px;
	  }
	  .artist-trkr-pos {
			margin:6px 0 15px 0;
		}
    }
    ul {
			list-style-type: none;
			left:384px;
			width:270px;
			position:relative;
			top:12px;
			li {
				margin-left:-3px;
			}
		}
  #bio-full {
	  display:none;
  }
  }
    .content-top {
  position:relative;
  width:666px;
  height:128px;
  .top-header {
    float:left;
    width:340px;
  }
  .content-top-right {
    float:right;
    width:302px;
    margin-top:9px;
  }
}
#content-profile-top {
  position:relative;
  width:666px;
  height:114px;
  .profile-menu {
    float:left;
    width:147px;
    margin:7px 9px 0 0;
    a {
	    color:#fff;
    }
    a:hover {
	    color:#fff;
    }
	    .p-menu {
		    width:147px;
		    height:25px;
		    margin:0 0 15px 0;
		    line-height: 28px;
	    }
    .trkrs-button {
      @extend  .instruct-font;
      @extend .o-button;
      position:relative;
      height:68px;
      width:147px;
      margin-bottom:15px;
      .trkr-txt {
	      position:relative;
	      top:10px;
      }
    }
  }
  .profile-welcome {
    float:right;
    width:494px;
    margin-top:4px;
    margin-left:14px;
  }
  .artist-text-nudge {
    margin-top:3px;
  }
}
#track-num-search {
  position:relative;
  top:-6px;
  margin-bottom:6px;
  .no-trk {
    position:relative;
    bottom:-25px;
  }
          .artist-trkr-list-search {
        position:absolute;
        left:510px;
        bottom:-23px;
        height:25px;
        width:155px;
        background:$orange; 
        @include border-radius(7px);
    background: -webkit-linear-gradient(top, #F37244 0%, #F15A24 100%);
    background: -moz-linear-gradient(top, #F37244 0%, #F15A24 100%);
    background: -ms-linear-gradient(top, #F37244 0%, #F15A24 100%);
    background: -o-linear-gradient(top, #F37244 0%, #F15A24 100%);
    background: linear-gradient(to bottom, #F37244 0%, #F15A24 100%);
    text-shadow: #FF6103 0 1px 3px;
    -webkit-box-shadow:
        0 1px 3px #777,
        0 0px 1px #ccc;
    -moz-box-shadow:
        0 1px 3px #777,
        0 0px 1px #ccc;
    box-shadow:
        0 1px 3px #777,
        0 0px 1px #ccc;

        input{
            background:transparent;
            padding:0.6em;
            border:none;
            width:10em;
            color:#fff;
        }
        input:focus{
            outline:none;
        }
    }
    .p-bulge-t {
      position:relative;
      bottom:0px;
      left:12px;
    }
}
#tracked-artists {
  position:relative;
  top:25px;
  width:666px;
      ul {
      list-style-type:none;
      margin-left:-15px;
  li {
    width:155px;
    height:28px;
    padding:12px 0 17px 0;
      background:rgba(255,255,255,0.75);
    @include border-radius(8px);
    @include box-shadow(0px 1px 8px rgba(0,0,0,0.45));
    margin:0 0 15px 15px;
      .each-artist-outer {
    position:relative;
    width:155px;
    height:57px;
    text-align:center;
    a {
      color:#000;
    }
    a:hover {
      color:#000;
    }
    .remove-artist-button {
      position:absolute;
      height:15px;
      width:15px;
      top:-10px;
      right:3px;
    }
  }
  }
  }
      .p-bulge-b {
      position:relative;
      left:12px;
    }
    .no-trk-notify {
      margin-bottom:12px;
    }
}
.recommend-text-nudge {
  top:13px;
}
.recommended-artists-outer {
  position:relative;
  height:515px;
  margin-top:-41px;
  .recommended-artists {
  position:relative;
  top:73px;
  width:667px;
  height:410px; 
  ul {
    list-style-type:none;
    margin-left:-30px;
    li {
      width:202px;
      height:178px;
      margin:0 0 42px 30px;
      @include border-radius(8px);
      @include box-shadow(0px 0px 8px rgba(0,0,0,0.55));
        .each-recommend {
          position:relative;
          height:178px;
          width:202px;
          .black-tint {
            position:relative; 
            height:178px;
          width:202px;
          @include border-radius(8px);
          	      background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjkzJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,1) 93%, rgba(0,0,0,1) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(93%,rgba(0,0,0,1)), color-stop(100%,rgba(0,0,0,1)));
background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 93%,rgba(0,0,0,1) 100%);
background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 93%,rgba(0,0,0,1) 100%);
background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 93%,rgba(0,0,0,1) 100%);
background: linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 93%,rgba(0,0,0,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 );
          }
          .recommend-info {
            @extend .instruct-font;
            @extend .font-20;
            position:absolute;
            text-align:center;
            line-height:1.4em;
            z-index:2;
            width:202px;
            display:block;
            bottom:20px;
            a {
              color:#fff;
            }
            a:hover {
              color:$orange;
            }
          }
          .recommend-trkr-button {
            position:absolute;
            left:30px;
            bottom:-13px;
            div {
              @extend .o-button;
              @extend .trkr-o-pad;
              @extend .right;
              @extend .instruct-font;
              @extend .font-13;
            }
          }
          .remove-recommend-trkr-button {
            position:absolute;
            left:42px;
            bottom:-25px;
          }
          .ignore-outer {
          position:relative;
          height:25px;
          width:31px;
          left:140px;
          bottom:12px;
          .ignore-button {
	           padding:3px 7px 0 6px;
          }
          
          }
        }
    }
  }
}
}
.recommend-continue {
  position:relative;
  right:-6px;
  bottom:1px;
  height:61px;
}
#content-release-left {
  float:left;
  width:341px;
  height:552px;
  #release-points-box {
    position:relative;
    background:rgba(255,255,255,0.75);
    @include border-radius(8px);
    @include box-shadow(0px 0px 8px rgba(0,0,0,0.45));
    width:341px;
    height:363px;
    top:29px;
    .each-point {
      width:239px;
      height:45px;
      float:left;
      padding:20px 50px 0 45px;
      .point-txt {
      margin-top:6px;
      float:right;
      width:158px;
      height:45px;
    }
    }
  }
  .release-header {
    position:relative;
    width:340px;
  }
}
#content-release-right {
    float:right;
    width:284px;
    margin-top:12px;
            .rform {
            position:relative;
            width:284px;
            height:320px;
            top:27px;
            label { 
                width:110px; 
                display:block;
                float:left;
                margin-top:6px;
            }
            li {
                padding:0 0 18px 0;
            }
            input[type=submit] {
                margin:5px 0 0 0;
                background:none;
                border:0;
                color:#fff;
                font-size:1em            
            }
            #submit-pad {
                margin-right:14px;
                margin-top:2px;
            }
            #file_browser {
              position:relative;
              bottom:16px;
              left:109px;
            }
            #type_dropdown {
              position:relative;
              top:4px;
            }
        }
}
#p-settings {
  margin:16px 0 0 0;
#change-email {
  position:relative;
            label { 
                width:110px; 
                display:block;
                float:left;
                margin-top:6px;
            }
            li {
                padding:0 0 18px 0;
            }
            input[type=submit] {
                margin:5px 0 0 0;
                background:none;
                border:0;
                color:#fff;
                font-size:1em;
            }
            #change-email-submit-pad {
                margin-left:1px;
                margin-top:2px;
            }
}
#email-notify {
  position:relative;
  top:30px;

            label { 
                width:110px; 
                display:block;
                position:relative;
                bottom:15px;
                left:30px;
            }
            li {
                float:left;
                display:block;
                width:90px;
            }
            .radio-pad {
              padding:0 52px 0 0;
            }
            input[type=submit] {
                margin:5px 0 0 0;
                background:none;
                border:0;
                color:#fff;
                font-size:1em;
            }
            #save-settings-submit-pad {
                margin-left:1px;
                margin-top:4px;
            }
}
#delete-account {
  position:relative;
  top:60px;
  height:180px;
  width:660px;  
  a {
	  color:#fff;
  }
  a:hover {
	  color:#fff;
  }
  #delete-submit-pad {
  position:absolute;
  top:65px;
  left:1px;
}
}
}
#content-404 {  
  position:relative;
  width:526px;
  height:323px;         
        #content-404-left {
        float:left;
        width:258px;
        }
        #content-404-right {
          float:right;
          width:267px;
        }
}
#manage-content {
#manage-header {
  margin-bottom:20px;
      .content-top {
  position:relative;
  width:605px;
  height:128px;
  .top-header {
    float:left;
    width:302px;
  }
  .content-top-right {
    float:right;
    width:267px;
    margin-top:9px;
  }
}
}
#manage-choice {
  position:relative;
  width:605px;
  height:320px;
  margin:0 0 30px 0;
  .artist-choice {
  width:265px;
  height:320px;  
  margin-top:-4px;   
  ul {
    list-style-type:none;
    width:263px;
    li {
     width:263px;
     height:75px; 
         @include border-radius(8px);
    @include box-shadow(0px 0px 8px rgba(0,0,0,0.45));
    position:relative;
    margin:0 0 20px 0;
    background:rgba(255,255,255,0.75);
    .a-image {
      position:absolute;
      @include border-top-left-radius(8px);
      @include border-bottom-left-radius(8px);
      top:0px;
      left:0px;
      height:75px;
      width:75px;
      border-style:solid;
      border-right-width:3px;
      border-right-color:$orange;
      background:#000;
    }
    .artists-info {
      position:relative;
      left:90px;
      top:21px;
      width:120px;
    }
    .artist-radio {
      position:relative;
      left:230px;
      bottom:3px;
    }
    }
  }
      input[type=submit] {
                background:none;
                border:0;
                color:#fff;
                font-size:1em            
            }
   #manage-choice-submit {
          position:relative;
          margin-top:4px;    
          right:2px;
            }
} 
.manage-points { 
    width:302px;
  height:319px;
    @include border-radius(8px);
    @include box-shadow(0px 0px 8px rgba(0,0,0,0.45));
    background:rgba(255,255,255,0.75);
     position:relative;
     ul {
       list-style-type:none;
       width:302px;
       top:10px;
       position:relative;
       left:-12px;
    li {
      width:239px;
      height:45px;
      float:left;
      padding:20px 50px 0 45px;
      .point-txt {
      margin-top:6px;
      float:right;
      width:158px;
      height:45px;
    }
  }
}
}
}
}
#manage-form{
  position:relative;
    width:649px;
    overflow:hidden;
margin:-1px 0 25px 0;
#steps{
    width:649px;
    overflow:hidden;
    margin-top:14px;
.step{
    float:left;
    width:649px;
  height:510px;
}
.step-back {
  margin:5px 22px 5px 22px;
  width:545px;
  background:rgba(255,255,255,0.75);
    @include border-radius(8px);
    @include box-shadow(0px 0px 8px rgba(0,0,0,0.45));
    height:421px;
    padding:44px 30px 44px 30px;
    position:relative;
    label { 
                width:118px; 
                display:block;
                float:left;
                margin-top:1px;
            }
            li {
                padding:0 0 18px 0;
            }
            input[type="file"] {
              margin-left:-67px;
               background:transparent;
            }
            input[type=submit] {
                background:none;
                border:0;
                color:#fff;
                font-size:1em            
            }
            #submit-pad {
              position:relative;
              top:16px;
              left:-77px;
            }
     textarea {
       resize:none;
     }
    .step-left {
      width:290px;
    }
    .step-right {
      width:226px;
      margin-top:-2px;
    }
    #artist-line {
      position:absolute;
      height:191px;
      border-style:solid;
      border-right-width:1px;
      border-right-color:$orange;
      top:16px;
      left:333px;
    }
    #details-line {
      position:absolute;
      height:477px;
      border-style:solid;
      border-right-width:1px;
      border-right-color:$orange;
      top:16px;
      left:333px;
    }
    #picture-line {
      position:absolute;
      height:243px;
      border-style:solid;
      border-right-width:1px;
      border-right-color:$orange;
      top:16px;
      left:333px;
    }
    #summary-line {
       position:absolute;
      height:339px;
      border-style:solid;
      border-right-width:1px;
      border-right-color:$orange;
      top:16px;
      left:333px;
    }
    .manage-image {
      position:relative;
      top:17px;
      left:114px;
      .bleed {
        position:absolute;
        top:-21px;
        left:-21px;
      }
    }
}
}
#steps form fieldset{
    border:none;
    padding-bottom:20px;
}
#navigation{
    height:45px;
 ul{
    list-style:none;
    position:relative;
    left:111px;
    top:2px;
 li{
  float:left;
  position:relative;
  margin-right:25px;
  height:25px;
  width:95px;
  font-size:1.1em;
  a {
    color:#fff;
  }
  a:hover {
    color:#fff;
  }
} 
}
}
#bulge-left {
  position:absolute;
  height:607px;
  top:5px;
  left:-13px;
  z-index:50;
}
#bulge-right {
  position:absolute;
  height:607px;
  top:7px;
  right:-12px;
  z-index:50;
}
}
#master-form-wrapper {
  position:relative;
#new-release-form{
    width:649px;
    overflow:hidden;
margin:14px 0 25px -3px;
position:relative;
#steps{
    width:649px;
    overflow:hidden;
.step{
    float:left;
    width:649px;
  height:232px;
}
.step-back {
  margin:5px 22px 5px 22px;
  width:545px;
  background:rgba(255,255,255,0.75);
    @include border-radius(8px);
    @include box-shadow(0px 0px 8px rgba(0,0,0,0.45));
    height:144px;
    padding:44px 30px 44px 30px;
    position:relative;
    label { 
                width:118px; 
                display:block;
                float:left;
                margin-top:1px;
            }
            li {
                padding:0 0 18px 0;
            }
            input[type="file"] {
              position:relative;
               background:transparent;
            }
            input[type=submit] {
                background:none;
                border:0;
                color:#fff;
                font-size:1em            
            }
            #submit-pad {
              position:relative;
              top:16px;
              left:-90px;
            }
     textarea {
       resize:none;
     }
    .step-left {
      width:290px;
    }
    .step-right {
      width:226px;
      margin-top:-2px;
    }
    #avail-line {
      position:absolute;
      height:196px;
      border-style:solid;
      border-right-width:1px;
      border-right-color:$orange;
      top:16px;
      left:333px;
    }
    #details-line {
      position:absolute;
      height:244px;
      border-style:solid;
      border-right-width:1px;
      border-right-color:$orange;
      top:16px;
      left:333px;
    }
    #artwork-line {
      position:absolute;
      height:244px;
      border-style:solid;
      border-right-width:1px;
      border-right-color:$orange;
      top:16px;
      left:333px;
    }
    #summary-line {
       position:absolute;
      height:284px;
      border-style:solid;
      border-right-width:1px;
      border-right-color:$orange;
      top:16px;
      left:333px;
    }
}
}
#steps form fieldset{
    border:none;
    padding-bottom:20px;
}
#navigation{
    height:45px;
 ul{
    list-style:none;
    position:relative;
    left:37px;
    top:2px;
 li{
  float:left;
  position:relative;
  margin-right:25px;
  height:25px;
  width:95px;
  font-size:1.1em;
  a {
    color:#fff;
  }
  a:hover {
    color:#fff;
  }
} 
}
}
}
#bulge-left {
  position:absolute;
  height:329px;
  top:5px;
  left:-10px;
}
#bulge-right {
  position:absolute;
  height:329px;
  top:7px;
  right:-2px;
}
}
.default-button {
      position:relative;
      left:-53px;
}
span.checked{
    background:transparent url(/images/checkedn.png) no-repeat top left;
    position:absolute;
    top:-1px;
    left:-1px;
    width:20px;
    height:20px;
    z-index:1;
}
span.error{
    background:transparent url(/images/errorn.png) no-repeat top left;
    position:absolute;
    top:-1px;
    left:-1px;
    width:20px;
    height:20px;
    z-index:1;
}
 .white-tint {
   display:none;
    position:absolute;
    top:0px;
    left:0px;
    background:rgba(255,255,255,0.4);
    height:25px;
    width:125px;
    @include border-radius(7px);
    z-index:2;
} 
.white-tint-2, .white-tint-3, .white-tint-4 {
  position:absolute;
    top:0px;
    left:0px;
    background:rgba(255,255,255,0.4);
    height:25px;
    width:125px;
    @include border-radius(7px);
    z-index:2;
}
#progress-bar {
  left:175px;
  position:relative;
  width:264px;
  height:20px;
  background:rgba(255,255,255,0.75);
  @include border-radius(12px);
  @include box-shadow(0px 0px 8px rgba(0,0,0,0.45));
    top:19px;
    margin-bottom:25px;
.progress {
  width:66px;
  height:20px;
  @include border-radius(12px);
  margin-left:-1px;
}
.percent {
  text-align:center;
  line-height:17px;
  color:#fff;
  font-size:1.1em;
}
}
#about-txt{
  position:relative;
  top:16px;
}
#terms-txt{
  position:relative;
  top:16px;
  padding:0 0 18px 0;
  ul {
    list-style-type: disc;
    margin-left: 20px;
    margin-bottom:16px;
  }
  ol {
    list-style-type:decimal;
    margin-left: 20px;
     margin-bottom:16px;
  }
  a
  {
    color:$orange;
  }
  a:hover {
    color:#000;
  }
  a:active {
    color:$orange;
  }
  a:visited {
    color:$orange;
  }
  p {
  margin-bottom:16px;
}
}
#social-media-about {
  position:relative;
  top:36px;
  width:666px;
.boxes {
  list-style-type:none;
  margin-left:-30px;
}
.box {
  margin:0 0 67px 30px;
  background:rgba(255,255,255,0.75);
  @include border-radius(8px);
  @include box-shadow(0px 0px 8px rgba(0,0,0,0.45));
  width:171px;
  height:93px;
  padding:15px 15px 15px 15px;
  .text-nudge {
    position:relative;
    top:5px;
  }
  a {
    color:$orange;
  }
  a:hover {
    color:$orange;
  }
  ul.sm {
    list-style-type:none;
    margin-top:7px;
     a {
          color:#000;
        }
        a:hover {
          color:$orange;
        }
    .som {
      width:171px;
      .text-nudge-2 {
        position:relative;
        bottom:6px;
        left:5px;
      }
    }
  }
}
}
#privacy-txt{
  position:relative;
  top:16px;
  padding:0 0 18px 0;
  ul {
    list-style-type: disc;
    margin-left: 20px;
    margin-bottom:16px;
  }
  a
  {
    color:$orange;
  }
  a:hover {
    color:#000;
  }
  a:active {
    color:$orange;
  }
  a:visited {
    color:$orange;
  }
  p {
  margin-bottom:16px;
}
}
#team-txt{
  position:relative;
  top:16px;
  a
  {
    color:$orange;
  }
  a:hover {
    color:#000;
  }
  a:active {
    color:$orange;
  }
  a:visited {
    color:$orange;
  }
  p {
  margin-bottom:16px;
}
}
#team {
  position:relative;
  padding:0 0 22px 0;
.team-members {
  position:relative;
  width:668px;  
  padding:20px 0 0 0;
.team-pic-left {
  width:168px;
  height:153px;
  margin-left:-10px;
}
.team-pic-right {
  width:168px;
  height:153px;
  margin-right:-2px;
}
.team-desc {
  width:490px;
  height:133px;
  padding:13px 0 0 0;
}
  .desc-align {
    text-align:right;
  }
}
}
#artist-search {
   position:relative;
   margin:20px 0 32px 0;
.artist-search-row {
  position:relative;
  width:554px;
  height:53px;
  padding:11px 25px 11px 25px;
  margin:0 0 17px 0;
  background:rgba(255,255,255,0.75);
  @include border-radius(8px);
  @include box-shadow(0px 0px 8px rgba(0,0,0,0.45));
    .artist-search-image {
      position:absolute;
      @include border-top-left-radius(8px);
      @include border-bottom-left-radius(8px);
      top:0px;
      left:0px;
      height:75px;
      width:75px;
      border-style:solid;
      border-right-width:3px;
      border-right-color:$orange;
  }
     .artist-search-info {
       position:relative;
       left:64px;
       top:2px;
  .artist-search-name {
    margin:0 0 2px 0;
      a
  {
    color:#000;
  }
  a:hover {
    color:#000;
  }
  a:active {
    color:#000;
  }
  a:visited {
    color:#000;
  }
  }
  }
  .search-trkr-button {
    position:relative;
    right:11px;
    bottom:20px;
  }
}
}
#loading-image {
  position:relative;
  left:270px;
  top:27px;
}
.loading-txt {
  position:relative;
  text-align:center;
  width:278px;
  left:190px;
  top:77px;
  height:136px;
}
.share-bank {
  position:relative;
  height:95px;
  width:400px;
  top:34px;
  left:140px;
  ul {
    list-style-type:none;
    margin-left:-30px;
    li {
      margin:0 0 0 30px;
    }
  }
}
.share-warning {
  position:relative;
  width:378px;
  left:141px;
  top:62px;
  text-align:center;
  height:121px;
}
#friends-list {
  position:relative;
  width:667px;
  top:14px;
  ul {
    list-style-type:none;
    margin-left:-20px;
    position:relative;
    li {
      width:199px;
      height:38px;
      padding:26px 10px 26px 0px;
      margin:0 0 20px 20px;
      background:rgba(255,255,255,0.75);
      @include border-radius(8px);
      @include box-shadow(0px 0px 8px rgba(0,0,0,0.45));
      
    }
    .friends-image {
      position:relative;
      @include border-top-left-radius(8px);
      @include border-bottom-left-radius(8px);
      bottom:26px;
      left:0px;
      height:90px;
      width:80px;
      border-style:solid;
      border-right-width:3px;
      border-right-color:$orange;
      background:#000;
    }
    .friends-info {
      position:relative;
      left:92px;
      bottom:88px;
      width:105px;
    }
    a {
      color:#000;
    }
    a:hover {
      color:#000;
    }
  }
        .friends-search {
        position:absolute;
        left:459px;
        bottom:21px;
        height:25px;
        width:208px;
        background:$orange; 
        @include border-radius(8px);
        background: -webkit-linear-gradient(top, #F37244 0%, #F15A24 100%);
    background: -moz-linear-gradient(top, #F37244 0%, #F15A24 100%);
    background: -ms-linear-gradient(top, #F37244 0%, #F15A24 100%);
    background: -o-linear-gradient(top, #F37244 0%, #F15A24 100%);
    background: linear-gradient(to bottom, #F37244 0%, #F15A24 100%);
    text-shadow: #FF6103 0 1px 3px;
    -webkit-box-shadow:
        0 1px 3px #777,
        0 0px 1px #ccc;
    -moz-box-shadow:
        0 1px 3px #777,
        0 0px 1px #ccc;
    box-shadow:
        0 1px 3px #777,
        0 0px 1px #ccc;
        input{
            background:transparent;
            padding:0.6em;
            border:none;
            width:10em;
            color:#fff;
        }
        input:focus{
            outline:none;
        }
    }
}
#friend-info-top {
  position:relative;
  height:128px;
  width:666px;
  margin:5px 0 0 0;
  .friend-info {
   height:100px;
   width:434px;
         background:rgba(255,255,255,0.75);
      @include border-radius(8px);
      @include box-shadow(0px 0px 8px rgba(0,0,0,0.45));
      #friend-image {
        position:absolute;
        top:0px;
        left:0px;
        width:100px;
        height:100px;
        border-style:solid;
      border-right-width:3px;
      border-right-color:$orange;
      background:#000;
      @include border-top-left-radius(8px);
      @include border-bottom-left-radius(8px);
      }
      #f-info {
        position:relative;
        left:116px;
        top:9px;
        width:283px;
      }
  }
  #friend-trkr-search {
        position:absolute;
        right:6px;
        bottom:28px;
        height:25px;
        width:201px;
        background:$orange; 
        @include border-radius(8px);
        background: -webkit-linear-gradient(top, #F37244 0%, #F15A24 100%);
    background: -moz-linear-gradient(top, #F37244 0%, #F15A24 100%);
    background: -ms-linear-gradient(top, #F37244 0%, #F15A24 100%);
    background: -o-linear-gradient(top, #F37244 0%, #F15A24 100%);
    background: linear-gradient(to bottom, #F37244 0%, #F15A24 100%);
    text-shadow: #FF6103 0 1px 3px;
    -webkit-box-shadow:
        0 1px 3px #777,
        0 0px 1px #ccc;
    -moz-box-shadow:
        0 1px 3px #777,
        0 0px 1px #ccc;
    box-shadow:
        0 1px 3px #777,
        0 0px 1px #ccc;
                input{
            background:transparent;
            padding:0.6em;
            border:none;
            width:10em;
            color:#fff;
        }
        input:focus{
            outline:none;
        }
  }
}
.friend-recommend-nudge {
  margin-top:-75px;
}
.other-recommend-nudge {
  margin-top:-54px;
}
        .white-search-25 {
        width:25px;
        height:25px;
        margin-right:5px;
    }
.pagination {
  position:relative;
  text-align:center;
  bottom:7px;
  height:38px;
  left:15px;
    .page-numbers {
      padding:0 25px 0 0;
      color:$orange;
      a {
        color:#000;
      }
      a:hover {
        color:$orange;
      }
    }
  }
  #delete-confirmation {
    display:none;
  }
} /* END OF CONTENT */
.content-pad-bottom {
    padding-bottom:166px;
    @extend .content;
}
.content-pad-160 {
  padding:4px 160px 0 160px;
    @extend .content;
}
.content-pad-187{
  padding:4px 187px 0 187px;
    @extend .content;
}
.content-pad-160-bottom {
    padding:4px 160px 166px 160px;
    @extend .content;
}
.content-pad-115-bottom {
  padding:14px 115px 166px 115px;
    @extend .content;
}
.content-pad-187-bottom {
  padding:4px 187px 166px 187px;
    @extend .content;
}
.content-error-pad-220-bottom {
  padding:4px 208px 166px 232px;
    @extend .content;
}
.delete-confirm {
    width:431px;
    height:286px;
    background: url(/images/box-bk-431.png) no-repeat;
    @include border-radius(8px);
    color:#000;
    a {
	    color:#fff;
    }
    a:hover {
	    color:#fff;
    }
    #goodbye {
        font-size:2.8em;
        color:#fff;
        @include text-shadow(0px 2.83px 8px rgba(0,0,0,0.28));
        font-family: 'Signika Negative', sans-serif;
        font-weight:400;
        line-height:1.3em;
        position:relative;
        top:28px;
        left:101px;
        width:260px;
      }
      #delete-txt-1 {
        position:relative;
        text-align:center;
        width:237px;
        display:block;
        left:97px;
        top:34px;
      }
      #delete-txt-2 {
        position:relative;
        text-align:center;
        width:237px;
        display:block;
        left:97px;
        top:97px;
      }
      .delete-account-button {
        position:absolute;
        left:115px;
        top:227px;
      }
      .delete-account-cancel {
        position:absolute;
        left:248px;
        top:227px;
      }
}
.notify-logo-70 {
  position:relative;
  left:101px;
  top:41px;
}
.notify-yes {
  position:relative;
  left:185px;
  top:74px;
}
.notify-confirm-txt {
    position:relative;
    font-size:1.3em;
    width:233px;
    text-align:center;
    left:99px;
    top:52px;
    line-height:1.25em;
}
#content-error-left {
  float:left;
  margin-top:34px;
.error-txt {
  text-align:center;
  width:258px;
  line-height:1.4em;
}
.error-404-txt {
  color:red;
  width:258px;
  text-align:center;
  line-height:1.4em;
  }
}
#content-error-right {
  float:right;
  margin-bottom:11px;
}
#timeline {
  	position:relative;
    height:558px;
    background-image: url(/images/grid.png);
    background-repeat: repeat-x;
    margin-bottom: 27px;
  #shadow-top {
	  position:absolute;
	  height:43px;
	  width:100%;
	  top:-31px;
  }
  #shadow-bot {
	  position:absolute;
	  height:43px;
	  width:100%;
	  top:546px;
  }
  .release-list {
	  list-style-type: none;
	  position:relative;
	  margin-left:20px;
	  .each-release {
	  overflow: hidden;
	  background:white;
      @include border-top-left-radius(8px);
      @include border-top-right-radius(8px);
      @include border-bottom-left-radius(10px);
      @include border-bottom-right-radius(10px);
      @include box-shadow(0px 0px 8px rgba(0,0,0,0.55));
      height:210px;
      width:210px;
      margin:0 20px 20px 0;
      position:relative;
      .release-info {
	      color:#fff;
	      display:block;
	      position:absolute;
	      bottom:13px;
	      padding:110px 13px 0 13px;
	      z-index:2;
	      margin-right:15px;
        -webkit-transition: bottom ease-out 0.5s;
        a {
		      color:#fff;
	      }
	      a:hover {
		      color:$orange;
	      }
      }
      .release-info:hover {
        bottom:33px;
      } 
      .release-info:hover ~ .release-menu {
	      bottom:0px;
      }
      .release-menu {
      -webkit-transition: bottom ease-out 0.5s;
	      position:absolute;
	      height:23px;
	      width:210px;
	      background-color:$orange;
	      background: -webkit-linear-gradient(top, #F37244 0%, #F15A24 100%);
		    background: -moz-linear-gradient(top, #F37244 0%, #F15A24 100%);
		    background: -ms-linear-gradient(top, #F37244 0%, #F15A24 100%);
		    background: -o-linear-gradient(top, #F37244 0%, #F15A24 100%);
		    background: linear-gradient(to bottom, #F37244 0%, #F15A24 100%);
		    text-shadow: #FF6103 0 1px 3px;
	      @include border-bottom-left-radius(8px);
          @include border-bottom-right-radius(8px);
          bottom:-25px;
          left:0px;
          z-index:2;
          .menu {
	          list-style-type:none;
	          width:210px;
	          height:23px;
	          left:29px;
	          position:relative;
	          .menu-item {
		          color:#fff;
		          padding:0 30px 0 0;
		          line-height:23px; 
	          }
          }
      }
      .r-grad {
	      position:absolute;
	      z-index:1;
	      width:210px;
	      height:210px;
	      @include border-radius(8px);
	      background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjkzJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,1) 93%, rgba(0,0,0,1) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(93%,rgba(0,0,0,1)), color-stop(100%,rgba(0,0,0,1)));
background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 93%,rgba(0,0,0,1) 100%);
background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 93%,rgba(0,0,0,1) 100%);
background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 93%,rgba(0,0,0,1) 100%);
background: linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 93%,rgba(0,0,0,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 );
/* <!--[if gte IE 9]>
  <style type="text/css">
    .gradient {
       filter: none;
    }
  </style>
<![endif]--> */
      }
	  }
  }
  }
.share-release {
	display:none;
	width:543px;
    height:315px;
    background: url(/images/box-bk-550.png) no-repeat;
    @include border-radius(8px);
    color:#000;
    .share-title {
        font-size:2.8em;
        color:#fff;
        @include text-shadow(0px 2.83px 8px rgba(0,0,0,0.28));
        font-family: 'Signika Negative', sans-serif;
        font-weight:400;
        line-height:1.3em;
        position:relative;
        top:27px;
        text-align:center;
      }
      ul {
      list-style-type: none;
      position:relative;
      top:51px;
      left:103px;
	      li {
		      margin-right:38px;
	      }
      }
      .share-txt {
	      position:relative;
	      text-align:center;
	      top:79px;
      }
}
.buy-release {
	display:none;
	width:543px;
    height:315px;
    background: url(/images/box-bk-550.png) no-repeat;
    @include border-radius(8px);
    color:#000;
    .buy-title {
        font-size:2.8em;
        color:#fff;
        @include text-shadow(0px 2.83px 8px rgba(0,0,0,0.28));
        font-family: 'Signika Negative', sans-serif;
        font-weight:400;
        line-height:1.3em;
        position:relative;
        top:27px;
        text-align:center;
      }
      ul {
      list-style-type: none;
      position:relative;
      top:51px;
      left:103px;
	      li {
		      margin-right:38px;
	      }
      }
      .buy-txt {
	      position:relative;
	      text-align:center;
	      top:79px;
      }
}
.error-explanation {
	text-align:center;
	color:red;	
}
.success-explanation {
	text-align:center;
}
