/* Welcome to Compass.
* In this file you should write your main styles. (or centralize your imports)
* Import this file using the following HTML or equivalent:
* <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import "compass/reset";
@import "compass/css3/border-radius";
@import "compass/css3/opacity";
@import "compass/css3/box-shadow";
@import "compass/utilities/links/link-colors";

$blue:#45ADD2;
$orange:#F15A24;
$gray:#333333;
$footer:166px;
a:link {text-decoration:none;}
*{
    margin:0;
    padding:0;
}
html, body{
    width:100%;
    height:100%;
}
@font-face {
  font-family: "Instruction";
  src: url("/assets/font/instruction.otf");
  src: local("?"),
    url("/assets/font/instruction.otf") format("opentype");
}
body{
    font-family: 'helvetica neue', helvetica, sans-serif;
    font-size:75%;
    font-weight:400;
    line-height:1.4em;
    background: url("/assets/images/b-bk.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;    
}
.italic {
  font-style:italic;
}
.tab-indent {
  padding-left: 2em;

}
.clear {
    clear:both;
}
.orange-txt {
    color:$orange; 
}
.font-13 {
  font-size:1.1em;
}
.font-15 {
  font-size:1.3em;
}
.font-18 {
  font-size:1.6em;
}
.font-20 {
  font-size:1.8em;
}
.font-25 {
  font-size:2.3em;
}
.font-35 {
  font-size:2.8em;
}
.font-100 {
  font-size:9.2em;
}
.font-logout {
  font-size:1.208em;
}
.instruct-font {
  font-family: "Instruction", Helvetica, Arial, sans-serif;
}
.signika-font {
  font-family: 'Signika Negative', sans-serif;
}
.line-height-1-25 {
  line-height:1.25em;
}
strong{
    font-weight:bold;
}
table{
    margin: 1em 0em;
}
table td{
    padding:0.3em;
    background-color:white;
}
table th{
    font-weight:bold;
    padding:0.3em;
    background-color:$orange;
    color:$gray;
}
.right{
    float:right;
    }
.left{
    float:left;
    }
.fb-login-nudge {
    margin-top:28px;
}
.form-text {   
       width:158px;
       border:1px solid #999;
       -webkit-border-radius: 3px;-khtml-border-radius:3px;-moz-border-radius:3px;border-radius:3px;
       margin:0;
       padding:5px;
       background: #fff;
       background: -webkit-gradient(linear, left top, left 25, from(#fff), color-stop(6%, #eee), to(#fff));
       background: -moz-linear-gradient(top, #fff, #eee 2px, #fff 25px);
       box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
       -moz-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
       -webkit-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
            }
.form-text:hover, .itext:focus {
       border-color: #333;
       background:#fff;
            }
a.dp-choose-date {
  float: left;
  width: 16px;
  height: 16px;
  padding: 0;
  margin: 5px 3px 0;
  display: block;
  text-indent: -2000px;
  overflow: hidden;
  background: url(/assets/datepicker/calendar.png) no-repeat; 
}
a.dp-choose-date.dp-disabled {
  background-position: 0 -20px;
  cursor: default;
}
/* makes the input field shorter once the date picker code
 * has run (to allow space for the calendar icon
 */
input.dp-applied {
  width: 140px;
  float: left;
}
#big-search{
    input{
        background:transparent;
        border:none;
        padding:0.2em;
        padding-left:1em;
        font-size:1.8em;
        width:22em;
    }
    input:focus{
        outline: none;
    }
}
.o-button{
    background-image: url(/assets/images/header-bk-left-2.png);
    display:block;
    height:37px;
    background-repeat:no-repeat;   
    position:relative;
    white-space:nowrap;
    z-index:10;
    color:#fff;
    *{
        color:white;
    }
}
.o-button span {
    background-image: url(/assets/images/header-bk-right-2.png);
    display:block;
    float:left;
    height:37px;
    padding:0 5px 5px 0;
    position:absolute;
    right:-16px;
    background-repeat:no-repeat;
    top:0px;
    width:11px;
}
.o-pad {
    margin:33px 16px 0 5px;
    line-height:37px;
    padding:1px 3px 5px 18px;
}
.profile-menu-o-pad {
    line-height:37px;
    padding:1px 3px 5px 20px;
}
.new-release-o-pad {
  margin:-4px 0 0 0;
  line-height:37px;
  padding:1px 3px 5px 20px;
}
.artist-add-o-pad {
    margin:0 0 0 7px;
    line-height:32px;
    padding:1px 3px 5px 21px;
}
.artist-remove-o-pad {
    margin:0 0 0 -4px;
    line-height:32px;
    padding:1px 3px 5px 21px;
}
.artist-login-o-pad {
    margin:0 0 0 -8px;
    line-height:32px;
    padding:1px 3px 5px 21px;
}
.p-settings-o-pad {
  margin:0 0 0 -5px;
  line-height:37px;
  padding:1px 3px 5px 18px;
}
.del-account-o-pad {
  margin:0 0 0 -2px;
  line-height:37px;
  padding:1px 3px 5px 18px;
}
.confirm-o-pad
{
    line-height:37px;
    padding:1px 3px 1px 18px;
}
#artist_search_results{
    width:60em;
    margin:3em auto;
    font-size:1.1em;
    td, th{
        padding:0.5em;
    }
}
.header-height-big {
    height:170px;
}
.header-height-small {
    height:105px;
}
.header{
    padding:0px 42px 0px 42px;
    .p-head
    {
        
        position:relative;
        margin:33px 0 0 11px;
    }
    .mini-search {
        margin:39px 0px 0 0;
        height:25px;
        width:158px;
        background:rgba(255,255,255,0.75);
        @include border-radius(8px);
        -moz-box-shadow: 0px 0px 7px rgba(0,0,0,0.6);
        -webkit-box-shadow: 0px 0px 7px rgba(0,0,0,0.6);
        box-shadow: 0px 0px 7px rgba(0,0,0,0.6);
        input{
            background:transparent;
            padding:0.6em;
            border:none;
            width:10em;
        }
        input:focus{
            outline:none;
        }
    }
    .mini-search-2 {
        margin:39px 11px 0 0;
        height:25px;
        width:158px;
        background:rgba(255,255,255,0.75);
        @include border-radius(8px);
        -moz-box-shadow: 0px 0px 7px rgba(0,0,0,0.6);
        -webkit-box-shadow: 0px 0px 7px rgba(0,0,0,0.6);
        box-shadow: 0px 0px 7px rgba(0,0,0,0.6);
        input{
            background:transparent;
            padding:0.6em;
            border:none;
            width:10em;
        }
        input:focus{
            outline:none;
        }
    }
    .search-25 {
        width:25px;
        height:25px;
        margin-right:5px;
    }
    .big-logo-home{
        position:relative;
        left:218px;
        height:120px;
        width:470px;
        top:11px;
    }
    .small-logo-home{
        position:relative;
        bottom:51px;
        width:202px;
        height:55px;
    }
}
#footer{
    background-image: url(/assets/images/footer.png);
    *{
        color:white;
    }
    position:relative;
    margin-top:-$footer;
    height:$footer;
    clear:both;
}
/*Opera Fix*/
body:before {/* thanks to Maleika (Kohoutec)*/
    content:"";
    height:100%;
    float:left;
    width:0;
    margin-top:-32767px;/* thank you Erik J - negate effect of float*/
}
#fcontainer{
    position:relative;
    width:980px;
    margin:0 auto;
    padding:20px 0 0 0;
    text-align:center; 
    .footer-menu {
        list-style-type:none;
        position:relative;
        top:20px;
        li {
            font-size:1.1em;
            padding:0 30px 0 0;
            display:inline;
        }
    } 
    #footer-txt {
        font-size:0.9em;
        position:relative;
        top:105px;
    }
}
#wrapper{
    min-height:100%;
}
.wrapper2 {
    width:980px;
    margin:0 auto;
    min-height:100%;
}
.content {
    padding:0px 73px 0px 73px;
    .signika-txt { /* white text - signikia */
        color:#fff;
        -moz-text-shadow: 0px 2.83px 8px rgba(0,0,0,0.28);
        -webkit-text-shadow: 0px 2.83px 8px rgba(0,0,0,0.28);
        text-shadow: 0px 2.83px 8px rgba(0,0,0,0.28);
        font-family: 'Signika Negative', sans-serif;
        font-weight:400;
        line-height:1.3em;
    }
    .artist-name { /* Artist name - Instruction font */
      position:relative;
      width:200px;
      display:block;
      text-transform:uppercase;
      margin-top:-2px;
      padding:0 0 14px 0;
    }
    .splash-white-header {
      position:relative;
      text-align:center;
      left:2px;
      top:26px;
    }
    .splash-email {
      position:relative;
      text-align:center;
      top:55px;
      * {
        color:#000;
      }
    }
    .home-white-header
    {
        position:relative;
        width:540px;
        text-align:center;
        left:147px;
        top:56px;
    }
    #big-search {
        position:relative;
        top:95px;
        left:139px;
        height:35px;
        width:555px;
        background:rgba(255,255,255,0.75);
        @include border-radius(8px);
        -moz-box-shadow: 0px 0px 8px rgba(0,0,0,0.6);
        -webkit-box-shadow: 0px 0px 8px rgba(0,0,0,0.6);
        box-shadow: 0px 0px 8px rgba(0,0,0,0.6);
    }
    .search-35
    {
        height:35px;
        width:35px;
        margin-right:5px;
    }
    .how-to-box {
        position:relative;
        width:834px;
        left:1px;
        top:147px;
        height:353px;
        .each-box {
            width:254px;
            height:175px;
            background:rgba(255,255,255,0.75);
            @include border-radius(8px);
            -moz-box-shadow: 0px 0px 8px rgba(0,0,0,0.6);
            -webkit-box-shadow: 0px 0px 8px rgba(0,0,0,0.6);
            box-shadow: 0px 0px 8px rgba(0,0,0,0.6);
            color:#00;
            font-size:1.208em;
            text-align:center;
            line-height:1.4em;
            font-weight:500;
            .how-to-txt
            {
                padding:15px 35px 15px 35px;
            }
            .how-image-nudge {
            position:relative;
            bottom:5px;
        }
        }
        .box-pad {
            margin: 0 35px 0 0;
        }
    }
/*    .find-out-box {
        position:relative;
        width:705px;
        top:127px;
        left:68px;
        height:189px;
        .find-box {
            width:120px;
            height:35px;
            float:left;
            background-image: url(/assets/images/find-out.png);
            background-repeat:no-repeat;
            .find-txt
            {
                color:#fff;
                padding:11px 0 0 14px;
            }
        }
        .find-pad {
            padding:0 169px 0 0;
        }
        #notify {
            position:absolute;
            bottom:27px;
            right:12px;
        }
} */

  #content-artist {
    position:relative;
    width:597px;
    height:460px;
    margin-top:5px;
      .artist-image {
        width:219px;
        height:251px;
        @include border-radius(8px);
        -moz-box-shadow: 0px 0px 8px rgba(0,0,0,0.6);
        -webkit-box-shadow: 0px 0px 8px rgba(0,0,0,0.6);
        box-shadow: 0px 0px 8px rgba(0,0,0,0.6);
        
        #outer-button {
          position:absolute;
          top:0px;
          left:0px;
          width:100%;
          width:219px;
          height:252px;
          .inner-button {
            position:relative;
            width:50%;
            margin:0px auto;
            top:232px;
          }
        }
      }
    .artist-info {
     width:365px;
     height:264px;
     margin-right:-7px;
    #label-nudge {
      position:relative;
      padding:0 20px 0 0;
    }
    .info-icon-logo-nudge {
      position:relative;
      left:3px;
      bottom:9px;
    }
    #artist-bio {
      position:relative;
      padding:7px 0 0 0;
    }
    }
        ul {
      position:absolute;
      width:370px;
      top:221px;
      left:234px;
      list-style-type:none;
      li {
        height:47px;
        width:48px;
        display:inline;
      }
      .social-spacing {
        margin-right:-5px;
      }
    }
  }
    .content-top {
  position:relative;
  width:659px;
  height:128px;
  .top-header {
    float:left;
    width:340px;
  }
  .content-top-right {
    float:right;
    width:302px;
    margin-top:9px;
  }
}
#content-profile-top {
  position:relative;
  width:660px;
  height:114px;
  .profile-menu {
    float:left;
    width:147px;
    margin-right:9px;
    .menu-width {
      display:block;
      width:121px;
      text-align:center;
    }
    .profile-menu-button-nudge {
      margin-left:-5px;
    }
    .profile-menu-button-nudge-2 {
      margin-left:-6px;
    }
    #trkrs-button {
      position:relative;
      height:80px;
      width:159px;
      background-image: url(/assets/images/trkrs-button.png);
      margin-bottom:4px;
      #trkrs-button-txt {
        position:relative;
        text-align:center;
        color:#fff;
        top:23px;
      }
    }
  }
  .profile-welcome {
    float:right;
    width:489px;
    margin-top:4px;
    margin-left:14px;
  }
  .artist-text-nudge {
    margin-top:3px;
  }
}
#tracked-artists {
  position:relative;
  top:23px;
  width:640px;
  height:186px;
  background:rgba(255,255,255,0.75);
  @include border-radius(8px);
  -moz-box-shadow: 0px 0px 8px rgba(0,0,0,0.6);
  -webkit-box-shadow: 0px 0px 8px rgba(0,0,0,0.6);
  box-shadow: 0px 0px 8px rgba(0,0,0,0.6);
  padding:20px 0 0 20px; 
}
.recommend-text-nudge {
  top:46px;
}
#recommended-artists-outer {
  position:relative;
  height:515px;
  .recommended-artists {
  position:relative;
  top:73px;
  width:660px;
  height:410px;
  background:rgba(255,255,255,0.75);
  @include border-radius(8px);
  -moz-box-shadow: 0px 0px 8px rgba(0,0,0,0.6);
  -webkit-box-shadow: 0px 0px 8px rgba(0,0,0,0.6);
  box-shadow: 0px 0px 8px rgba(0,0,0,0.6);
}
}
#content-release-left {
  float:left;
  width:341px;
  height:552px;
  #release-points-box {
    position:relative;
    background:rgba(255,255,255,0.75);
    @include border-radius(8px);
    -moz-box-shadow: 0px 0px 8px rgba(0,0,0,0.6);
    -webkit-box-shadow: 0px 0px 8px rgba(0,0,0,0.6);
    box-shadow: 0px 0px 8px rgba(0,0,0,0.6);
    width:341px;
    height:363px;
    top:29px;
    .each-point {
      width:239px;
      height:45px;
      float:left;
      padding:20px 50px 0 45px;
      .point-txt {
      margin-top:8px;
      float:right;
      width:158px;
      height:45px;
    }
    }
  }
  .release-header {
    position:relative;
    width:340px;
  }
}
#content-release-right {
    float:right;
    width:284px;
    margin-top:12px;
            .rform {
            position:relative;
            width:284px;
            height:320px;
            top:27px;
            label { 
                width:110px; 
                display:block;
                float:left;
                margin-top:6px;
            }
            li {
                padding:0 0 18px 0;
            }
            input[type=submit] {
                margin:5px 0 0 0;
                background:none;
                border:0;
                color:#fff;
                font-size:1.0em            
            }
            #submit-pad {
                margin-right:14px;
                margin-top:2px;
            }
            #file_browser {
              position:relative;
              bottom:16px;
              left:109px;
            }
            #type_dropdown {
              position:relative;
              top:4px;
            }
        }
}
#p-settings {
  margin:16px 0 0 0;
#change-email {
  position:relative;
            label { 
                width:110px; 
                display:block;
                float:left;
                margin-top:6px;
            }
            li {
                padding:0 0 18px 0;
            }
            input[type=submit] {
                margin:5px 0 0 0;
                background:none;
                border:0;
                color:#fff;
                font-size:1.0em;
            }
            #change-email-submit-pad {
                margin-right:168px;
                margin-top:2px;
            }
}
#email-notify {
  position:relative;
  top:30px;

            label { 
                width:110px; 
                display:block;
                position:relative;
                bottom:15px;
                left:30px;
            }
            li {
                float:left;
                display:block;
                width:90px;
            }
            .radio-pad {
              padding:0 52px 0 0;
            }
            input[type=submit] {
                margin:5px 0 0 0;
                background:none;
                border:0;
                color:#fff;
                font-size:1.0em;
            }
            #save-settings-submit-pad {
                margin-right:511px;
                margin-top:4px;
            }
}
#delete-account {
  position:relative;
  top:60px;
  height:180px;
  width:660px;  
  font-size:1.1em;
  #delete-submit-pad {
  position:absolute;
  top:65px;
  left:-4px;
}
}
}
#content-404 {  
  position:relative;
  width:526px;
  height:323px;         
        #content-404-left {
        float:left;
        width:258px;
        }
        #content-404-right {
          float:right;
          width:267px;
        }
}
#warning-sign {
  position:relative;
  left:50px;
  bottom:3px;
  
}
#manage-artist-txt {
  position:relative;
  width:450px;
  font-weight:bold;
  left:173px;
  bottom:86px;
  margin:4px 0 0 0 ;
}
#about-txt{
  position:relative;
  top:7px;
}
#terms-txt{
  position:relative;
  top:7px;
  padding:0 0 18px 0;
  ul {
    list-style-type: disc;
    margin-left: 20px;
    margin-bottom:16px;
  }
  ol {
    list-style-type:decimal;
    margin-left: 20px;
     margin-bottom:16px;
  }
  a
  {
    color:$orange;
  }
  a:hover {
    color:#000;
  }
  a:active {
    color:$orange;
  }
  a:visited {
    color:$orange;
  }
  p {
  margin-bottom:16px;
}
}
#social-media-about {
  position:relative;
  width:394px;
  top:36px;
  height:151px;
  left:133px;
  .sm-pad {
    margin-right:66px;
  }
  .fbp, .twitp, .goop {
    display:none;
  }
}
#privacy-txt{
  position:relative;
  top:7px;
  padding:0 0 18px 0;
  ul {
    list-style-type: disc;
    margin-left: 20px;
    margin-bottom:16px;
  }
  a
  {
    color:$orange;
  }
  a:hover {
    color:#000;
  }
  a:active {
    color:$orange;
  }
  a:visited {
    color:$orange;
  }
  p {
  margin-bottom:16px;
}
}
#team-txt{
  position:relative;
  top:7px;
  a
  {
    color:$orange;
  }
  a:hover {
    color:#000;
  }
  a:active {
    color:$orange;
  }
  a:visited {
    color:$orange;
  }
  p {
  margin-bottom:16px;
}
}
#team {
  position:relative;
  padding:0 0 22px 0;
.team-members {
  position:relative;
  width:668px;  
  padding:20px 0 0 0;
.team-pic-left {
  width:168px;
  height:153px;
  margin-left:-10px;
}
.team-pic-right {
  width:168px;
  height:153px;
  margin-right:-2px;
}
.team-desc {
  width:490px;
  height:133px;
  padding:13px 0 0 0;
}
  .desc-align {
    text-align:right;
  }
}
}
#artist-search {
   position:relative;
   margin:20px 0 32px 0;
.artist-search-row {
  position:relative;
  width:554px;
  height:53px;
  padding:11px 25px 11px 25px;
  margin:0 0 17px 0;
  background:rgba(255,255,255,0.75);
  @include border-radius(8px);
  -moz-box-shadow: 0px 0px 8px rgba(0,0,0,0.6);
     -webkit-box-shadow: 0px 0px 8px rgba(0,0,0,0.6);
     box-shadow: 0px 0px 8px rgba(0,0,0,0.6);
    .artist-search-image {
      position:absolute;
      @include border-top-left-radius(8px);
      @include border-bottom-left-radius(8px);
      top:0px;
      left:0px;
      height:75px;
      width:75px;
      border-style:solid;
      border-right-width:3px;
      border-right-color:$orange;
  }
     .artist-search-info {
       position:relative;
       left:64px;
       top:2px;
  .artist-search-name {
    margin:0 0 2px 0;
      a
  {
    color:#000;
  }
  a:hover {
    color:#000;
  }
  a:active {
    color:#000;
  }
  a:visited {
    color:#000;
  }
  }
  }
}
}
#friends-list {
  position:relative;
  width:667px;
  top:14px;
  ul {
    list-style-type:none;
    margin-left:-20px;
    position:relative;
    li {
      width:199px;
      height:38px;
      padding:26px 10px 26px 0px;
      margin:0 0 20px 20px;
      background:rgba(255,255,255,0.75);
      @include border-radius(8px);
      -moz-box-shadow: 0px 0px 8px rgba(0,0,0,0.6);
      -webkit-box-shadow: 0px 0px 8px rgba(0,0,0,0.6);
      box-shadow: 0px 0px 8px rgba(0,0,0,0.6);
      
    }
    .friends-image {
      position:relative;
      @include border-top-left-radius(8px);
      @include border-bottom-left-radius(8px);
      bottom:26px;
      left:0px;
      height:90px;
      width:80px;
      border-style:solid;
      border-right-width:3px;
      border-right-color:$orange;
      background:#000;
    }
    .friends-info {
      position:relative;
      left:92px;
      bottom:96px;
      width:105px;
    }
    a {
      color:#000;
    }
    a:hover {
      color:#000;
    }
  }
        .friends-search {
        position:absolute;
        left:459px;
        bottom:21px;
        height:25px;
        width:208px;
        background:$orange;
        color:#fff;
        @include border-radius(8px);
        -moz-box-shadow: 0px 0px 7px rgba(0,0,0,0.6);
        -webkit-box-shadow: 0px 0px 7px rgba(0,0,0,0.6);
        box-shadow: 0px 0px 7px rgba(0,0,0,0.6);
        input{
            background:transparent;
            padding:0.6em;
            border:none;
            width:10em;
        }
        input:focus{
            outline:none;
        }
    }
}
        .white-search-25 {
        width:25px;
        height:25px;
        margin-right:5px;
    }
.pagination {
  position:relative;
  text-align:center;
  bottom:7px;
  height:38px;
  left:15px;
    .page-numbers {
      padding:0 25px 0 0;
      color:$orange;
      a {
        color:#000;
      }
      a:hover {
        color:$orange;
      }
    }
  }
} /* END OF CONTENT */
.content-pad-bottom {
    padding-bottom:166px;
}
.content-pad-160 {
  padding:4px 160px 0 160px;
}
.content-pad-191 {
  padding:4px 191px 0 191px;
}
.content-pad-160-bottom {
    padding:4px 160px 166px 160px;
}
.content-pad-191-bottom {
  padding:4px 191px 166px 191px;
}
.content-error-pad-220-bottom {
  padding:4px 208px 166px 232px;
}
.content-splash-pad-262-bottom {
  padding:4px 262px 166px 262px;
}
.delete-confirm {
    width:431px;
    height:286px;
    background: url(/assets/fancybox/box-bk-431.png) no-repeat;
    @include border-radius(8px);
    #goodbye {
        font-size:2.8em;
        color:#fff;
        -moz-text-shadow: 0px 2.83px 8px rgba(0,0,0,0.28);
        -webkit-text-shadow: 0px 2.83px 8px rgba(0,0,0,0.28);
        text-shadow: 0px 2.83px 8px rgba(0,0,0,0.28);
        font-family: 'Signika Negative', sans-serif;
        font-weight:400;
        line-height:1.3em;
        position:relative;
        top:28px;
        left:101px;
        width:260px;
      }
      #delete-txt-1 {
        position:relative;
        text-align:center;
        width:237px;
        display:block;
        left:97px;
        top:34px;
      }
      #delete-txt-2 {
        position:relative;
        text-align:center;
        width:237px;
        display:block;
        left:97px;
        top:97px;
      }
      #delete-account-button {
        position:absolute;
        left:108px;
        top:227px;
        font-size:1.1em;
      }
      #delete-account-cancel {
        position:absolute;
        left:247px;
        top:227px;
        font-size:1.1em;
      }
}
.change-email-confirm {
    width:431px;
    height:286px;
    background: url(/assets/fancybox/box-bk-431.png) no-repeat;
}
.email-notify-confirm {
    width:431px;
    height:286px;
    background: url(/assets/fancybox/box-bk-431.png) no-repeat;
}
.notify-logo-70 {
  position:relative;
  left:101px;
  top:41px;
}
.notify-yes {
  position:relative;
  left:185px;
  top:74px;
}
.notify-confirm-txt {
    position:relative;
    font-size:1.3em;
    width:233px;
    text-align:center;
    left:99px;
    top:52px;
    line-height:1.25em;
}
#manage-confirm {
    width:431px;
    height:286px;
    background: url(/assets/fancybox/box-bk-431.png) no-repeat;
    
    @include border-radius(8px);
         .mcform {
            position:relative;
            width:284px;
            height:73px;
            
            label { 
                width:110px; 
                display:block;
                float:left;
                margin-top:6px;
            }
            li {
                padding:0 0 18px 0;
            }
            input[type=submit] {
                margin:9px 0 0 0;
                background:none;
                border:0;
                color:#fff;
                font-size:1.1em;
            }
            #manage-confirm-submit-pad {
                margin-left:157px;
                margin-top:44px;
            }
        }
        #manage-confirm-logo-70 {
          position:relative;
          left:99px;
          top:26px;
          width:233px;
        }
        .manage-confirm-txt-1 {
          position:relative;
          text-align:center;
          width:233px;
          left:99px;
          top:36px;
        }
        .manage-confirm-txt-2 {
          position:relative;
          text-align:center;
          width:233px;
          left:99px;
          top:53px;
        }
        .manage-confirm-input {
          position:relative;
          top:53px;
          left:137px;
        }
        #manage-confirm-no {
          position:relative;
          bottom:18px;
          right:23px;
          font-size:1.1em;
        }
}
#content-error-left {
  float:left;
  margin-top:34px;
.error-txt {
  text-align:center;
  width:258px;
  line-height:1.4em;
}
.error-404-txt {
  color:red;
  width:258px;
  text-align:center;
  line-height:1.4em;
  }
}
#content-error-right {
  float:right;
  margin-bottom:11px;
}
.button{
    background: $orange;
    width:7em;
    @include border-radius();
    @include box-shadow();
    text-align:center;
    margin:0.5em;
    padding:0.5em;
    a{
        color:white;
        text-decoration:none;
    }
}
.tl-button{
    margin-top:-5em;
    position:relative;
    z-index:30;
}
.back{
    float:left;
    //margin-left:-0.5em;
}
.forward{
    float:right;
    //margin-right:-0.5em;
}
#timeline{
    background-color:rgba(255,255,255,0.75);
    overflow: auto;
    padding-top:0.5em;
    padding-bottom:1.5em;
    margin-bottom:2em;
    margin-top:1.5em;
    border: 4px solid $gray;
    border-width: 3px 0px;
    position:relative;
    z-index:0;
    #timeline_centerer #timeline_release{
        $small-w:200px;
        $small-h:250px;
        $big-w:500px;
        $big-h:250px;
        width:40000px;
        height:300px;
        border-bottom:0.4em solid $orange;
        margin-bottom:0.4em;
        #empty{
            float:none;
            margin:auto;
            margin-top:2em;
            text-align:center;
            width:$small-w;
            height:auto;
            overflow:hidden;
            background-color:$orange;
            *{
                background-color:none;
                color:white;
            }
        }
        .small{
            width:$small-w;
            height:$small-h;
        }
        .big{
            width:$big-w;
            height:$big-h;
            div .line{
                left:$big-w/2;
            }

        }
        .youtube_video{
            float:right;
        }
        li{
            position:relative;
            float: left;
            border:0.2em solid $gray;
            background-color:white;
            margin:0.3em;
            @include border-radius(0.7em);
            z-index:30;
            p{
                width:100%;
                background-color:$gray;
                padding:0.4em;
                a{
                    color:white;
                    text-decoration:none;
                }
                a:hover{
                    text-decoration:underline;
                }
                .cat-number{
                    font-size:80%;
                }
            }
            .artist_name{
            }
            .release_name{
                font-size:1.4em;
            }
            .label_name{
                font-size:1.1em;
                color:#DDD;
                position:relative;
                bottom:0px;
            }
            .date{
                color:white;
                text-align:center;
                z-index:50;
                position:relative;
                margin:auto;
                width:7em;
                margin-top:0.8em;
                padding:0.3em;
                background-color:$orange;
                @include border-radius(0.5em);
                border:2px solid $gray;
                font-size:1.2em;
            }
            .hide{
                @include border-radius(0.3em);
                overflow:hidden;
            }
            .line{
                z-index:10;
                width:0.3em;
                height:45px;
                clear:both;
                float:left;
                border:none;
                background-color:$orange;
                position:absolute;
                bottom:-46px;
                left:$small-w/2;
            }
            .artwork{
                margin:auto;
                display:block;
            }
            
        }
    }
    .user_timeline{}
}
.timeline_buttons{
    pointer-events:none;
}
.lastfm_img{
    position:relative;
    max-width:219px;
    max-height:254px;
}
