#artist-search {
margin:0 0 42px 48px;
p {
	width:604px;
}
  .result-warning{
    margin-top:14px;
    margin-bottom:9px;
    p{    
      font-size: 1.3em;      
    }
  }
h2 {
   margin:0 0 2px 0;
   @extend .font-15;
   @extend .instruct-font;
      a
  {
    color:#000;
  }
  a:hover {
    color:$orange;
  }
}
ul {
   margin:20px 0 26px 0;
   li {
   	   position:relative;
	   width:604px;
.artist-search-row {
  position:relative;
  width:497px;
  height:53px;
  padding:11px 25px 11px 25px;
  margin:0 0 17px 0;
  background:rgba(255,255,255,0.75);
  @include border-radius(8px);
  @include box-shadow(0px 2px 8px rgba(0, 0, 0, 0.25));
    .artist-search-image {
      position:absolute;
      @include border-top-left-radius(8px);
      @include border-bottom-left-radius(8px);
      top:0px;
      left:0px;
      height:75px;
      width:75px;
      border-style:solid;
      border-right-width:3px;
      border-right-color:$orange;
  }
     .artist-search-info {
       position:relative;
       left:64px;
       top:1px;
          div {
	  @extend .instruct-font;
	  @extend .orange-txt;
   }
  }
  .search-trkr-button {
    position:absolute;
    right:35px;
    top:25px;
  }
}
}
.artist-trkr-search {
	position:absolute;
	width:50px;
	height:75px;
	top:0px;
	right:0px;
	text-align:center;
	font-size:3em;
	line-height:75px;
	@extend .o-button;
}
}
}
#paginate-outer {
position:relative;
left:50%;
float:left;
clear:both;
text-align:left;
.pagination {
padding:0 10px 0 10px;
position:relative;
left:-50%;
text-align:left;
  .current {
	  color:#fff;
	  	    background:$orange; 
	    $experimental-support-for-svg: true;
	    @include background-image(linear-gradient(top, #F37244 0%, #F15A24 100%));
	    text-shadow: #FF6103 0 1px 3px;
	    -webkit-box-shadow:
	    inset 0 1px 0  #F15A24,
	    inset 0 2px 0 #F7931E,
	    0 1px 3px #777,
	    0 0px 1px #ccc;
	    -moz-box-shadow:
	    inset 0 1px 0  #F15A24,
	    inset 0 2px 0 #F7931E,
	    0 1px 3px #777,
	    0 0px 1px #ccc;
	    box-shadow:
	    inset 0 1px 0  #F15A24,
	    inset 0 2px 0 #F7931E,
	    0 1px 3px #777,
	    0 0px 1px #ccc;
  }
    
  }
  }
.fb-result-header {
	margin:0 0 1px -2px;
}
#facebook-search-results {
position:relative;
margin:19px 0 30px 0;
.facebook-result-single {
position:relative;
width:604px;
.fb-row {
  position:relative;
  width:497px;
  height:68px;
  padding:11px 25px 11px 25px;
  margin:0 0 17px 0;
  background:rgba(255,255,255,0.75);
  @include border-radius(8px);
  @include box-shadow(0px 2px 8px rgba(0, 0, 0, 0.25));
  .fb-artist-image {
	  position:absolute;
      @include border-top-left-radius(8px);
      @include border-bottom-left-radius(8px);
      top:0px;
      left:0px;
      height:90px;
      width:90px;
      border-style:solid;
      border-right-width:3px;
      border-right-color:$orange;
  }
	.fb-artist-info {
		position:relative;
		left:81px;
		top:-2px;
		 a{
			 color:$gray;
		 }
		 a:hover {
			 color:$orange;
		 }
		 .name {
			 margin-bottom:4px;
		 }
	}
	.icon-bookmark {
		position:absolute;
		right:30px;
		top:3px;
		color:#3F6CBA;
		font-size:4.3em;
	}
			.icon-facebook {
			position:absolute;
			top:4px;
			right:42px;
			color:#fff;
			font-size:1.7em;
		}
	}
		.fb-add {
	position:absolute;
	width:50px;
	height:90px;
	top:0px;
	right:0px;
	text-align:center;
	font-size:3em;
	line-height:90px;
	}
}
}	