#artist-search {
   position:relative;
   margin:20px 0 32px 0;
   li {
   	   position:relative;
	   width:604px;
.artist-search-row {
  position:relative;
  width:497px;
  height:53px;
  padding:11px 25px 11px 25px;
  margin:0 0 17px 0;
  background:rgba(255,255,255,0.75);
  @include border-radius(8px);
  @include box-shadow(0px 0px 8px rgba(0,0,0,0.45));
    .artist-search-image {
      position:absolute;
      @include border-top-left-radius(8px);
      @include border-bottom-left-radius(8px);
      top:0px;
      left:0px;
      height:75px;
      width:75px;
      border-style:solid;
      border-right-width:3px;
      border-right-color:$orange;
  }
     .artist-search-info {
       position:relative;
       left:64px;
       top:1px;
  .artist-search-name {
    margin:0 0 2px 0;
      a
  {
    color:#000;
  }
  a:hover {
    color:$orange;
  }
  }
  }
  .search-trkr-button {
    position:absolute;
    right:35px;
    top:25px;
  }
}
}
.artist-trkr-search {
	position:absolute;
	width:50px;
	height:75px;
	top:0px;
	right:0px;
	text-align:center;
	font-size:3em;
	line-height:75px;
}
}
.pagination {
  position:relative;
  text-align:center;
  bottom:7px;
  height:38px;
  left:15px;
    .page-numbers {
      padding:0 25px 0 0;
      color:$orange;
      a {
        color:#000;
      }
      a:hover {
        color:$orange;
      }
    }
  }
  
// Facebook search results
.facebook-result-single{
  height: 100px;
  overflow-y: hidden;
  padding: 5px;
  margin:0px 10px 0px 10px;
  img {
    float:left;
    padding: 5px;
  }
  .name{
    font-weight: bold;
    font-size: 1.5em;
  }
  .name:hover{
    color:$orange;
    cursor: pointer;
  }
  div {
    padding: 5px;
  }
}