#artist-release {
margin:6px 0 31px 0;
	.release-left {
		width:310px;
		#release-image {
			position:relative;
			height:310px;
			width:310px;
			@include box-shadow(0px 0px 8px rgba(0,0,0,0.55));
			@include border-radius(12px);
			overflow:hidden;
			      #opac-50 {
	      position:absolute;
	      z-index:1;
	      height:310px;
			width:310px;
	      @include border-radius(12px);
	      background:rgba(0,0,0,0.75);
	      display:none;
      }
                #share-release {
	      position:absolute;
	      height:310px;
	      width:310px;
	      z-index:2;
	      right:-310px;
	      top:58px;
	      .share-header {
		      position:relative;
		      top:29px;
		      text-align:center;
	      }
	      .share-list {
		      position:relative;
		      left:83px;
		      top:44px;
		 .fb-icon, .twit-icon, .goo-icon {
	      height:38px;
	      width:38px;
	      line-height:38px;
	      @include border-radius(4px);
	      margin-right:15px;
      }
      .goo-icon {
		overflow:hidden;
		font-size:4.8em;	
      }
      .icon-twitter {
	      position:relative;
	      bottom:2px;
	      font-size:2.5em;
      }
      .icon-facebook {
	      position:relative;
	      right:1px;
	      font-size:2.5em;
      }
      .icon-google-plus {
	      position:relative;
	      right:20px;
	      top:6px;
      }
	      }
	      .share-cancel {
		      position:relative;
		      left:121px;
		      top:67px;
	      }
      }
                #buy-release {
	      position:absolute;
	      height:310px;
	      width:310px;
	      z-index:2;
	      left:-310px;
	      top:49px;
	      .buy-header {
		      position:relative;
		      top:29px;
		      text-align:center;
	      }
	      .buy-list {
		      position:relative;
		      left:83px;
		      top:44px;
		      li {
			      height:38px;
			      width:38px;
			      @include border-radius(4px);
			      margin-right:15px;
			      img {
				      position:relative;
				      top:1px;
				      right:1px;
			      }
		      }
	      }
	      .buy-cancel {
		      position:relative;
		      left:121px;
		      top:67px;
	      }
      }
		}
		.release-rating {
		text-align:center;
			ul {
			position:relative;
			left:63px;
			top:15px;
			list-style-type:none;
			font-size:2.3em;
				li {
					
				}
			}
			#rating-txt {
				position:relative;
				top:22px;
			}
		}
	}
	.release-right {
		width:280px;
		#release-info {
			position:relative;
			width:246px;
			background:rgba(255,255,255,0.75);
			height:294px;
			@include box-shadow(0px 0px 8px rgba(0,0,0,0.55));
			@include border-radius(12px);
			padding:17px;
			line-height:1.7em;
			#no-preview {
				position:absolute;
				bottom:15px;
			}
			.i-info {
				margin-right:10px;
			}
			.release-name {
				margin-bottom:3px;
				line-height:1em;
			}
			a {
				color:$orange;
			}
			a:hover {
				color:#000;
			}
		}
		.menu-user {
			list-style-type:none;
			margin:15px 0 0 -14px;
			i {
				margin-right:5px;
			}
			li {
				width:102px;
				margin-left:15px;
			}
		}
		.menu-artist {
			list-style-type:none;
			margin:15px 0 0 -14px;
			i {
				margin-right:3px;
			}
			li {
				width:53px;
				margin-left:15px;
			}
		}
	}
}
.also-by {
	margin-top:-2px;
}
.release-carousel {
	padding: 5px 0 15px 33px; 
	position: relative;
	width:567px;
	height:150px;
	top:12px;
	margin-bottom:23px;
	ul {
		list-style-type:none;
		width:550px;
 li {
	height:137px;
	width:115px;
	float: left;
	position:relative;
    margin:3px 10px 0 10px;
    a {
	    color:#000;
    }
    a:hover {
	    color:$orange;
    }
    div {
	    height:115px;
	    width:115px;
	    position:absolute;
	    background-color:black;
	    @include border-radius(8px);
	    @include box-shadow(0px 2px 5px rgba(0, 0, 0, 0.45));
	    top:0px;
	    left:0px;
    }
    span {
    	position:absolute;
    	top:120px;
	    text-align:center;
	    width:115px;
    }
}
}
}
.prev, .next {
position:absolute;
	width: 33px;
	height: 150px;
	top:0px;
	font-size:2em;
	i {
		position:relative;
		top:66px;
	}
}
.prev {
	left:0px;
}
.next {
	right:-6px;
}
