#artist-profile {
margin:6px 0 31px 0;
	.profile-left {
		width:310px;
		#profile-image {
			position:relative;
			height:368px;
			width:309px;
			@include box-shadow(0px 2px 8px rgba(0,0,0,0.45));
			@include border-radius(12px);
			overflow:hidden;
			      #opac-50 {
	      position:absolute;
	      z-index:3;
	      height:368px;
			width:310px;
	      @include border-radius(12px);
	      background:rgba(0,0,0,0.75);
	      display:none;
      }
      #social-bar-shadow {
	      width:309px;
	      position:absolute;
	      height:35px;
	      bottom:0px;
	      left:0px;
	      z-index:2;
	      opacity: 0.3;
	      $experimental-support-for-svg: true;
          @include background-image(linear-gradient(top,  rgba(0,0,0,0) 80%,rgba(0,0,0,1) 100%));
          @include border-radius(12px);
          pointer-events:none;
      }
      #social-hidden {
      	  position:absolute;
	      width:309px;
	      overflow:hidden;
	      left:10px;
	      bottom:0px;
	      height:120px;
	      z-index:1;
      .artist-sm {
	      position:relative;
	      top:30px;
      		 .fb-icon, .twit-icon, .sc-icon, .web-icon, .yt-icon, .music-icon {
	      height:38px;
	      width:38px;
	      line-height:38px;
	      @include border-radius(4px);
	      margin-right:12px;
	      font-size:2.5em;
      }
      .music-option {
	      position:relative;
      }
.dropdownContain {
	width: 110px;
	position: absolute;
	z-index: 2;
	left: 18px;
	margin-left: -55px; /* half of width */
	top:-15px;
	display:none;
.dropOut {
	width: 110px;
	float: left;
	position: relative;
	margin-top: 0px;
	color:#fff;
	@include border-radius(4px);
	background-color:#F15A24;
	$experimental-support-for-svg: true;
    @include background-image(linear-gradient(top, #F37244 0%, #F15A24 100%));
	@include box-shadow(0px 2px 5px rgba(0,0,0,0.25));
.triangle {
	color:$orange;
	position:absolute;
	top:44px;
	left:39px;
	font-size:2em;
}

 ul {
	position:relative;
	left:2px;
	top:-4px;
 li {
	margin: 12px 0 4px 10px;
	@include border-radius(4px);
	height:38px;
	width:38px;	
	position:relative;		      
}
}
}
}
      li {
      .sm-pop {
	      position:relative;
	      bottom:-78px;
      }
      img {
	      position:relative;
	      top:1px;
	      right:1px;
      }
      .icon-twitter {
	      position:relative;
	      bottom:2px;
	      
      }
      .icon-facebook {
	      position:relative;
	      right:1px;
	      
      }
      .icon-music {
	      position:relative;
	      right:1px;
      }
      icon-globe {
	      position:relative;
	      top:1px;
      }
      }
      }
      }
                #share-profile {
	      position:absolute;
	      height:310px;
	      width:310px;
	      z-index:4;
	      right:-310px;
	      top:87px;
	      .share-header {
		      position:relative;
		      top:29px;
		      text-align:center;
	      }
	      .share-list {
		      position:relative;
		      left:83px;
		      top:44px;
		 .fb-icon, .twit-icon, .goo-icon {
	      height:38px;
	      width:38px;
	      line-height:38px;
	      @include border-radius(4px);
	      margin-right:15px;
      }
      .goo-icon {
		overflow:hidden;
		font-size:4.8em;	
      }
      .icon-twitter {
	      position:relative;
	      bottom:2px;
	      font-size:2.5em;
      }
      .icon-facebook {
	      position:relative;
	      right:1px;
	      font-size:2.5em;
      }
      .icon-google-plus {
	      position:relative;
	      right:20px;
	      top:6px;
      }
	      }
	      .share-cancel {
		      position:relative;
		      left:121px;
		      top:67px;
	      }
      }
              
		}
			}
	.profile-right {
		width:280px;
		#profile-info {
			position:relative;
			width:246px;
			background:rgba(255,255,255,0.75);
			height:294px;
			@include box-shadow(0px 2px 8px rgba(0, 0, 0, 0.25));
			@include border-radius(12px);
			padding:17px;
			line-height:1.7em;
			#artist-bio {
				line-height:1.45em;
			}
			.i-info {
				margin-right:10px;
			}
			.profile-name {
				margin-bottom:3px;
				line-height:1em;
			}
			a {
				color:$orange;
			}
			a:hover {
				color:#000;
			}
		}
		.menu-user {
			list-style-type:none;
			margin:15px 0 0 -14px;
			i {
				margin-right:5px;
			}
			li {
				width:102px;
				margin-left:15px;
			}
		}
		}
}