    .beta-white-header {
      text-align:center;
    }
    #imac {
	    position:relative;
	    left:175px;
	    top:17px;
    }
    #mc_embed_signup {
      text-align: center;
      margin-bottom:20px;
      #beta-submit {
        margin:auto;
        text-align: center;
      }
      .beta-input {
        width:250px;
        height:30px;
        margin-bottom: 15px;
      }
    }
    #beta-points {
  	  width:780px;
  	  margin-top:15px;
  	  ul {
  	  list-style-type: none;
  	  margin-left:-30px;
  		  li {
  			  width:240px;
  			  margin-left:30px;
  		  }
  	  }
  	  .home-titles {
  		  margin-left:-2px;
  	  }
    }
    #beta-social-media {
    position:relative;
    top:50px;
    left:182px;
    height:143px;
	    ul {
	    list-style-type: none;
	    margin-left:-50px;
		    li {
			    margin-left:50px;
		    }
	    }
    }