.btn {
	margin-right:8px;
	i {
		position:relative;
		top:1px;
		margin-right:5px;
	}
}
.track {
	width: 51px;
}
.share_artist {
	margin:0 !important;
}
.popover.bottom {
	margin-top:14px !important;
}
.art_pop, .rel_pop {
	display:none;
}
.share_content {
	div {
		border-bottom:1px solid #ccc;
		padding-bottom:10px;
		a {
			margin-right:8px;
			color:transparent;
				&:last-child {
					margin-right:0px;
				}
				img {
					float:none;
				}
		}
	}
	span {
		font-size:13px;
		display:block;
		margin:3px 0;
	}
	input[type="text"] {
		color:$lightgray;
		width:144px;
		margin-bottom:0px;
		font-size:11px;
			&:focus {
				color:$gray;
			}
	}
}
.buy_content {
	a {
		margin-right:8px;
			&:last-child {
				margin:0 !important;
			}
			img {
				float:none !important;
			}
	}
}
