#content-404 {
	position:relative;
	width:480px;
	top:48px;
	margin-bottom:24px;
	left:52px;
	}
	#content-500 {
	position:relative;
	width:480px;
	top:48px;
	height:349px;
	left:56px;
	}
#content-403 {
	position:relative;
	width:500px;
	top:48px;
	height:347px;
	left:40px;
	}
	#not-found {
	  position:relative;
	  left:44px;
	  top:16px;
  }
  #gears {
	  position:relative;
	  left:17px;
	  top:17px;
  }
  #lock {
	  position:relative;
	  left:28px;
	  top:39px;
  }
#content-404-left {
  float:left;
.txt-404 {
  text-align:center;
  width:258px;
  line-height:1.4em;
}
.txt-404-2 {
  color:red;
  width:258px;
  text-align:center;
  line-height:1.4em;
  }
}
#content-404-right {
  float:right;
}