#feedback {
	.cancel {
		@extend .button;
		float:right;
	}
	input[type=submit] {
		float:right;
		margin-left:15px;
	}
	textarea {
		width:95%;
		resize:none;
	}
	form {
		margin:0px;
	}
}
#report-form {
	      position:absolute;
	      height:310px;
	      width:310px;
	      z-index:2;
	      top:-310px;
	      text-align:center;
	      	      h3 {
		      margin:55px 0 15px 0;
		      @extend .signika-txt; 
		      @extend .font-22;
      	      }
      	      textarea {
	      	      resize:none;
      	      }
      	      .actions {
      	      width:166px;
      	      margin:15px auto;
	      	      input, span {
		      	      float: left;
		      	      margin:0 7px 0 7px;
	      	      }
	      	      span {
		      	      float: left;
		      	      @extend .button;
	      	      }
	      	      
      	      }
      }
#feedlist {
margin-bottom:28px;
	h1 {
		margin-bottom:3px;
	}
	
}