#flash-outer {
  display: none;
	position:relative;
	background:rgba(245,230,200,0.9);
	height:auto;
  @include box-shadow(0px 3px 8px rgba(0,0,0,0.2));
	#flash-inner {
		    position:relative;
		    width:895px;
		    margin:0 auto;
		    padding:15px 0 15px 0;
		.button {
		  @extend .o-button;
          height:25px;
          width:31px;
		  font-size:1.5em;
		  line-height:26px;  
		  text-align:center; 
			position:absolute;
			right:0px;
			top:3px;
			float:right;
		}
		a {
  		color:$orange;
  		font-weight: bold;
		}
	}
}

#flash-outer-closed {
  height: 0px;
}