#footer{
    position:relative;
    margin-top:-($footer);
    height:$footer;
    clear:both;
    overflow: hidden;
}
/*Opera Fix*/
body:before {/* thanks to Maleika (Kohoutec)*/
    content:"";
    height:100%;
    float:left;
    width:0;
    margin-top:-32767px;/* thank you Erik J - negate effect of float*/
}
#fcontainer{
    background-image: url(/images/footer.png);
    background-position-y: 48%;
    background-color: rgba(3, 48, 70, 0.5);
    @include border-radius(10px);
    @include box-shadow(inset 0px 3px 8px black);
    padding:20px 0 0 0;
    text-align:center; 
    border: 0 solid #A8EEFF;
    border-width: 0 1px 2px 1px;
    span,p,a{
        color: rgba(255, 255, 255, 0.86);
    }
    .footer-menu {
        list-style-type:none;
        padding-top:10px;
        a:hover {
            text-decoration:underline;
        }
        li {
            font-size:1.1em;
            padding:0 15px 0 15px;
            display:inline;
        }
    } 
    p {
      font-size:0.9em;
      margin-top:65px;
    }
}
#footer-pad{
    margin-bottom: 20px;
}