#footer{
    background-image: url(/images/footer.png);
    //@include background-image(linear-gradient(top, #414040 1%,$gray 100%));
   // border-top:4px solid $orange;
  //  *{
  //      color:white;
 //       opacity: 0.90;
  //  }
    position:relative;
    margin-top:-($footer);
    height:$footer;
    clear:both;
    overflow: hidden;
}
/*Opera Fix*/
body:before {/* thanks to Maleika (Kohoutec)*/
    content:"";
    height:100%;
    float:left;
    width:0;
    margin-top:-32767px;/* thank you Erik J - negate effect of float*/
}
#fcontainer{
    width:980px;
    margin:0 auto;
    padding:20px 0 0 0;
    text-align:center; 
    color:#fff;
    .footer-menu {
        list-style-type:none;
        padding-top:10px;
        a {
	        color:#fff;
        }
        a:hover {
	        color:$orange;
        }
        li {
            font-size:1.1em;
            padding:0 15px 0 15px;
            display:inline;
        }
    } 
    p {
      font-size:0.9em;
      margin-top:75px;
    }
}