.form-text {   
       width:158px;
       border:1px solid #999;
       -webkit-border-radius: 3px;-khtml-border-radius:3px;-moz-border-radius:3px;border-radius:3px;
       margin:0;
       padding:5px;
       background: #fff;
       background: -webkit-gradient(linear, left top, left 25, from(#fff), color-stop(6%, #eee), to(#fff));
       background: -moz-linear-gradient(top, #fff, #eee 2px, #fff 25px);
       box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
       -moz-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
       -webkit-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
            }
.form-text:hover, .itext:focus {
       border-color: #333;
       background:#fff;
            }
