#share-friends {
text-align:center;
margin-bottom:26px;
	div {
		@extend .font-14;
		font-weight:bold;
	}
	span {
		@extend .font-11;
	}
  #share-bank {
    list-style-type:none;
    margin:30px auto;
    width:350px;
    li {
	      height:86px;
	      width:86px;
	      line-height:86px;
	      @include border-radius(10px);
	      margin:0 15px 0 15px;
	      @extend .left;
      }
      .goo-icon {
		overflow:hidden;
		font-size:10.5em;	
      }
      .icon-twitter {
	      position:relative;
	      bottom:2px;
	      font-size:5.5em;
      }
      .icon-facebook {
	      position:relative;
	      right:1px;
	      font-size:5.5em;
      }
      .icon-google-plus {
	      position:relative;
	      right:40px;
	      top:9px;
      }
  }
}
#friends-list {
  width:667px;
  margin:0 0 12px 56px;
  h1 {
	  margin-bottom:19px;
  }
  ul {
    list-style-type:none;
    margin-left:-20px;
    position:relative;
    li {
      width:199px;
      height:38px;
      padding:26px 10px 26px 0px;
      margin:0 0 20px 20px;
      background:rgba(255,255,255,0.75);
      @include border-radius(8px);
      @include box-shadow(0px 2px 5px rgba(0, 0, 0, 0.25));
      @extend .left;
      position:relative;
    }
    .friends-image {
      position:absolute;
      @include border-top-left-radius(8px);
      @include border-bottom-left-radius(8px);
      top:0px;
      left:0px;
      height:90px;
      width:80px;
      border-style:solid;
      border-right-width:3px;
      border-right-color:$orange;
      background:$gray;
    }
    .friends-info {
      margin-left:92px;
      width:105px;
      h3 {
	      font-weight:bold;
	      @extend .font-13;
      }
      span {
	      @extend .orange-txt;
	      @extend .instruct-font;
      }
    }
    a {
      color:#000;
    }
    a:hover {
      color:#000;
    }
  }
        .friends-search {
		@extend .right;
        height:25px;
        width:209px;
        margin:-56px -2px 0 0;
        background:rgba(255,255,255,0.75);
        @include border-radius(7px);
        @include box-shadow(inset 0px 1px 6px rgba(0, 0, 0, 0.25));
        border: 1px solid #50A6C2;
        border-bottom: 1px solid #B0E0E6;
        input{
            background:transparent;
            padding:0.3em;
            border:none;
            width:160px;
            outline:none;
        }
        input[type=text]:focus {
            @include box-shadow(inset 0px 1px 1px rgba(0, 0, 0, 0));
        }
        div {
	        @extend .right;
	        @extend .search-button;
	        @extend .search;
        }
    }
}