#friend-wrapper {
  margin:5px 0 0 0;
  position:relative;
  width:666px;
  height:300px;
  #friend-cover {
  position:absolute;
  height:247px;
  width:666px;
  @include box-shadow(0px 2px 8px rgba(0, 0, 0, 0.35));
  @include border-radius(12px);
  z-index:2;
  background:black;
  #friend-trkr-search {
        position:absolute;
        right:-1px;
        top:273px;
        height:25px;
        width:202px;
        background:rgba(255,255,255,0.75);
        @include border-radius(7px);
        @include box-shadow(inset 0px 1px 6px rgba(0, 0, 0, 0.25));
        border: 1px solid #50A6C2;
        border-bottom: 1px solid #B0E0E6;
        z-index:1;
                input{
            background:transparent;
            padding:0.6em;
            border:none;
            width:145px;
        }
        input:focus{
            outline:none;
        }
  }
}
    .friend-info {
  position:absolute;
  height:100px;
   width:363px;
   top:199px;
        left:37px;
   z-index:1;
         background:rgba(255,255,255,0.75);
      @include border-radius(8px);
      @include box-shadow(0px 2px 8px rgba(0, 0, 0, 0.25));
      #f-info {
        position:relative;
        left:116px;
        top:56px;
        width:283px;
      }
  }
        #friend-image {
	      z-index:3;
        position:absolute;
        top:199px;
        left:37px;
        width:100px;
        height:100px;
      @include border-top-left-radius(8px);
      @include border-bottom-left-radius(8px);
      @include border-top-right-radius(8px);
      }

}