#friend-wrapper {
  margin:5px 0 0 0;
  position:relative;
  width:666px;
  height:300px;
  #friend-cover {
  position:absolute;
  height:247px;
  width:666px;
  @include box-shadow(0px 2px 8px rgba(0, 0, 0, 0.45));
  @include border-radius(12px);
  z-index:2;
  background:black;
  #friend-trkr-search {
        position:absolute;
        right:-1px;
        top:273px;
        height:25px;
        width:202px;
        background:rgba(255,255,255,0.75);
        @include border-radius(7px);
        @include box-shadow(inset 0px 1px 6px rgba(0, 0, 0, 0.25));
        border: 1px solid #50A6C2;
        border-bottom: 1px solid #B0E0E6;
        z-index:1;
                input{
            background:transparent;
            padding:0.6em;
            border:none;
            width:145px;
        }
        input:focus{
            outline:none;
        }
  }
}
    .friend-info {
  position:absolute;
  height:100px;
   width:363px;
   top:199px;
        left:37px;
   z-index:1;
         background:rgba(255,255,255,0.75);
      @include border-radius(8px);
      @include box-shadow(0px 2px 8px rgba(0, 0, 0, 0.25));
      #f-info {
        position:relative;
        left:116px;
        top:57px;
        width:283px;
      }
  }
        #friend-image {
	      z-index:3;
        position:absolute;
        top:199px;
        left:37px;
        width:100px;
        height:100px;
      @include border-top-left-radius(8px);
      @include border-bottom-left-radius(8px);
      @include border-top-right-radius(8px);
      }

}
#friend-data {
	position:relative;
	width:666px;
	margin:16px 0 18px 0;
	.friend-activity {
	width:446px;
	position:relative;
	ul {
	list-style-type:none;
	width:446px;
	margin:37px 0 24px 37px;
	li {
	float:left;
	position:relative;
	height:70px;
	width:364px;
	margin-bottom:10px;
		.each-activity {
			top:0px;
			left:0px;
			width:306px;
			height:70px;
			background-color:rgba(255,255,255,0.75);
			@include box-shadow(0px 2px 5px rgba(0, 0, 0, 0.25));
			position:relative;
			@include border-radius(8px);
			.activity-image {
				height:70px;
				width:70px;
				position:absolute;
				left:0px;
				top:0px;
				border-style:solid;
				border-right-width:3px;
				border-right-color:$orange;
				background-color:black;
				@include border-top-left-radius(8px);
				@include border-bottom-left-radius(8px);
				color:#fff;
				font-size:2em;
				text-shadow: $gray 0 2px 2px;
				.icon-screenshot {
					position:absolute;
					bottom:5px;
					left:1px;
				}
				.icon-star-empty {
					position:absolute;
					bottom:5px;
					left:1px;
				}
			}
			.follow-info {
				position:relative;
				left:83px;
				top:9px;
				.a-name {
					margin-bottom:4px;
				}
			}
			.rate-info {
				position:relative;
				left:83px;
				top:10px;
			}
		}
					.activity-play {
				position:absolute;
				top:0px;
				right:0px;
				height:70px;
				width:50px;
				line-height:70px;
				font-size:3em;
			}
			}
	}	
	.p-bulge-t {
		position:absolute;
		top:0px;
		left:0px;
		width:446px;
		height:19px;
	}
	.p-bulge-b {
		position:absolute;
		bottom:0px;
		left:0px;
		width:446px;
		height:19px;
	}
	}
	.friend-trkrs {
		width:205px;
		position:relative;
	}
}