#friend-information {  
position:relative;
height:300px;
margin-bottom:22px;
  #friend-cover {
  position:absolute;
  height:247px;
  width:700px;
  @include box-shadow(0px 2px 8px rgba(0, 0, 0, 0.45));
  @include border-radius(12px);
  z-index:2;
  background:$gray;
  background-repeat:no-repeat;
  background-position:center;
}
  #friend-trkr-search {
        height:25px;
        width:202px;
        background:rgba(255,255,255,0.75);
        @include border-radius(7px);
        @include box-shadow(inset 0px 1px 6px rgba(0, 0, 0, 0.25));
        border: 1px solid #50A6C2;
        border-bottom: 1px solid #B0E0E6;
        z-index:1;
        position:absolute;
        top:270px;
        right:-1px;
                input{
		            background:transparent;
		            padding:0.3em;
		            border:none;
		            width:153px;
		            outline:none;
        }
        input[type=text]:focus {
            @include box-shadow(inset 0px 1px 1px rgba(0, 0, 0, 0));
        }
  }
    .friend-info {
	   height:42px;
	   width:215px;
	   z-index:1;
	   margin:196px 0 0 25px;
	   background:rgba(255,255,255,0.75);
	   @include border-radius(8px);
	   @include box-shadow(0px 2px 8px rgba(0, 0, 0, 0.25));
	   padding:58px 0 0 116px;
	   position:absolute;
	   a {
		   color:$gray;
	   }
	   a:hover {
		   color:$orange;
	   }
	   h2 {
		   @extend .font-14;
		   font-weight:bold;
		  
	   }
	   span {
		   @extend .instruct-font;
		   color:$orange;
	   }
  }
        #friend-image {
          position:absolute;
          margin:192px 0 0 25px;
		  z-index:3;
	      width:100px;
	      height:100px;
	      @include border-top-left-radius(8px);
	      @include border-bottom-left-radius(8px);
	      @include border-top-right-radius(8px);
	      border-style:solid;
	      border-color:rgba(255,255,255,0.75);
	      border-width:2px;
	      background:$gray;
	      background-position:center;
	      background-repeat:no-repeat;
      }
}
.friend-trkrs {
 ul {
    list-style-type:none;
    width:666px;
    .each-friend-trkr {
    float: left;
    position:relative;
    height:178px;
    width:202px;
    @include border-radius(8px);
    margin:0 0 42px 30px;
   .new-friend-trkr {
      width:202px;
      height:178px;
      @include border-radius(8px);
      @include box-shadow(0px 2px 8px rgba(0,0,0,0.45));
	  position:relative;
	  overflow:hidden;
	            .black-tint {
            position:absolute; 
            height:178px;
          width:202px;
          @include border-radius(8px);
          $experimental-support-for-svg: true;
          @include background-image(linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,1) 94%, rgba(0,0,0,1) 100%));
          }
          .friend-trkr-info {
            @extend .instruct-font;
            @extend .font-20;
            position:absolute;
            text-align:center;
            line-height:1.4em;
            z-index:0;
            width:202px;
            display:block;
            bottom:20px;
            a {
              color:#fff;
            }
            a:hover {
              color:$orange;
            }
          }
          .opac-50 {
	      position:absolute;
	      z-index:1;
	      top:0px;
	      width:202px;
	      height:178px;
	      @include border-radius(8px);
	      background:rgba(0,0,0,0.75);
	      display:none;
      }
          .share-artist {
	      position:absolute;
	      height:178px;
	      width:202px;
	      z-index:2;
	      right:-202px;
	      top:17px;
	      h3 {
		      @extend .signika-txt;
		      @extend .font-20;
		      text-align:center;
	      }
	      ul {
			margin:auto;
  	        width: 52px * 3;
  	        padding:15px;
		 li {
	      height:38px;
	      width:38px;
	      line-height:38px;
	      @include border-radius(4px);
	      margin:0 7px 0 7px;
	      float: left;
      }
      .goo-icon {
		overflow:hidden;
		font-size:4.8em;	
      }
      .icon-twitter {
	      position:relative;
	      bottom:2px;
	      font-size:2.5em;
      }
      .icon-facebook {
	      position:relative;
	      right:1px;
	      font-size:2.5em;
      }
      .icon-google-plus {
	      position:relative;
	      right:20px;
	      top:6px;
      }
	      }
	      .share-cancel {
		       margin:10px auto;
		       width:40px;
		       @extend .button;

	      }
      }
    }
             .friend-trkr-buttons {
	          position:absolute;
	          height:25px;
	          width:138px;
	          top:165px;
	          left:62px;
	          z-index:3;
	          a {
	            color:#fff;
            }
            a:hover {
	            color:#fff;
            }
          }
   }
  }
span {
	@extend .button;
	float: right;
	margin:-3px 33px 31px 0;
}

}
