.header{
    height:110px;
    .p-head
    {
        height:25px;
        margin:-15px 15px 0 15px;
        @extend .right;
        @extend .o-button;
        #profile-pad {
	        padding:2px 7px 0 6px;
        }
    }
    .mini-search-common {
        @include border-radius(7px);
        @include box-shadow(inset 0px 1px 6px rgba(0, 0, 0, 0.25));
        @extend .right;
        border: 1px solid #50A6C2;
        border-bottom: 1px solid #B0E0E6;
        height:25px;
        width:158px;
        background:rgba(255,255,255,0.75);
        input{
            background:transparent;
            border:none;
            width:110px;
            outline:none;
        }
        input[type=text]:focus {
            @include box-shadow(inset 0px 1px 1px rgba(0, 0, 0, 0));
        }
        input:focus ~ .results { 
          display: block;
        }
    }
    .mini-search {
        @extend .mini-search-common;
        margin-top:-16px;
    }
    .mini-search-2 {
        @extend .mini-search-common;
        margin:-15px 11px 0 0;
    }
    .logo-home{
        position:relative;
        top:26px;
        width:202px;
        height:55px;
        left:-3px;
    }
}
    .search {
    	@extend .right;
    	@extend .search-button;
	    height:25px;
	    #search-pad {
		    padding:3px 6px 0 7px;
	    }
    }
.logout-button {
  margin:-15px 0 0 0;
  @extend .right;
  @extend .button;
  a {
	  color:#fff;
  }
  a:hover {
	  color:#fff;
  }
}

.fb-login {
	    margin:-16px 0 0 5px;
	    @extend .right;
	    @extend .facebook-button;
}