.homepage {
	h1 {
		margin-top:26px;
	}
}
#releases {
	margin-top:34px;
	height:294px;
	width:100%;
	background-color:$gray;
}
.signup-home {
	margin:40px 0 34px;
	text-align:center;
	.btn-warning {
		margin-left:10px;
	}
}
.sections {
	p {
		margin-top:16px;
	}
	.section {
		border-top:1px solid #d1d1d1;
		@extend .center;
		margin:0 auto;
		max-width:980px;
		overflow:hidden;
			&:last-child {
				border-bottom:1px solid #d1d1d1;
			}
			&:nth-child(odd) > .col:first-child {
				float:left;
				width:400px;
			}
			&:nth-child(odd) > .col:last-child {
				float:right;
			}
			&:nth-child(even) > .col:first-child {
				float:left;
			}
			&:nth-child(even) > .col:last-child {
				float:left;
				width:400px;
				margin-left:80px;
			}
			.follow {
				margin-top:96px;
			}
			.connect {
				margin-top:91px;
			}
			.discover {
				margin-top:74px;
			}
			.date {
				margin-top: 127px;
			}
	}
}
.social_share {
	margin-top:15px;
	.twitter-share-button {
		width: 88px !important;
		margin-right: 5px;
	}
	.fb-like {
		vertical-align: top;
		margin-right: 10px;
		margin-left: 28px;
		width: 81px;
	}
}
