.home-txt-1 {
    line-height:1.3em;
    font-size:1.2em;
    margin:8px 15px 8px 2px;
    width:320px;
    span {
	    margin:11px 0 5px 0;
	    display:block;
    }
}
.limbo-txt-1 {
	line-height:1.3em;
    @extend .font-14;
    margin:1px 15px 8px 2px;
    width:320px;
    span {
	    margin:11px 0 5px 0;
	    display:block;
    }
}
.home-header {
    width:328px;
    margin-left:2px;
}
#home-macbook {
   position:absolute;
   margin:-23px 0 0 -100px;
}
#home-points {
	position:relative;
	margin:13px 0 100px 0px;
	h2 {
	  	@extend .signika-txt;
	  	font-size:2.3em;
	  	margin:10px 0 10px 0;
	  }
	  #home1 {
	  	position:relative;
		  top:9px;
		  left:60px;
	  }
	  #home2 {
	  position:relative;
		  top:30px;
		  left:60px;
	  }
	  #home3 {
	  position:relative;
		  top:6px;
		  left:66px;
	  }
	  .discover {
		  position:absolute;
		  right:-16px;
	  }
}
.fb-home-login {
	margin:-1px 0 25px 0;
	float: left; 
	@extend .facebook-button;
}
#beta-form {
	margin-top:1px;
	input[type=text] {
		margin-left:2px;
		margin-bottom:6px !important;
	}
	input[type=submit] {
		margin:-7px 0 0 5px;
	}
}