#terms-txt{
width:700px;
  div {
	margin-bottom:7px;
	@extend .font-15;
	font-weight:bold;
  }
  h1 {
	  margin-bottom:16px;
  }
  ul {
    list-style-type: disc;
    margin-left: 20px;
    margin-bottom:16px;
  }
  ol {
    list-style-type:decimal;
    margin-left: 20px;
     margin-bottom:16px;
  }
  a
  {
    color:$gray;
  }
  a:hover {
    color:$orange;
  }
  p {
  margin-bottom:16px;
}
}
#privacy-txt{
width:700px;
  h1 {
	  margin-bottom:16px;
  }
  ul {
    list-style-type: disc;
    margin-left: 20px;
    margin-bottom:16px;
  }
  a
  {
    color:$gray;
  }
  a:hover {
    color:$orange;
  }
  p {
  margin-bottom:16px;
}
div {
	margin-bottom:7px;
	@extend .font-15;
	font-weight:bold;
}
}
.about-header {
	margin-bottom:19px;
}
.about-tabs {
  width:700px;
  background:rgba(255,255,255,0.75);
  @include border-radius(8px);
  @include box-shadow(0px 2px 8px rgba(0, 0, 0, 0.25));
  height:649px;
  .tab-content {
  		  padding:30px 30px 15px 12px;
	  h2 {
		 font-weight: bold;
		 font-size:1.3em;
		 margin-bottom:7px;
	  }
	  h3 {
		  font-size:1.2em;
		  margin-bottom:5px;
	  }
	    a {
		  color:$orange;
		  }
	  a:hover {
		  color:$gray;
		  }
	  #team-pic {
    height:285px;
    background:$gray;
    background-repeat:no-repeat;
    background-size: cover;
    background-position:bottom;
    background-position:center;
    width:474px;
    }
    	      ul {
		 li {
	      height:38px;
	      width:38px;
	      line-height:38px;
	      @include border-radius(4px);
	      margin-right:15px;
	      float: left;
      }
      .goo-icon {
		overflow:hidden;
		font-size:4.8em;	
      }
      .icon-twitter {
	      position:relative;
	      bottom:2px;
	      font-size:2.5em;
      }
      .icon-facebook {
	      position:relative;
	      right:1px;
	      font-size:2.5em;
      }
      .icon-google-plus {
	      position:relative;
	      right:20px;
	      top:6px;
      }
      }
  }
  .each-tab {
	  height:649px;
      @include background-image(linear-gradient(left,  rgba(0,0,0,0) 0%, rgba(102,102,102,0.1) 80%, rgba(102,102,102,0.2) 100%));
  }
}