#about-txt{
  position:relative;
  top:16px;
}
#terms-txt{
  position:relative;
  top:16px;
  padding:0 0 18px 0;
  ul {
    list-style-type: disc;
    margin-left: 20px;
    margin-bottom:16px;
  }
  ol {
    list-style-type:decimal;
    margin-left: 20px;
     margin-bottom:16px;
  }
  a
  {
    color:$orange;
  }
  a:hover {
    color:#000;
  }
  a:active {
    color:$orange;
  }
  a:visited {
    color:$orange;
  }
  p {
  margin-bottom:16px;
}
}
#social-media-about {
  position:relative;
  top:38px;
  width:666px;
  height:193px;
.boxes {
  list-style-type:none;
  margin-left:-30px;
}
.box {
  margin:0 0 67px 30px;
  background:rgba(255,255,255,0.75);
  @include border-radius(8px);
  @include box-shadow(0px 0px 8px rgba(0,0,0,0.45));
  width:171px;
  height:93px;
  padding:15px 15px 15px 15px;
  .text-nudge {
    position:relative;
    top:5px;
  }
  a {
    color:$orange;
  }
  a:hover {
    color:$orange;
  }
  ul.sm {
    list-style-type:none;
    margin-top:7px;
     a {
          color:#000;
        }
        a:hover {
          color:$orange;
        }
    .som {
      width:171px;
		position:relative;     
		margin-bottom:4px; 
      #fb-icon, #twit-icon, #goo-icon {
	      height:20px;
	      width:20px;
	      line-height:20px;
	      text-align:center;
	      color:#fff;
      }
      #fb-icon {
	      background-color:#3F6CBA;
	      font-size:1.3em;
      }
      #twit-icon {
	      background-color:#33CCFF;
	      font-size:1.3em;
      }
      #goo-icon {
	      background: #da4a38; /* Old browsers */
	      /* IE9 SVG, needs conditional override of 'filter' to 'none' */
	      background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2RhNGEzOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNhNTI4MWEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #da4a38 0%, #a5281a 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#da4a38), color-stop(100%,#a5281a)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #da4a38 0%,#a5281a 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #da4a38 0%,#a5281a 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #da4a38 0%,#a5281a 100%); /* IE10+ */
background: linear-gradient(to bottom,  #da4a38 0%,#a5281a 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#da4a38', endColorstr='#a5281a',GradientType=0 ); /* IE6-8 */
		overflow:hidden;
		font-size:2.3em;	
      }
      .icon-twitter {
	      position:relative;
	      right:1px;
	      bottom:1px;
      }
      .icon-google-plus {
	    position:relative;
		top:2px;
		right:9px;
      }
      .text-nudge-2 {
        position:absolute;
        top:2px;        
        left:34px;
      }
    }
  }
}
}
  .i-title {
	  margin-bottom:7px;
  }
#privacy-txt{
  position:relative;
  top:16px;
  padding:0 0 18px 0;
  ul {
    list-style-type: disc;
    margin-left: 20px;
    margin-bottom:16px;
  }
  a
  {
    color:$orange;
  }
  a:hover {
    color:#000;
  }
  a:active {
    color:$orange;
  }
  a:visited {
    color:$orange;
  }
  p {
  margin-bottom:16px;
}
}
#team-txt{
  position:relative;
  top:16px;
  a
  {
    color:$orange;
  }
  a:hover {
    color:#000;
  }
  a:active {
    color:$orange;
  }
  a:visited {
    color:$orange;
  }
  p {
  margin-bottom:16px;
}
}
#team {
  position:relative;
  padding:5px 0 22px 0;
.team-members {
  position:relative;
  width:668px;  
  padding:7px 0 0 0;
.team-pic-left {
  width:168px;
  height:153px;
  margin-left:-10px;
}
.team-pic-right {
  width:168px;
  height:153px;
  margin-right:-2px;
}
.team-desc {
  width:490px;
  height:133px;
  padding:13px 0 0 0;
  margin-top:-3px;
}
}
}