  #manage-choice {
  	.cancel {
		@extend .button;
		float:right;
	}
	input[type=submit] {
		float:right;
		margin-left:15px;
	}
	form {
		margin:0px;
	}
 ul {
    list-style-type:none;
    width:380px;
    li {
     width:380px;
    position:relative;
    margin:0 0 20px 0;
    img {
	    float:left;
    }
    div {
      float:left;
      margin-left:10px;
      	    h4 {
		    font-weight:bold;
		    font-size:1.1em;
	    }
    }
    input[type=radio] {
     float:right;
    }
    }
 }


}