.manage-top {
margin-bottom:11px;
img {
			position:absolute;
			}
a > div {
	float: left;
	margin-top:2px;
}
			}
.manage-point {
	h2 {
	@extend .signika-txt;
	@extend .font-25;
	margin:23px 0 10px 0;
		}
	span {
		width:372px;
		display:block;
	}
			}
	#manage1 {
		position:absolute;
		margin:30px 0 0 -67px;
			}
	#manage2 {
		position:absolute;
		margin:62px 0 0 -43px;
			}
	#manage3 {
		position:absolute;
		margin:30px 0 0 -37px;
			}
#manage-buffer {
	height:12px;
}
#manage-form{
  	position:relative;
    width:649px;
    overflow:hidden;
    margin:-1px 0 0 26px;
			#steps{
			    width:649px;
			    overflow:hidden;
			    margin-top:-4px;
			.step{
			    float: left;
			    width:649px;
			    height:632px;
			}
			.manage-itunes-step, .manage-7digital-step {
				a {
					color:$orange;
				}
				a:hover {
					color:$gray;
				}
			}
			.step-back {
			  	margin:5px 22px 5px 22px;
			  	width:545px;
			  	background:rgba(255,255,255,0.75);
			    @include border-radius(8px);
			    @include box-shadow(0px 2px 8px rgba(0, 0, 0, 0.25));
			    height:543px;
			    padding:44px 30px 44px 30px;
			    position:relative;
            ul {
            list-style-type:none;
            }
            input[type="file"] {
             
               background:transparent;
            }
            #submit-pad {
              position:relative;
              top:16px;
              left:-77px;
              float: right;
            }
     textarea {
	       resize:none;
     }
    .step-left {
      width:290px;
      float:left;
      #artist-summary {
	      li {
		      margin-bottom:18px;
	      }
      }
      #itunes-buttons {
	      a {
		      float: left;
		      margin-right:15px;
		      @extend .button;
	      } 
	      form {
		      float: left;
	      }
      }
      #itunes-results {
	      height:166px;
	      width:287px;
	      @extend .scrollbar;
	      ul {
		      list-style-type:none;
		      overflow-y:scroll;
		      overflow-x:hidden;
		      height:166px;
		      li {
			      float:left;
			      width:287px;
		      }
	      }
      }
      #profile-7d {
	     width:287px;
	     height:75px;
      .image-7d {
	      height:75px;
	      width:75px;
	      float: left;
      }
      .name-7d {
	      margin-left:10px;
	      float: left;
      }
      }
            #digital7-buttons {
	      a {
		      float: left;
		      margin-right:15px;
		      @extend .button;
	      } 
	      form {
		      float: left;
	      }
      }
            #digital7-results {
	      height:166px;
	      width:287px;
	      @extend .scrollbar;
	      ul {
		      list-style-type:none;
		      overflow-y:scroll;
		      overflow-x:hidden;
		      height:166px;
		      li {
			      floafet:left;
			      width:287px;
			      .info {
				      float:right;
				      width:150px;
				      margin-right:25px;
			      }
			      .image {
				      float:left;
				      width:100px;
			      }
		      }
	      }
      }
    }
    .step-right {
      width:226px;
      margin-top:-2px;
      float:right;
    }
    #artist-line {
      position:absolute;
      height:191px;
      border-style:solid;
      border-right-width:1px;
      border-right-color:$orange;
      top:16px;
      left:333px;
    }
    #details-line {
      position:absolute;
      height:599px;
      border-style:solid;
      border-right-width:1px;
      border-right-color:$orange;
      top:16px;
      left:333px;
    }
    #picture-line {
      position:absolute;
      height:243px;
      border-style:solid;
      border-right-width:1px;
      border-right-color:$orange;
      top:16px;
      left:333px;
    }
    #summary-line {
       position:absolute;
      height:339px;
      border-style:solid;
      border-right-width:1px;
      border-right-color:$orange;
      top:16px;
      left:333px;
    }
    #store-line {
      position:absolute;
      height:399px;
      border-style:solid;
      border-right-width:1px;
      border-right-color:$orange;
      top:16px;
      left:333px;
    }
    .manage-image {
      position:relative;
      top:0px;
      left:114px;
    }
}
}
#steps form .step{
    border:none;
    padding-bottom:20px;
}
#navigation{
	position:relative;
    height:45px;
    top:2px;
 ul{
    list-style:none;
    margin-left:-3px;
 li{
  float: left;
  @extend .button;
  position:relative;
  margin-left:25px;
  height:25px;
  width:71px;
  a {
    color:#fff;
  }
  a:hover {
    color:#fff;
  }
} 
}
}
#bulge-left {
  position:absolute;
  height:731px;
  top:5px;
  left:-13px;
  z-index:50;
  width:48px;
}
#bulge-right {
  position:absolute;
  height:731px;
  top:5px;
  right:-12px;
  z-index:50;
  width:48px;
}
#progress-bar {
  left:175px;
  position:relative;
  width:264px;
  height:20px;
  background:rgba(255,255,255,0.75);
  @include border-radius(12px);
  @include box-shadow(0px 2px 5px rgba(0, 0, 0, 0.25));
  top:19px;
  margin-bottom:25px; 
.progress {
  width:53px;
  height:20px;
  @include border-radius(12px);
  margin-left:-1px;
  @extend .o-button;
}
.percent {
  text-align:center;
  line-height:17px;
  color:#fff;
  font-size:1.1em;
  @extend .instruct-font;
}
}
}
 .swhite-tint {
   	display:none;
    position:absolute;
    top:0px;
    left:0px;
    background:rgba(255,255,255,0.4);
    height:25px;
    width:101px;
    @include border-radius(7px);
    z-index:2;
} 
.swhite-tint-2, .swhite-tint-3, .swhite-tint-4, .swhite-tint-5 {
  position:absolute;
    top:0px;
    left:0px;
    background:rgba(255,255,255,0.4);
    height:25px;
    width:101px;
    @include border-radius(7px);
    z-index:2;
}