    .add-release-header {
      margin-left:19px;
    }
#master-form-wrapper {
  position:relative;
  width:650px;
  left:8px;
#new-release-form{
    width:649px;
    overflow:hidden;
margin:14px 0 25px -3px;
position:relative;
#steps{
    width:649px;
    overflow:hidden;
.step{
    float:left;
    width:649px;
  height:239px;
}
.step-back {
  margin:5px 22px 5px 22px;
  width:545px;
  background:rgba(255,255,255,0.75);
    @include border-radius(8px);
    @include box-shadow(0px 2px 8px rgba(0, 0, 0, 0.25));
    height:151px;
    padding:44px 30px 44px 30px;
    position:relative;
    label { 
                width:118px; 
                display:block;
                float:left;
                margin-top:4px;
            }
            input[type="file"] {
              position:relative;
               background:transparent;
            }
            #submit-pad {
              position:relative;
              top:-1px;
              left:-90px;
              float: right;
            }
     textarea {
       resize:none;
     }
    .step-left {
      width:290px;
      float: left;
      .type-pad {
	      position:relative;
	      top:-4px;
      }
    }
    .step-right {
      width:226px;
      margin-top:-2px;
      float: right;
    }
    #avail-line {
      position:absolute;
      height:206px;
      border-style:solid;
      border-right-width:1px;
      border-right-color:$orange;
      top:16px;
      left:333px;
    }
    #details-line {
      position:absolute;
      height:287px;
      border-style:solid;
      border-right-width:1px;
      border-right-color:$orange;
      top:16px;
      left:333px;
    }
    #artwork-line {
      position:absolute;
      height:244px;
      border-style:solid;
      border-right-width:1px;
      border-right-color:$orange;
      top:16px;
      left:333px;
    }
    #summary-line {
       position:absolute;
      height:359px;
      border-style:solid;
      border-right-width:1px;
      border-right-color:$orange;
      top:16px;
      left:333px;
      .release-image {
      position:relative;
      top:17px;
      left:114px;
      .bleed {
        position:absolute;
        top:-21px;
        left:-21px;
      }
    }
    }
}
}
#steps form fieldset{
    border:none;
    padding-bottom:20px;
}
#navigation{
    height:45px;
 ul{
    list-style:none;
    position:relative;
    left:37px;
    top:2px;
 li{
  float: left;
  @extend .button;
  position:relative;
  margin-right:25px;
  height:25px;
  width:95px;
  a {
    color:#fff;
  }
  a:hover {
    color:#fff;
  }
} 
}
}
}
#bulge-left {
  position:absolute;
  height:337px;
  top:5px;
  left:-10px;
}
#bulge-right {
  position:absolute;
  height:338px;
  top:5px;
  right:-2px;
}
#progress-bar {
  left:175px;
  position:relative;
  width:264px;
  height:20px;
  background:rgba(255,255,255,0.75);
  @include border-radius(12px);
  @include box-shadow(0px 2px 5px rgba(0, 0, 0, 0.25));
  top:19px;
  margin-bottom:25px;
 
.progress {
  width:66px;
  height:20px;
  @include border-radius(12px);
  margin-left:-1px;
  @extend .o-button;
}
.percent {
  text-align:center;
  line-height:17px;
  color:#fff;
  font-size:1.1em;
  @extend .instruct-font;
}
}
}
#manage-image-restore {
      position:relative;
      left:-53px;
      float: right;
      @extend .button;
}
span.checked{
    background:transparent url(/images/checkedn.png) no-repeat top left;
    position:absolute;
    top:-1px;
    left:-1px;
    width:20px;
    height:20px;
    z-index:1;
}
span.error{
    background:transparent url(/images/errorn.png) no-repeat top left;
    position:absolute;
    top:-1px;
    left:-1px;
    width:20px;
    height:20px;
    z-index:1;
}
 .white-tint {
   display:none;
    position:absolute;
    top:0px;
    left:0px;
    background:rgba(255,255,255,0.4);
    height:25px;
    width:125px;
    @include border-radius(7px);
    z-index:2;
} 
.white-tint-2, .white-tint-3, .white-tint-4 {
  position:absolute;
    top:0px;
    left:0px;
    background:rgba(255,255,255,0.4);
    height:25px;
    width:125px;
    @include border-radius(7px);
    z-index:2;
}