#change-email {
  margin:0 0 30px 57px;
		  h1 {
			  margin-bottom:16px;
		  }
  			h3 {
	  			@extend .font-13;
	  			font-weight:bold;
	  			}
            label { 
                width:110px; 
                display:block;
                float:left;
                margin-top:6px;
            }
            li {
                padding:0 0 18px 0;
            }
            input[type=submit] {
	            margin:-3px 4px 0 0;
            }
}
#email-notify {
  margin:0 0 30px 57px;
  			h3 {
	  			@extend .font-13;
	  			font-weight:bold;
	  			}
            label { 
                width:110px; 
                display:block;
                margin:-18px 0 22px 30px;
            }
            li {
                @extend .left;
                display:block;
                width:67px;
                padding:0 52px 0 0;
            }
            input[type=submit] {
	           margin:-3px 4px 0 0;
            }
}
#manage-artist {
margin:0 0 54px 57px;
			h3 {
	  			@extend .font-13;
	  			font-weight:bold;
	  			}
			div, span {
				@extend .button;
				@extend .left;
			}
			div {
				margin-right:15px;
			}
}
#delete-account {
margin:0 0 57px 57px;
			h3 {
	  			@extend .font-13;
	  			font-weight:bold;
	  			}
span {
	@extend .left;
	@extend .button;
}
}
