.profile-menu {
    width:147px;
    margin:5px 0 0 56px;
    li {
	    @extend .o-button;
	    @extend .signika-font;
	    @extend .font-13;
	    width:147px;
	    margin-bottom:15px;
	    line-height:28px;
	    height:25px;
    }
    .trkrs-button {
      @extend  .instruct-font;
      height:68px;
      line-height:18px;
     span {
     position:relative;
     top:7px;
	      div {
		      @extend .font-25
	      }
	      .trkrs {
		      @extend .font-15;
	      }
      }
			    }
			  }
    .user, .artist {
        width:495px;
    div {
	    @extend .font-15;
    }
    }
    .artist {
		margin:6px 0 0 66px;
    }
    .user {
	    margin:8px 0 0 66px;
    }
.user-trkrs {
margin-bottom:38px;
  .no-trk {
    @extend .font-15;
    font-weight:bold;
    margin:48px 0 0 57px;
  }
     .p-bulge-t {
	  position:absolute;
	  width:666px;
	  margin:-7px 0 0 57px;
    }
.artist-trkr-list-search {
        height:25px;
        width:155px;
        background:rgba(255,255,255,0.75);
        @include border-radius(7px);
        @include box-shadow(inset 0px 1px 6px rgba(0, 0, 0, 0.25));
        border: 1px solid #50A6C2;
        border-bottom: 1px solid #B0E0E6;
        margin:37px 0 0 6px;
        input[type=text]{
            background:transparent;
            padding:0.3em;
            border:none;
            width:100px;
            outline:none;
        }
        input[type=text]:focus {
            @include box-shadow(inset 0px 1px 1px rgba(0, 0, 0, 0));
        }
        div {
	        @extend .search;
	        @extend .right;
	        @extend .search-button;
        }
    }
  #tracked-artists {
	list-style-type:none;
	margin:0 0 9px 42px;
    .no-trk-notify {
      margin:15px 0 0 15px;
    }
    li {
      width:155px;
      height:28px;
      padding:11px 0 17px 0;
      background:rgba(255,255,255,0.75);
      @include border-radius(8px);
      @include box-shadow(0px 2px 5px rgba(0, 0, 0, 0.25));
      margin:15px 0 0 15px;
      @extend .left;
      text-align:center;
      position:relative;
      div {
	      @extend .font-13;
	      font-weight:bold;
      }
      .followers {
	      @extend .instruct-font;
	      @extend .orange-txt;
      }
        a {
          color:#000;
        }
        a:hover {
          color:$orange;
        }
        .icon-remove {
	        position:absolute;
	        top:2px;
	        right:4px;
	        color:$orange;
	        font-size:0.9em;
        }
    }
  }
      .p-bulge-b {
      position:absolute;
      width:666px;
      margin-left:57px;
    }
}