.recommend-top {
	h1 {
		width:340px;
		margin-left:56px;
		
	}
	span {
		width:302px;
		line-height:1.4em;
		margin:9px 0 0 30px;
		display:block;
	}
}
.profile-recommend {
	margin-top:48px;
}
.recommendations {
  ul {
    list-style-type:none;
    margin:19px 0 0 26px;
    .each-recommend {
    float: left;
    position:relative;
    height:178px;
    width:202px;
    @include border-radius(8px);
    margin:0 0 42px 30px;
   .new-recommend {
      width:202px;
      height:178px;
      @include border-radius(8px);
      @include box-shadow(0px 2px 8px rgba(0,0,0,0.45));
	  position:relative;
	  overflow:hidden;
	            .black-tint {
            position:absolute; 
            height:178px;
          width:202px;
          @include border-radius(8px);
          $experimental-support-for-svg: true;
          @include background-image(linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,1) 94%, rgba(0,0,0,1) 100%));
          }
          .oneline{
	          top:129px;
          }
          .twoline {
	          top:98px;
          }
          .recommend-info {
            @extend .instruct-font;
            @extend .font-20;
            position:relative;
            text-align:center;
            line-height:1.4em;
            z-index:0;
            width:202px;
            display:block;
            height:30px;
            a {
              color:#fff;
            }
            a:hover {
              color:$orange;
            }
          }
          .opac-50 {
	      position:absolute;
	      z-index:1;
	      top:0px;
	      width:202px;
	      height:178px;
	      @include border-radius(8px);
	      background:rgba(0,0,0,0.75);
	      display:none;
      }
          .share-artist {
	      position:absolute;
	      height:178px;
	      width:202px;
	      z-index:2;
	      right:-202px;
	      top:17px;
	      h3 {
		      @extend .signika-txt;
		      @extend .font-20;
		      text-align:center;
	      }
	      ul {
			margin:auto;
  	        width: 52px * 3;
  	        padding:15px;
		 li {
	      height:38px;
	      width:38px;
	      line-height:38px;
	      @include border-radius(4px);
	      margin:0 7px 0 7px;
	      float: left;
      }
      .goo-icon {
		overflow:hidden;
		font-size:4.8em;	
      }
      .icon-twitter {
	      position:relative;
	      bottom:2px;
	      font-size:2.5em;
      }
      .icon-facebook {
	      position:relative;
	      right:1px;
	      font-size:2.5em;
      }
      .icon-google-plus {
	      position:relative;
	      right:20px;
	      top:6px;
      }
	      }
	      .share-cancel {
		       margin:10px auto;
		       width:40px;
		       @extend .button;

	      }
      }
    }
             .recommend-buttons {
	          position:absolute;
	          height:25px;
	          width:138px;
	          top:165px;
	          left:39px;
	          z-index:3;
          }
   }
  }
span {
	@extend .button;
	float: right;
	margin:-3px 58px 31px 0;
}
}