    .content-top {
  position:relative;
  width:666px;
  height:128px;
  .top-header {
    float:left;
    width:340px;
  }
  .content-top-right {
    float:right;
    width:302px;
    margin-top:9px;
    line-height:1.4em;
  }
}
.recommend-text-nudge {
  top:13px;
}
.recommended-artists-outer {
  position:relative;
  height:443px;
  margin-top:31px;
  .recommended-artists {
  position:relative;
  top:0px;
  width:667px;
  height:410px; 
  ul {
    list-style-type:none;
    margin-left:-30px;
    li {
      width:202px;
      height:178px;
      margin:0 0 42px 30px;
      @include border-radius(8px);
      @include box-shadow(0px 2px 8px rgba(0,0,0,0.45));
	  position:relative;
	            .black-tint {
            position:absolute; 
            height:178px;
          width:202px;
          @include border-radius(8px);
          $experimental-support-for-svg: true;
          @include background-image(linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,1) 94%, rgba(0,0,0,1) 100%));
          }
          .oneline{
	          top:129px;
          }
          .twoline {
	          top:98px;
          }
          .recommend-info {
            @extend .instruct-font;
            @extend .font-20;
            position:relative;
            text-align:center;
            line-height:1.4em;
            z-index:2;
            width:202px;
            display:block;
            height:178px;
            a {
              color:#fff;
            }
            a:hover {
              color:$orange;
            }
          }
          .recommend-trkr-button {
            z-index: 3;
            cursor: pointer;
            position:absolute;
            left:30px;
            bottom:-13px;
            @extend .o-button;
            @extend .trkr-o-pad;
            @extend .right;
            @extend .instruct-font;
            @extend .font-13;
          }
          .remove-recommend-trkr-button {
            position:absolute;
            left:42px;
            bottom:-25px;
          }
          .ignore-trk-artist {          
            z-index: 3;
            position: absolute;
            right: 30px;
            bottom: -13px;
      		  font-size:1.5em;
      		  padding:0 5px 0 5px;
      		  //line-height:26px;  
      		  text-align:center;        
          }
    }
  }
}
}
.recommend-continue {
  position:relative;
  right:-6px;
  bottom:1px;
  height:61px;
}
.other-recommend-nudge {
  margin-top:19px;
}