.release_artist {
	h2 {
		font-size:18px !important;
		color:$orange !important;
		margin:15px 0 0 !important;
		font-family: "MuseoSans-500", Helvetica, Arial, sans-serif !important;
		line-height:20px !important;
		a {
			color:$orange;
		}
	}
	h3 {
		font-size:14px !important;
		color: $gray !important;
		font-family: "MuseoSans-300", Helvetica, Arial, sans-serif !important;
		margin:0 0 6px 0 !important;
		line-height:25px !important;
	}
	.trackers {
		img {
			margin-right:10px;
		}
	}
	.releases {
		margin:7px 0 15px;
		img {
			margin:0 14px 0 5px;
		}
	}
	.track {
		width: 51px;
	}
	.share {
		margin:0 !important;
	}
	ul {
		margin:15px 0 0 2px !important;
		list-style-type:none;
		li {
			overflow:hidden;
			line-height:30px;
			font-size:13px !important;
			p, img {
				float:left;
			}
			p {
				margin-left:10px;
			}
			a {
				color:$darkgray;
					&:hover {
						color:$blue;
					}
			}
		}
	}
}
.release_info {
	img {
		float:left;
	}
	.info {
		float:left;
		margin-left:20px;
		h1 {
			margin:5px 0 10px !important;
			line-height:30px !important	;
			color: $blue !important;
			font-family: "MuseoSans-100", Helvetica, Arial, sans-serif !important;
		}
		p {
			font-size:15px !important;
		}
		.icon-tag, .icon-calendar {
			margin-right:15px;
		}
		.related {
			overflow:hidden;
			margin-bottom:14px;
			img {
				margin-right:10px;
			}
			p:first-child {
			 	margin:0 0 5px !important;
			}
		}
	}
	.tracklisting {
		h2 {
			border-bottom:1px #d1d1d1 solid;
			line-height:28px !important
		}
		ul {
			list-style-type:none;
			margin:20px 0 0 5px !important;
			li {
				margin-bottom:5px;
				overflow:hidden;
					p {
						display:inline-block;
						margin-left:15px;
					}
					span {
						float:right;
					}
			}
		}
	}
}