.result_search {
	h1 {
		float:left;
	}
}
.search-tab-content {
	.search_input {
		margin-top:23px;
		input {
			width:90%;
		}
	}
	.result {
		padding:15px 0;
		border-bottom:1px solid #d1d1d1; 
		overflow:hidden;
			.image {
				margin-right:15px;
				float:left;
			}
			span {
				display:block;
				div {
					color:$orange;
					font-family: "MuseoSans-500", Helvetica, Arial, sans-serif !important;
				}
				i {
					position:relative;
					top:-1px;
					margin-right:10px;
				}
			}
			a {
				color:$orange;
			}
			.btn {
				float:left;
				margin:9px 10px 0 0;
				i {
					position:relative;
					top:1px;
					margin-right:5px;
				}
			}
	}
	.tab-pane .result:first-child {
		padding:11px 0 15px !important;
	}
}