.result_search {
  h1 {
    float: left;
  }
}

.search-tab-content {
  .search_input {
    margin-top: 23px;
    input {
      width: 90%;
    }
  }
  .result {
    padding: 15px 0;
    border-bottom: 1px solid #d1d1d1;
    overflow: hidden;
    .image {
      margin-right: 15px;
      float: left;
      height:110px;
      width:110px;
    }
    span {
      display: block;
      div {
        color: $orange;
        font-family: "MuseoSans-500", Helvetica, Arial, sans-serif !important;
      }
      i {
        position: relative;
        top: -1px;
        margin-right: 10px;
      }
    }
    a {
      color: $orange;
    }
    .artist_l {
      color: $darkgray;
      &:hover {
        color: $blue;
      }
    }
    .btn {
      float: left;
      margin: 9px 10px 0 0 !important;
      color: $darkgray;
      i {
        position: relative;
        top: 1px;
        margin-right: 5px;
      }
    }
  }
  .tab-pane .result:first-child {
    padding: 11px 0 15px !important;
  }
}

.tt-hint {
  height: 18px !important;
}

.tt-dropdown-menu {
  width: 323px;
  left: 400px !important;
  .tt-suggestions {
    .tt-suggestion {
      background-color: #2A2A2A;
      color: #848484;
      overflow: hidden;
      font-family: "MuseoSans-500", Helvetica, Arial, sans-serif !important;
      .inner-suggest {
        padding: 5px 5px 5px;
        font-size: 13px;
        line-height: 1.5em;
        border-bottom: 1px solid #1A1A1A;
        border-top: 1px solid #333333;
        overflow: hidden;
        img {
          height: 40px;
          width: 40px;
          float:left;
          margin-right: 10px;
        }
        span {
          display:inline-block;
          width:220px;
          margin-right:7px; 
          @extend .fadeTo_grey;
          position:relative;
        }
        .artist_search {
          background-image: url(/images/ppl_white.png);
          background-repeat: no-repeat;
          width: 30px;
          height: 20px;
          display:inline-block;
          position:relative;
          bottom:3px;
        }
        .release_search {
          background-image: url(/images/release_wht.png);
          background-repeat: no-repeat;
          height: 20px;
          width: 20px;
          display:inline-block;
          position:relative;
          bottom:4px;
          left:4px;
        }
      }

    }
    .tt-is-under-cursor {
      background-color: $blue;
      color: #fff;
        span:after {
          background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, rgba(69,161,198,0)), color-stop(100%, #45a1c6)) !important;
          background-image: -webkit-linear-gradient(left, rgba(69,161,198,0),#45a1c6) !important;
          background-image: -moz-linear-gradient(left, rgba(69,161,198,0),#45a1c6) !important;
          background-image: -o-linear-gradient(left, rgba(69,161,198,0),#45a1c6) !important;
          background-image: linear-gradient(left, rgba(69,161,198,0),#45a1c6) !important;
        }
    }
  }
  .tt-dataset-query {
    .tt-suggestion {
      padding: 10px 5px 5px 5px;
      border-bottom: 1px solid #1A1A1A;
      cursor: pointer;
      span {
        color: #fff;
      }
    }
  }
}

.search-data-query {
  width: 323px;
  display: none;
  position: fixed;
  top: 46px;
  z-index: 5;
  background-color: #2A2A2A;
  font-family: "MuseoSans-500", Helvetica, Arial, sans-serif !important;
  border-bottom: 1px solid #1A1A1A;
  div {
    padding: 12px 5px 7px;
    span {
      color: #fff;
    }
  }
  a {
    color: #848484;
  }
  &:hover {
    background-color: $blue;
    div {
      color: #fff;
    }
  }
}

.data-query-highlight {
  background-color: $blue;
  div {
    color: #fff;
  }
}