.nav-tabs > .active > a, .nav-tabs > .active > a:hover, .nav-tabs > .active > a:focus {
  color: #fff !important;
  cursor: default;
  background-image: url('/images/tab.png') !important;
  .blk {
    display: none;
  }
  .wht {
    display: inline-block;
  }

}

.nav-tabs {
  border: none !important;
  margin-right: 38px !important;
  li {
    width: 249px;
    i {
      font-size: 21px;
      position: relative;
    }
    .icon-question-sign, .icon-file-alt {
      margin: 0px 13px 0 5px;
      top: 2px;
    }
    .icon-search {
      top: 1px;
      margin: 0px 10px 0 3px;
    }
    .icon-bar-chart {
      margin: 0 13px 0 3px;
      top: 3px;
    }
    .icon-check {
      margin: 0 13px 0 5px;
      top: 3px;
    }
    a {
      @include border-radius(0px !important);
      border: none !important;
      color: $darkgray !important;
      padding: 8px 20px 8px 6px !important;
      height: 22px;
      line-height: 22px !important;
      font-size: 15px !important;
    }
    .ppl {
      margin: -4px 12px 0 0;
    }
    .rel {
      margin: -4px 16px 0 5px;
    }
    .wht {
      display: none;
    }

  }
}