.release {
  background:#fff;
  @include border-radius(3px);
  @include box-shadow(0 0 6px rgba(0,0,0,0.2));
  height:326px;
  width:220px;
  margin:10px 11px 10px 10px;
  position:relative;
  float:left;
  @include box-sizing(border-box);
    .image {
      height:220px;
        div {
          background-color:#000;
          @include opacity(0);      
          @include transition-property(opacity);
          @include transition-duration(0.4s);
          @include transition-timing-function(linear);
        }
        &:hover div {
          @include opacity(0.35);
        }
        img, div {
          @include border-top-left-radius(3px);
          @include border-top-right-radius(3px);
          position:absolute;
          top:0px;
          left:0px;
          height:220px;
          width:220px;  
        }
    }
    .info {
      overflow:hidden;
      position:relative;
      margin-bottom: 1px;
      padding:0 10px;
        a {
          @extend .fade_to_white;
            &:first-child {
              color: $orange;
            }
        }
        h2 {
          color:$orange !important;
          font-family: "MuseoSans-700", Helvetica, Arial, sans-serif !important;
          margin:14px 0 7px;
            &:hover {
              color:$orange !important;
            }
        }
        h3 {
          color:$darkgray;
          font-family: "MuseoSans-300", Helvetica, Arial, sans-serif !important;
          font-size:16px;
          margin:5px 0 15px;
            &:hover {
              color:$blue;
            }
        }
        h2, h3 {
          line-height:16px;
        }
    }
    .actions {
      padding:0 10px 10px;
      .act {
        border:1px solid #e5e5e5;
        @include border-radius(3px);
        margin-right:5px;
        color:#848484;
        position:relative;
        font-family:"MuseoSans-500", Helvetica, Arial, sans-serif;
        @include box-shadow(0 1px 0 rgba(0,0,0,.05));
        @include transition-property(background-color, border-color, box-shadow, color);
        @include transition-duration(.218s,.218s,.218s,.218s);
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        background-color: #fff;
        border: 1px solid #d9d9d9;
        cursor: pointer;
        outline: none;
        width: auto;
        background-image: none;
        -webkit-appearance: none;
        font-size:13px;
          &.date, &.artist_tracker, &.artist_release {
            padding:6px 6px 6px 8px;
          }
          &.track_artist {
            padding:6px 9px;
            margin-right:1px;
            text-decoration: none;
          }
          &.share_release, &.share_artist {
            position: relative;
            top: 1px;
            cursor:pointer;
          }
          &.share_release {
            padding:6px 4px 4px 9px;
          }
          &.share_artist {
            padding: 6px 8px 4px 9px;
          }
          &.buy {
            padding:5px 10px 5px 8px;
            cursor:pointer;
          }
          &:hover {
            color:$darkgray;
              i {
                color:$darkgray;
              }
          }
          &.active {
            background-image: none;
            outline: 0;
            border-color: #bfbfbf;
            -webkit-appearance: none;
            @include box-shadow(0 1px 0 rgba(0,0,0,.1));
            @include box-shadow(inset 0 2px 4px rgba(0, 0, 0, .15), 0 1px 2px rgba(0, 0, 0, .05));
              i {
                color:$darkgray;
              }
              &:hover {
                border-color: #bfbfbf;
                background-image: none;
                -webkit-appearance: none;
                @include box-shadow(0 1px 0 rgba(0,0,0,.1));
                @include box-shadow(inset 0 2px 4px rgba(0, 0, 0, .15), 0 1px 2px rgba(0, 0, 0, .05));
              }
          }
          &:hover {
            border-color: #bfbfbf;
            background-image: none;
            -webkit-appearance: none;
            @include box-shadow(0 1px 0 rgba(0,0,0,.1));
          }
          div {
            display: inline-block;
            margin-right: 4px;
            position: relative;
            top: 2px;
          }
          &.artist_tracker div {
            @extend .sp-ppl-grey;
            width:20px;
            height:14px;
          }
          &.artist_release div {
            @extend .sp-release-grey;
            width:14px;
            height:14px;
          }
      }
      i {
          color:$gray;
      }
      .icon-calendar {
        margin-right:4px;
      }
    }
    &.fadeOutUp {
      display:none;
    }
    &.artist {
      width:465px;
      position: relative;
      display:none;
        .hero_image {
          height: 220px;
          position: relative;
          overflow: hidden;
            div:first-child {
              height:220px;
              position: absolute;
              top:0px;
              left:0px;
              background-repeat: no-repeat;
              background-size: 100%;
              background-position: center;
              width:245px;
              @include border-top-left-radius(3px);
            }
            .grad {
              background-color:#000;
              @include opacity(0);      
              @include transition-property(opacity);
              @include transition-duration(0.4s);
              @include transition-timing-function(linear);
              position: absolute;
              z-index: 1;
              top: 0px;
              left:0px;
              @include border-top-left-radius(3px);
              width:245px;
              height:220px;
            }
            &:hover .grad {
              @include opacity(0.35);
            }
        }
        .pop_releases.timeline_artist {
            a {
                @include transition-property(transform, opacity);
                @include transition-duration(0.4s, 0.4s);
                @include transition-timing-function(ease-in-out, linear);
                -webkit-backface-visibility: hidden;
                z-index:0;
                position: absolute;
                width:110px;
                height:110px;
                right:0px;
                top:0px;   
                    &:first-child {
                        @include border-top-right-radius(3px);
                    }
                    &:nth-child(2) {
                      top:110px !important;
                    }
                    &:nth-child(3) {
                      right:110px !important;
                    }
                    &:last-child {
                      top:110px !important;
                      right:110px !important;
                    }
                    &.blur {
                      @include opacity(0.75);
                      filter: alpha(opacity=75);
                    }
                    &.active {
                      transform: scale(1.1);
                      -webkit-transform: scale(1.1);
                      -moz-transform: scale(1.1);
                      -o-transform: scale(1.1);
                      -ms-transform: scale(1.1);
                      z-index: 1000;
                      @include box-shadow(5px 6px 15px rgba(0, 0, 0, 0.4));
                    }
            }
        }
        .info {
          height:68px;
          @extend .fade_to_white;
        }
        h2:hover {
          text-decoration: underline;
        }
        h3:hover {
          color:$darkgray !important;
        }
    }
}
.recommend_artists {
  padding:17px !important;
  width:465px;
  display:none;
    h2 {
        border-bottom: 1px #d1d1d1 solid;
        line-height: 28px !important;
        margin:0 0 20px;
    }
    .pins {
      width:49px;
      margin:5px auto 0;
        i {
          color:rgba(158,158,158, 0.45);
          font-size:13px;
          cursor:pointer;
          margin-right:4px;
          @include transition-property(color);
          @include transition-duration(0.2s);
          @include transition-timing-function(ease-in);
            &.active {
              color:rgba(77,77,77,0.8);
            }
            &:last-child {
              margin:0px;
            }
        }
    }
    #recommend_carousel {     
      @include opacity(1);
      @include transition-property(opacity);
      @include transition-duration(0.4s);
      @include transition-timing-function(ease-in);
        .item {
          overflow:hidden;
          height:231px;
            .carousel_suggest {
              overflow:hidden;
              margin-bottom:17px;
              float:left;
              width:205px;
              position:relative;
                img {
                  height:60px;
                  width:60px;
                  float:left;
                  margin-right:10px;
                }
                span {
                  display:block;
                  @extend .fade_to_white;
                  height:31px;
                    div {
                      margin-bottom:3px;
                        a {
                          color: $orange;
                          font-family: "MuseoSans-500", Helvetica, Arial, sans-serif !important;
                        }
                    }
                }
                .btn-small {
                  margin-top:5px;
                  padding:1px 10px;
                }
                &:nth-child(odd) {
                  margin-right:21px;
                }
            }
        }
    }
}