.unmanage-confirm {
    width:431px;
    height:286px;
    background: url(/images/box-bk-431.png) no-repeat;
    @include border-radius(8px);
    color:$gray;
    a {
	    color:#fff;
    }
    a:hover {
	    color:#fff;
    }
    .sure {
        font-size:2.8em;
        position:relative;
        top:28px;
        text-align:center;
      }
      #unmanage-txt-1 {
        position:relative;
        text-align:center;
        width:237px;
        display:block;
        left:97px;
        top:34px;
      }
      #unmanage-txt-2 {
        position:relative;
        text-align:center;
        width:237px;
        display:block;
        left:97px;
        top:44px;
          a {
	    color:$gray;
    }
    a:hover {
	    color:#fff;
    }
      }
      .unmanage-buttons {
      position:absolute;
      top:227px;
      left:159px;
      .unmanage-artist-button {
        margin-right:15px;  
      }
}
}
  #unmanage-confirmation {
    display:none;
  }