<% content_for :title do %>New release for <%= @artist.name %><% end %>
<% content_for :description do %>Adding a new music release for <%= @artist.name %>, so their fans can track, listen to and buy.<% end %>

<span class="span10 offset1">
	<%= render 'form' %>
</span>

