<!DOCTYPE html>
<html>
  <head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# sngtrkr: http://ogp.me/ns/fb/sngtrkr#">
    <%= stylesheet_link_tag "/bootstrap.css", :media => "all" %>
    <%= javascript_include_tag "/bootstrap.min.js" %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>